<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
 
<!-- =============================================================================== 
 # JBoss, Home of Professional Open Source. 
 # 
 # Copyright (c) 2000, 2009 MetaMatrix, Inc. and Red Hat, Inc. 
 # 
 # Some portions of this file may be copyrighted by other 
 # contributors and licensed to Red Hat, Inc. under one or more 
 # contributor license agreements. See the copyright.txt file in the 
 # distribution for a full listing of individual contributors. 
 # 
 # This program and the accompanying materials 
 # are made available under the terms of the Eclipse Public License v1.0 
 # which accompanies this distribution, and is available at 
 # http://www.eclipse.org/legal/epl-v10.html 
 # ================================================================================== --> 

<plugin>

   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.metamatrix.com/metamodels/Diagram"
            class="com.metamatrix.metamodels.diagram.DiagramPackage">
      </package>
   </extension>
<!--
   	Each extension below represents a single metamodel.  Each metmodel is
   	registered using under the specified <uri> value which must be the same
   	eNS_URI value defined in the EPackage class for that metamodel.
   -->
   <extension
         id="diagram"
         name="%metamodelName"
         point="com.metamatrix.modeler.core.metamodel">
      <uri>
         http://www.metamatrix.com/metamodels/Diagram
      </uri>
      <alternateUri>
         mtkplugin:///com.metamatrix.metamodels.Diagram
      </alternateUri>
      <packageClass
            name="com.metamatrix.metamodels.diagram.DiagramPackage">
      </packageClass>
      <adapterClass
            name="com.metamatrix.metamodels.diagram.provider.DiagramItemProviderAdapterFactory">
      </adapterClass>
      <properties
            createAsPhysical="false"
            requiresProxies="false"
            participatoryOnly="true"
            createAsVirtual="false"
            supportsExtension="true">
      </properties>
   </extension>

</plugin>
