<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
        id="SetConnectionProfileAction"
        name="%setConnectionProfileAction.name"
        point="org.teiid.designer.ui.modelResourceAction">
      <resourceAction
         name="org.teiid.designer.datatools.ui.actions.SetConnectionProfileAction"
         label="%setConnectionProfileAction.label">
      </resourceAction>
   </extension>
   <extension
        id="RemoveConnectionInfoAction"
        name="%removeConnectionInfoAction.name"
        point="org.teiid.designer.ui.modelResourceAction">
      <resourceAction
         name="org.teiid.designer.datatools.ui.actions.RemoveConnectionInfoAction"
         label="%removeConnectionInfoAction.label">
      </resourceAction>
   </extension>
   <extension
        id="ViewConnectionProfileAction"
        name="%viewConnectionProfileAction.name"
        point="org.teiid.designer.ui.modelResourceAction">
      <resourceAction
         name="org.teiid.designer.datatools.ui.actions.ViewConnectionProfileAction"
         label="%viewConnectionProfileAction.label">
      </resourceAction>
   </extension>
   
   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
   <newWizard
         class="org.teiid.designer.datatools.profiles.ldap.ConnectionProfileWizard"
         description="Create an LDAP connection profile."
         icon="icons/full/obj16/connectionFolder.gif"
         id="org.teiid.designer.datatools.profiles.ldap.ConnectionProfileWizard"
         name="LDAP"
         profile="org.teiid.designer.datatools.profiles.ldap.LDAPConnectionProfile"/>
   </extension>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.teiid.designer.datatools.profiles.ldap.PropertyPage"
            icon="icons/full/obj16/connectionFolder.gif"
            id="org.teiid.designer.datatools.profiles.ldap.profileProperties"
            name="%connectionProperties.name">
         <filter
               name="org.eclipse.datatools.profile.property.id"
               value="org.teiid.designer.datatools.profiles.ldap.LDAPConnectionProfile"/>
         <enabledWhen>
            <instanceof
                  value="org.eclipse.datatools.connectivity.IConnectionProfile">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>

   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
   <newWizard
         class="org.teiid.designer.datatools.profiles.ws.ConnectionProfileWizard"
         description="Create a Restful Web Service connection profile."
         icon="icons/full/obj16/web-service-cp.png"
         id="org.teiid.designer.datatools.profiles.ws.ConnectionProfileWizard"
         name="Web Services Data Source (REST)"
         profile="org.teiid.designer.datatools.profiles.ws.WSConnectionProfile"/>
   </extension>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.teiid.designer.datatools.profiles.ws.PropertyPage"
            icon="icons/full/obj16/web-service-cp.png"
            id="org.teiid.designer.datatools.profiles.ws.profileProperties"
            name="%connectionProperties.name">
         <filter
               name="org.eclipse.datatools.profile.property.id"
               value="org.teiid.designer.datatools.profiles.ws.WSConnectionProfile"/>
         <enabledWhen>
            <instanceof
                  value="org.eclipse.datatools.connectivity.IConnectionProfile">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   
   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
   		<newWizard
         class="org.teiid.designer.datatools.profiles.ws.WSSoapConnectionProfileWizard"
         description="Create a SOAP Web Service connection profile."
         icon="icons/full/obj16/web-service-cp.png"
         id="org.teiid.designer.datatools.profiles.ws.WSSoapConnectionProfileWizard"
         name="Web Services Data Source (SOAP)"
         profile="org.teiid.designer.datatools.profiles.ws.WSSoapConnectionProfile"/>
   </extension>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.teiid.designer.datatools.profiles.ws.WSSoapPropertyPage"
            icon="icons/full/obj16/web-service-cp.png"
            id="org.teiid.designer.datatools.profiles.ws.wsSoapProfileProperties"
            name="%connectionProperties.name">
         <filter
               name="org.eclipse.datatools.profile.property.id"
               value="org.teiid.designer.datatools.profiles.ws.WSSoapConnectionProfile"/>
         <enabledWhen>
            <instanceof
                  value="org.eclipse.datatools.connectivity.IConnectionProfile">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>

   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
   <newWizard
         class="org.teiid.designer.datatools.profiles.xml.XmlUrlConnectionProfileWizard"
         description="Create a URL connection profile to remote XML file."
         icon="icons/full/obj16/web-service-cp.png"
         id="org.teiid.designer.datatools.profiles.xml.XmlUrlConnectionProfileWizard"
         name="XML File URL Source"
         profile="org.teiid.designer.datatools.profiles.xml.fileurl"/>
   </extension>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.teiid.designer.datatools.profiles.xml.XmlUrlProfilePropertyPage"
            icon="icons/full/obj16/web-service-cp.png"
            id="org.teiid.designer.datatools.profiles.xml.urlProfileProperties"
            name="%connectionProperties.name">
         <filter
               name="org.eclipse.datatools.profile.property.id"
               value="org.teiid.designer.datatools.profiles.xml.fileurl"/>
         <enabledWhen>
            <instanceof
                  value="org.eclipse.datatools.connectivity.IConnectionProfile">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>

   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
   <newWizard
         class="org.teiid.designer.datatools.profiles.xml.XmlLocalFileConnectionProfileWizard"
         description="Create a connection profile to XML file on local file system."
         icon="icons/full/obj16/web-service-cp.png"
         id="org.teiid.designer.datatools.profiles.xml.XmlLocalFileConnectionProfileWizard"
         name="XML Local File Source"
         profile="org.teiid.designer.datatools.profiles.xml.localfile"/>
   </extension>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.teiid.designer.datatools.profiles.xml.XmlLocalFileProfilePropertyPage"
            icon="icons/full/obj16/web-service-cp.png"
            id="org.teiid.designer.datatools.profiles.xml.localFileProfileProperties"
            name="%connectionProperties.name">
         <filter
               name="org.eclipse.datatools.profile.property.id"
               value="org.teiid.designer.datatools.profiles.xml.localfile"/>
         <enabledWhen>
            <instanceof
                  value="org.eclipse.datatools.connectivity.IConnectionProfile">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>

   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
   <newWizard
         class="org.teiid.designer.datatools.profiles.modeshape.ConnectionProfileWizard"
         description="Create a ModeShape connection profile."
         icon="icons/full/obj16/modeshape_icon_16px.png"
         id="org.teiid.designer.datatools.profiles.modeshape.ModeShapeConnectionProfileWizard"
         name="ModeShape"
         profile="org.teiid.designer.datatools.profiles.modeshape.ModeShapeConnectionProfile"/>
   </extension>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.teiid.designer.datatools.profiles.modeshape.ModeShapePropertyPage"
            icon="icons/full/obj16/modeshape_icon_16px.png"
            id="org.teiid.designer.datatools.profiles.modeshape.profileProperties"
            name="%connectionProperties.name">
         <filter
               name="org.eclipse.datatools.profile.property.id"
               value="org.teiid.designer.datatools.profiles.modeshape.ModeShapeConnectionProfile"/>
         <enabledWhen>
            <instanceof
                  value="org.eclipse.datatools.connectivity.IConnectionProfile">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   
   <extension point="org.eclipse.datatools.connectivity.ui.driverUIContributor">
      <driverUIContributor
            class="org.teiid.designer.datatools.profiles.modeshape.ModeShapeDriverUIContributor"
            driverTemplateID="org.teiid.designer.datatools.connectivity.driver.modeShapeDriverTemplate"
            id="org.teiid.designer.datatools.profiles.modeshape.ModeShapeDriverUIContributor">
      </driverUIContributor>
   </extension>
   
   <extension point="org.eclipse.datatools.connectivity.ui.driverPropertyEditor">
      <propertyEditor
            customPropertyDescriptor="org.eclipse.datatools.connectivity.ui.PasswordTextPropertyDescriptor"
            driverPropertyID="org.eclipse.datatools.connectivity.db.password"
            driverTemplateID="org.teiid.datatools.connectivity.driver.serverDriverTemplate"
            id="org.eclipse.datatools.connectivity.teiid.ui.propertyEditor.password">
      </propertyEditor>
   </extension>
</plugin>
