<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
        id="SetConnectionProfileAction"
        name="%setConnectionProfileAction.name"
        point="org.teiid.designer.ui.modelResourceAction">
      <resourceAction
         name="org.teiid.designer.datatools.ui.actions.SetConnectionProfileAction"
         label="%setConnectionProfileAction.label">
      </resourceAction>
   </extension>
   
   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
   <newWizard
         class="org.teiid.designer.datatools.profiles.ldap.ConnectionProfileWizard"
         description="Create an LDAP connection profile."
         icon="icons/full/obj16/connectionFolder.gif"
         id="org.teiid.designer.datatools.profiles.ldap.ConnectionProfileWizard"
         name="LDAP"
         profile="org.teiid.designer.datatools.profiles.ldap.LDAPConnectionProfile"/>
   </extension>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.teiid.designer.datatools.profiles.ldap.PropertyPage"
            icon="icons/full/obj16/connectionFolder.gif"
            id="org.teiid.designer.datatools.profiles.ldap.profileProperties"
            name="Connection Properties">
         <filter
               name="org.eclipse.datatools.profile.property.id"
               value="org.teiid.designer.datatools.profiles.ldap.LDAPConnectionProfile"/>
      </page>
   </extension>

</plugin>
