<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  JBoss, Home of Professional Open Source.

  See the LEGAL.txt file distributed with this work for information regarding copyright ownership and licensing.

  See the AUTHORS.txt file distributed with this work for a full listing of individual contributors.
-->
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.teiid.designer.extension.ui.editors.ModelExtensionDefinitionEditor"
            default="true"
            extensions="mxd"
            id="org.teiid.designer.extension.ui.modelDefinitionEditor"
            icon="icons/model-extension-definition-editor.png"
            name="%modelExtensionDefinitionEditor.name">
      </editor>
   </extension>

<!-- Model Extension Registry View -->
   <extension
      point="org.eclipse.ui.views">
      <view
         name="%modelExtensionRegistryView"
         icon="icons/model-extension-registry-view.png"
         category="com.metamatrix.modeler.ui"
         class="org.teiid.designer.extension.ui.views.ModelExtensionRegistryView"
         id="org.teiid.designer.extension.ui.views.modelExtensionRegistryView">
      </view>
   </extension>

<!-- New wizards -->
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%modelCategory"
            id="com.metamatrix.modeler.ui">
      </category>
<!-- New Model Extension Definition wizard -->
      <wizard
            name="%newMedWizard"
            icon="icons/new-med-wiz.png"
            category="com.metamatrix.modeler.ui"
            class="org.teiid.designer.extension.ui.wizards.NewMedWizard"
            id="newMedWizard">
         <description>
            %newMedWizardDescription
         </description>
      </wizard>
   </extension> 
   
   <extension
        id="ManageModelExtensionDefnsAction"
        name="%manageModelExtensionDefnsAction.name"
        point="org.teiid.designer.ui.modelResourceAction">
      <resourceAction
         name="org.teiid.designer.extension.ui.actions.ManageModelExtensionDefnsAction"
         label="%manageModelExtensionDefnsAction.label">
      </resourceAction>
   </extension>
   
   <extension
        id="updateRegistryModelExtensionDefinitionAction"
        name="%updateRegistryModelExtensionDefinitionAction.name"
        point="org.teiid.designer.ui.modelResourceAction">
      <resourceAction
         name="org.teiid.designer.extension.ui.actions.UpdateRegistryModelExtensionDefinitionAction"
         label="%updateRegistryModelExtensionDefinitionAction.label">
      </resourceAction>
   </extension>
   <extension
         id="medMarker"
         name="%medMarker"
         point="org.eclipse.core.resources.markers">
         <super type="org.eclipse.core.resources.problemmarker" />
         <persistent value="true" />
   </extension> 
</plugin>
