<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  JBoss, Home of Professional Open Source.

  See the LEGAL.txt file distributed with this work for information regarding copyright ownership and licensing.

  See the AUTHORS.txt file distributed with this work for a full listing of individual contributors.
-->
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.teiid.designer.extension.ui.editors.ModelExtensionDefinitionEditor"
            default="true"
            extensions="mxd"
            id="org.teiid.designer.extension.ui.modelDefinitionEditor"
            name="Model Extension Definition">
      </editor>
   </extension>

<!-- Model Extension Registry View -->
   <extension
      point="org.eclipse.ui.views">
      <view
         name="%modelExtensionRegistryView"
         icon="icons/model-extension-registry-view.png"
         category="com.metamatrix.modeler.ui"
         class="org.teiid.designer.extension.ui.views.ModelExtensionRegistryView"
         id="org.teiid.designer.extension.ui.views.modelExtensionRegistryView">
      </view>
   </extension>
<!--
	<extension
		id="EditExtensionPropertiesAction"
		name="%editExtensionPropertiesAction.name"
        point="org.teiid.designer.ui.modelObjectSpecialAction">
      <specialAction
         name="org.teiid.designer.extension.ui.actions.EditExtensionPropertiesAction"
         label="%editExtensionPropertiesAction.label">
      </specialAction>
   </extension>
   -->
</plugin>
