<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  JBoss, Home of Professional Open Source.

  See the LEGAL.txt file distributed with this work for information regarding copyright ownership and licensing.

  See the AUTHORS.txt file distributed with this work for a full listing of individual contributors.
-->
<plugin>

     <extension-point id="vdbEditorUtil" name="%vdbEditorUtil" schema="schema/vdbEditorUtil.exsd"/>

  <extension
    point="org.eclipse.ui.views">
      <category
            name="%category.name.0"
            id="com.metamatrix.modeler.runtime.ui">
      </category>
      <view
            name="%connectorsView"
            icon="icons/full/obj16/connectorBinding.gif"
            category="com.metamatrix.modeler.ui"
            class="com.metamatrix.modeler.internal.dqp.ui.workspace.TeiidView"
            id="connectorsView">
      </view>
<!-- SqlResultsView -->
      <view
            name="%SqlResultsView.name"
            icon="icons/full/cview16/XmlResultsView.gif"
            category="SQLExplorerPlugin"
            class="com.metamatrix.modeler.internal.dqp.ui.views.SqlResultsView"
            id="sqlResultsView">
      </view>
<!-- PreviewDataView -->
      <view
            name="%PreviewDataView.name"
            icon="icons/full/cview16/XmlResultsView.gif"
            category="com.metamatrix.modeler.ui"
            class="com.metamatrix.modeler.internal.dqp.ui.views.PreviewDataView"
            id="previewDataView">
      </view>
<!-- XmlDocumentSqlResultsView -->
      <view
            name="%xmlDocumentSqlResultsView.name"
            icon="icons/full/cview16/XmlResultsView.gif"
            category="SQLExplorerPlugin"
            class="com.metamatrix.modeler.internal.dqp.ui.views.XmlDocumentSqlResultsView"
            id="xmlDocumentSqlResultsView">
      </view>
  </extension>
   <!-- Extension to allow plugins to contribute to the Modeler Perspective. -->
   <extension
         id="teiidPerspectiveContributor"
         name="%teiidPerspectiveContributor.name"
         point="org.teiid.designer.ui.modelerPerspectiveContributor">
      <class
        name="com.metamatrix.modeler.internal.dqp.ui.workspace.TeiidPerspectiveContributor">
      </class>
   </extension>
<!-- JDBC Client Perspective -->
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%jdbcClientPerspective.name"
            icon="icons/full/ctool16/run_vdb.gif"
            class="com.metamatrix.modeler.internal.dqp.ui.jdbc.JdbcClientPluginPerspective"
            id="jdbcClientPluginPerspective">
      </perspective>
   </extension>
<!-- jh Added to fix 19314 -->
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="jdbcClientPluginPerspective">
         <perspectiveShortcut id="jdbcClientPluginPerspective"/>
         
      </perspectiveExtension>
   </extension>
   
<!-- XML Document ResultSet Processor -->
  <extension
        id="xmlDocumentResultSetProcessor"
        name="%xmlDocumentResultSetProcessor.name"
        point="net.sourceforge.sqlexplorer.resultSetProcessor">
        <class
            name="com.metamatrix.modeler.internal.dqp.ui.jdbc.XmlDocumentResultSetProcessor">
        </class>
  </extension>
<!-- SQL ResultSet Processor -->
  <extension
        id="sqlResultSetProcessor"
        name="%sqlResultSetProcessor.name"
        point="net.sourceforge.sqlexplorer.resultSetProcessor">
        <class
            name="com.metamatrix.modeler.internal.dqp.ui.jdbc.SqlResultSetProcessor">
        </class>
  </extension>
<!-- Action to open the log file for a given Connection in SQLExplorer -->   
   <extension
        id="staledVDBChecker"
        name="%staledVDBChecker.name"
        point="net.sourceforge.sqlexplorer.sqlExecVetoListener">
        <class
            name="com.metamatrix.modeler.internal.dqp.ui.jdbc.StaledVDBChecker">
        </class>
   </extension>
   <extension
        id="staledExtensionModuleChecker"
        name="%staledExtensionModuleChecker.name"
        point="net.sourceforge.sqlexplorer.sqlExecVetoListener">
        <class
            name="com.metamatrix.modeler.internal.dqp.ui.jdbc.StaledExtensionModuleChecker">
        </class>
   </extension>
   <extension
         id="WebServiceRequestGenerator"
         name="%webServiceRequestDocGenerator.name"
         point="net.sourceforge.sqlexplorer.requestDocGenerator">
      <class name="com.metamatrix.modeler.internal.dqp.ui.connection.WebServiceRequestGenerator"/>
   </extension>

   <extension
         id="connectorBindingContentProvider"
         name="Connector Binding Content Provider"
         point="org.teiid.designer.ui.extendedModelContentProvider">
      <class
            name="com.metamatrix.modeler.internal.dqp.ui.workspace.ConnectionBindingModelContentProvider">
      </class>
   </extension>
   <extension
         id="connectorBindingLabelProvider"
         name="Connector Binding Label Provider"
         point="org.teiid.designer.ui.extendedModelLabelProvider">
      <class
            name="com.metamatrix.modeler.internal.dqp.ui.workspace.ConnectionBindingModelLabelProvider">
      </class>
   </extension>
   
<!-- Initializer for preferences -->
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="com.metamatrix.modeler.internal.dqp.ui.preferences.DqpUiPreferenceInitializer"/>
   </extension>
  <extension
         point="org.teiid.designer.ui.generalPreferenceContributor">
      <category
            id="dqpUiPreferenceCategory"
            name="%dqpUiPreferenceCategory">
      </category>
      <!-- Preview Row Count Preference -->
      <preference
            id="previewRowCountPreferenceContributor"
            categoryId="dqpUiPreferenceCategory"
            class="com.metamatrix.modeler.internal.dqp.ui.preferences.PreviewRowCountPreferenceContributor">
      </preference>
      <!-- Preview Max Results Preference -->
      <preference
            id="previewResultsCountPreferenceContributor"
            categoryId="dqpUiPreferenceCategory"
            class="com.metamatrix.modeler.internal.dqp.ui.preferences.PreviewResultsCountPreferenceContributor">
      </preference>
  </extension>
<!-- Actions contributed to the object/model generation -->
   <extension
        id="PreviewTableDataContextAction"
        name="%previewTableDataContextAction.name"
        point="org.teiid.designer.ui.modelObjectSpecialAction">
      <specialAction
         name="com.metamatrix.modeler.internal.dqp.ui.actions.PreviewTableDataContextAction"
         label="%previewTableDataContextAction.label">
      </specialAction>
   </extension>
      <extension
        id="DeployVdbAction"
        name="%deployVdbAction.name"
        point="org.teiid.designer.ui.modelResourceAction">
      <resourceAction
         name="org.teiid.designer.runtime.ui.DeployVdbAction"
         label="%deployVdbAction.label">
      </resourceAction>
   </extension>
   <extension
        id="SetConnectionProfileAction"
        name="%setConnectionProfileAction.name"
        point="org.teiid.designer.ui.modelResourceAction">
      <resourceAction
         name="org.teiid.designer.runtime.ui.connection.SetConnectionProfileAction"
         label="%setConnectionProfileAction.label">
      </resourceAction>
   </extension>
   <extension
        id="CreateDataSourceAction"
        name="%createDataSourceAction.name"
        point="org.teiid.designer.ui.modelResourceAction">
      <resourceAction
         name="org.teiid.designer.runtime.ui.connection.CreateDataSourceAction"
         label="%createDataSourceAction.label">
      </resourceAction>
   </extension>
   <extension
        id="DeleteDataSourceAction"
        name="%deleteDataSourceAction.name"
        point="org.teiid.designer.ui.modelResourceAction">
      <resourceAction
         name="org.teiid.designer.runtime.ui.connection.DeleteDataSourceAction"
         label="%deleteDataSourceAction.label">
      </resourceAction>
   </extension>

   <extension
         point="org.teiid.designer.vdb.sourceHandler">
      <class
            name="org.teiid.designer.runtime.ui.VdbSouceHandler">
      </class>
   </extension>
</plugin>
