<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  JBoss, Home of Professional Open Source.

  See the LEGAL.txt file distributed with this work for information regarding copyright ownership and licensing.

  See the AUTHORS.txt file distributed with this work for a full listing of individual contributors.
-->
<plugin>

     <extension-point id="vdbEditorUtil" name="%vdbEditorUtil" schema="schema/vdbEditorUtil.exsd"/>

   <!-- Extension to allow plugins to contribute to the Modeler Perspective. -->
   <extension
         id="teiidPerspectiveContributor"
         name="%teiidPerspectiveContributor.name"
         point="org.teiid.designer.ui.modelerPerspectiveContributor">
      <class
        name="org.teiid.designer.runtime.ui.views.TeiidPerspectiveContributor">
      </class>
   </extension>
   
<!-- Preferences -->
  <extension
         point="org.teiid.designer.ui.generalPreferenceContributor">
      <category
            id="dqpUiPreferenceCategory"
            name="%dqpUiPreferenceCategory">
      </category>
      <!-- Enable Auto-create Data Source Preference -->
      <preference
            id="autoCreateDataSourcePreferenceContributor"
            categoryId="dqpUiPreferenceCategory"
            class="org.teiid.designer.runtime.ui.preferences.AutoCreateDataSourcePreferenceContributor">
      </preference>
      <!-- Teiid Importer Timeout Preference -->
      <preference
            id="teiidImporterTimeoutPreferenceContributor"
            categoryId="dqpUiPreferenceCategory"
            class="org.teiid.designer.runtime.ui.preferences.TeiidImporterTimeoutPreferenceContributor">
      </preference>
      <!-- Teiid Server Start-up Timeout Preference -->
      <preference
            id="teiidServerStartupTimeoutPreferenceContributor"
            categoryId="dqpUiPreferenceCategory"
            class="org.teiid.designer.runtime.ui.preferences.TeiidServerStartupTimeoutPreferenceContributor">
      </preference>
      <!-- Enable QueryPlans Preference -->
      <preference
            id="enableQueryPlanPreferenceContributor"
            categoryId="dqpUiPreferenceCategory"
            class="org.teiid.designer.runtime.ui.preferences.EnableQueryPlanPreferenceContributor">
      </preference>
      <preference
            categoryId="dqpUiPreferenceCategory"
            class="org.teiid.designer.runtime.ui.preferences.JBossRequestTimeoutPreferenceContributor"
            id="jbossRequestTimeoutPreferenceContributor">
      </preference>
  </extension>
<!-- Actions contributed to the object/model generation -->
   <extension
        id="GetExecutionPlanContextAction"
        name="%getExecutionPlanContextAction.name"
        point="org.teiid.designer.ui.modelObjectSpecialAction">
      <specialAction
         name="org.teiid.designer.runtime.ui.actions.GetExecutionPlanContextAction"
         label="%getExecutionPlanContextAction.label">
      </specialAction>
   </extension>
   <extension
        id="PreviewTableDataContextAction"
        name="%previewTableDataContextAction.name"
        point="org.teiid.designer.ui.modelObjectSpecialAction">
      <specialAction
         name="org.teiid.designer.runtime.ui.preview.PreviewTableDataContextAction"
         label="%previewTableDataContextAction.label">
      </specialAction>
   </extension>
   <extension
        id="DeployVdbAction"
        name="%deployVdbAction.name"
        point="org.teiid.designer.ui.modelResourceAction">
      <resourceAction
         name="org.teiid.designer.runtime.ui.actions.DeployVdbAction"
         label="%deployVdbAction.label">
      </resourceAction>
   </extension>
   <extension
        id="DeployDynamicVdbAction"
        name="%deployVdbAction.name"
        point="org.teiid.designer.ui.modelResourceAction">
      <resourceAction
         name="org.teiid.designer.runtime.ui.actions.DeployDynamicVdbAction"
         label="%deployDynamicVdbAction.label">
      </resourceAction>
   </extension>
     <extension
        id="ExecuteVdbAction"
        name="%executeVdbAction.name"
        point="org.teiid.designer.ui.modelResourceAction">
      <resourceAction
         name="org.teiid.designer.runtime.ui.actions.ExecuteVDBAction"
         label="%executeVdbAction.label">
      </resourceAction>
   </extension>
   <extension
        id="GenerateWarAction"
        name="%generateWarAction.name"
        point="org.teiid.designer.ui.modelResourceAction">
      <resourceAction
         name="org.teiid.designer.runtime.ui.actions.GenerateWarAction"
         label="%generateWarAction.label">
      </resourceAction>
   </extension>
   <extension
        id="GenerateRestWarAction"
        name="%generateRestWarAction.name"
        point="org.teiid.designer.ui.modelResourceAction">
      <resourceAction
         name="org.teiid.designer.runtime.ui.actions.GenerateRestWarAction"
         label="%generateRestWarAction.label">
      </resourceAction>
   </extension>
   <extension
        id="CreateDataSourceAction"
        name="%createDataSourceAction.name"
        point="org.teiid.designer.ui.modelResourceAction">
      <resourceAction
         name="org.teiid.designer.runtime.ui.connection.CreateDataSourceAction"
         label="%createDataSourceAction.label">
      </resourceAction>
   </extension>
   <extension
        id="CreateDataSourceAction"
        name="%createVdbDataSourceAction.name"
        point="org.teiid.designer.ui.modelResourceAction">
      <resourceAction
         name="org.teiid.designer.runtime.ui.connection.CreateVdbDataSourceAction"
         label="%createVdbDataSourceAction.label">
      </resourceAction>
   </extension>
   <extension
        id="SetTranslatorNameAction"
        name="%setTranslatorNameAction.name"
        point="org.teiid.designer.ui.modelResourceAction">
      <resourceAction
         name="org.teiid.designer.runtime.ui.connection.SetTranslatorNameAction"
         label="%setTranslatorNameAction.label">
      </resourceAction>
   </extension>
   <extension
        id="SetJBossDataSourceNameAction"
        name="%setDataSourceJNDINameAction.name"
        point="org.teiid.designer.ui.modelResourceAction">
      <resourceAction
         name="org.teiid.designer.runtime.ui.connection.SetJBossDataSourceNameAction"
         label="%setDataSourceJNDINameAction.label">
      </resourceAction>
   </extension>
   <extension
         point="org.teiid.designer.vdb.sourceHandler">
      <class
            name="org.teiid.designer.runtime.ui.connection.VdbSourceConnectionHandler">
      </class>
   </extension>
   <extension
        id="EditTranslatorOverridesAction"
        name="%editTranslatorOverridesAction.name"
        point="org.teiid.designer.ui.modelResourceAction">
      <resourceAction
         name="org.teiid.designer.runtime.ui.connection.properties.EditTOPropertiesAction"
         label="%editTranslatorOverridesAction.label">
      </resourceAction>
   </extension>
   <extension
        id="GenerateDynamicVdbAction"
        name="%generateDynamicVdbAction.name"
        point="org.teiid.designer.ui.modelResourceAction">
      <resourceAction
         name="org.teiid.designer.runtime.ui.actions.GenerateDynamicVdbAction"
         label="%generateDynamicVdbAction.label">
      </resourceAction>
   </extension>
   <extension
        id="GenerateArchiveVdbAction"
        name="%generateArchiveVdbAction.name"
        point="org.teiid.designer.ui.modelResourceAction">
      <resourceAction
         name="org.teiid.designer.runtime.ui.actions.GenerateArchiveVdbAction"
         label="%generateArchiveVdbAction.label">
      </resourceAction>
   </extension>

<!-- Decorator -->
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            location="BOTTOM_LEFT"
            adaptable="false"
            label="%decorator.label"
            state="true"
            class="org.teiid.designer.runtime.ui.views.TeiidServerLabelProvider"
            id="org.teiid.designer.dqp.ui.decorator">
         <description>
            %decorator.description
         </description>
         <enablement>
            <objectClass
                  name="org.teiid.designer.runtime.ui.views.content.TeiidServerContainerNode">
            </objectClass>
         </enablement>
      </decorator>
      <decorator
            lightweight="true"
            location="BOTTOM_RIGHT"
            adaptable="true"
            label="%previewDecorator.label"
            state="true"
            class="org.teiid.designer.runtime.ui.views.PreviewModelObjectLabelProvider"
            id="org.teiid.designer.dqp.ui.previewDecorator">
         <description>
            %previewDecorator.description
         </description>
         <enablement>
            <objectClass
                  name="org.eclipse.emf.ecore.EObject">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.wst.server.ui.ServersView">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="org.teiid.designer.ui.servers.teiid.content">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="org.eclipse.wst.server.ui.ServersView">
         <includes>
            <actionExtension
                  pattern="org.teiid.designer.runtime.ui.views.Teiid.actions">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="org.teiid.designer.runtime.ui.views.Teiid">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="org.teiid.designer.runtime.ui.views.Teiid.content">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="org.teiid.designer.runtime.ui.views.Teiid">
         <includes>
            <actionExtension
                  pattern="org.teiid.designer.runtime.ui.views.Teiid.actions">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.teiid.designer.runtime.ui.views.TeiidServerContentProvider"
            icon="icons/full/ctool16/teiid-server.png"
            id="org.teiid.designer.ui.servers.teiid.content"
            labelProvider="org.teiid.designer.runtime.ui.views.TeiidViewDecoratingLabelProvider"
            name="%servers.navigatorContent.name"
            priority="lowest">
         <triggerPoints>
            <and>
                <instanceof
                  value="org.eclipse.wst.server.core.IServer">
                </instanceof>
                <adapt
                  type="org.teiid.designer.runtime.spi.ITeiidServer">
                </adapt>
            </and>
         </triggerPoints>
         <possibleChildren>
            <reference
                  definitionId="org.teiid.designer.dqp.ui.nodeDefinition">
            </reference>
         </possibleChildren>
         <dropAssistant
               class="org.teiid.designer.runtime.ui.views.TeiidServerDropAdapterAssistant"
               id="org.teiid.designer.dqp.ui.server.view.dropAdapter">
            <possibleDropTargets>
               <reference
                     definitionId="org.teiid.designer.dqp.ui.nodeDefinition">
               </reference>
            </possibleDropTargets>
         </dropAssistant>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.teiid.designer.runtime.ui.views.TeiidServerContentProvider"
            icon="icons/full/ctool16/teiid-server.png"
            id="org.teiid.designer.runtime.ui.views.Teiid.content"
            labelProvider="org.teiid.designer.runtime.ui.views.TeiidViewDecoratingLabelProvider"
            name="%teiidView.navigatorContent.name"
            priority="highest">
         <triggerPoints>
            <instanceof
                  value="org.teiid.designer.runtime.ui.views.content.ITeiidResourceNode">
            </instanceof>
         </triggerPoints>
         <possibleChildren>
            <reference
                  definitionId="org.teiid.designer.dqp.ui.nodeDefinition">
            </reference>
         </possibleChildren>
         <dropAssistant
               class="org.teiid.designer.runtime.ui.views.TeiidServerDropAdapterAssistant"
               id="org.teiid.designer.dqp.ui.teiid.view.dropAdapter">
            <possibleDropTargets>
               <reference
                     definitionId="org.teiid.designer.dqp.ui.nodeDefinition">
               </reference>
            </possibleDropTargets>
         </dropAssistant>
      </navigatorContent>
      <actionProvider
            class="org.teiid.designer.runtime.ui.views.TeiidServerActionProvider"
            id="org.teiid.designer.runtime.ui.views.Teiid.actions"
            priority="highest">
         <enablement>
            <or>
               <instanceof
                     value="org.teiid.designer.runtime.ui.views.content.ITeiidResourceNode">
               </instanceof>
               <instanceof
                     value="org.teiid.designer.runtime.ui.views.content.TeiidServerContainerNode">
               </instanceof>
               <instanceof
                     value="org.teiid.designer.runtime.ui.views.content.AbstractTeiidFolder">
               </instanceof>
               <instanceof
                     value="org.teiid.designer.runtime.ui.views.content.TeiidDataNode">
               </instanceof>
               <instanceof
                     value="org.teiid.designer.runtime.ui.views.content.TeiidErrorNode">
               </instanceof>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.wst.server.ui.ServersView">
         <command
               commandId="org.teiid.designer.dqp.ui.refreshServerAction"
               icon="icons/full/ctool16/refresh.gif"
               label="%refreshTeiidServerCommand.label"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.teiid.designer.runtime.ui.server.RefreshServerAction"
            description="%refreshTeiidServerAction.description"
            id="org.teiid.designer.dqp.ui.refreshServerAction"
            name="%refreshTeiidServerCommand.label">
      </command>
      <command
            defaultHandler="org.teiid.designer.runtime.ui.server.SetDefaultServerAction" 
            description="%setDefaultServerAction.description"
            id="org.teiid.designer.dqp.ui.setDefaultServerAction"
            name="%setDefaultServerCommand.label">
      </command>
      <command
            defaultHandler="org.teiid.designer.runtime.ui.server.EditServerAction" 
            description="%editServerAction.description"
            id="org.teiid.designer.dqp.ui.editServerAction"
            name="%editServerCommand.label">
      </command>
      <command
            defaultHandler="org.teiid.designer.runtime.ui.server.NewServerAction"
            description="%newServerAction.description"
            id="org.teiid.designer.dqp.ui.newServerAction"
            name="%newServerCommand.label">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.teiid.designer.runtime.ui.views.content.TeiidServerContainerNode"
            class="org.teiid.designer.runtime.ui.views.content.adapter.TeiidServerContainerNodeAdapterFactory">
         <adapter
               type="org.teiid.designer.runtime.spi.ITeiidServer">
         </adapter>
         <adapter
               type="org.teiid.designer.runtime.ui.views.content.ITeiidResourceNode">
         </adapter>
      </factory>
      <factory
            adaptableType="org.teiid.designer.runtime.ui.views.content.ITeiidResourceNode"
            class="org.teiid.designer.runtime.ui.views.content.adapter.TeiidResourceNodeAdapterFactory">
         <adapter
               type="org.teiid.designer.runtime.spi.ITeiidServer">
         </adapter>
         <adapter
               type="org.teiid.designer.runtime.ui.views.content.TeiidServerContainerNode">
         </adapter>
         <adapter
               type="org.teiid.designer.runtime.ui.views.content.ITeiidResourceNode">
         </adapter>
      </factory>
      <factory
            adaptableType="org.teiid.designer.runtime.ui.views.content.AbstractTeiidFolder"
            class="org.teiid.designer.runtime.ui.views.content.adapter.TeiidFolderAdapterFactory">
         <adapter
               type="org.teiid.designer.runtime.ui.views.content.ITeiidResourceNode">
         </adapter>
         <adapter
               type="org.teiid.designer.runtime.spi.ITeiidServer">
         </adapter>
      </factory>
      <factory
            adaptableType="org.teiid.designer.runtime.ui.views.content.TeiidDataNode"
            class="org.teiid.designer.runtime.ui.views.content.adapter.TeiidDataNodeAdapterFactory">
         <adapter
               type="org.teiid.designer.runtime.ui.views.content.ITeiidResourceNode">
         </adapter>
         <adapter
               type="org.teiid.designer.runtime.spi.ITeiidDataSource">
         </adapter>
         <adapter
               type="org.teiid.designer.runtime.spi.ITeiidTranslator">
         </adapter>
         <adapter
               type="org.teiid.designer.runtime.spi.ITeiidVdb">
         </adapter>
         <adapter
               type="org.teiid.designer.runtime.spi.ITeiidServer">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.teiid.designer.dqp.ui.nodeDefinition">
         <or>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
            <instanceof
                  value="org.teiid.designer.runtime.ui.views.content.ITeiidResourceNode">
            </instanceof>
            <instanceof
                  value="org.teiid.designer.runtime.ui.views.content.TeiidServerContainerNode">
            </instanceof>
            <instanceof
                  value="org.teiid.designer.runtime.ui.views.content.AbstractTeiidFolder">
            </instanceof>
            <instanceof
                  value="org.teiid.designer.runtime.ui.views.content.TeiidDataNode">
            </instanceof>
            <instanceof
                  value="org.teiid.designer.runtime.ui.views.content.TeiidErrorNode">
            </instanceof>
         </or>
      </definition>
   </extension>
   <extension
         point="org.teiid.designer.spi.teiidPasswordProvider">
      <passwordProvider
            class="org.teiid.designer.runtime.ui.connection.ConnectionPasswordProvider">
      </passwordProvider>
   </extension>
   <extension
         point="org.eclipse.wst.server.ui.editorPages">
      <page
            class="org.teiid.designer.runtime.ui.server.editor.TeiidServerEditor"
            id="org.teiid.designer.dqp.ui.TeiidServerPage"
            name="Teiid Instance"
            typeIds="%AllJBTTeiidServerTypes">
      </page>
   </extension>
</plugin>
