<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  JBoss, Home of Professional Open Source.

  See the LEGAL.txt file distributed with this work for information regarding copyright ownership and licensing.

  See the AUTHORS.txt file distributed with this work for a full listing of individual contributors.
-->
<plugin>

     <extension-point id="vdbEditorUtil" name="%vdbEditorUtil" schema="schema/vdbEditorUtil.exsd"/>

  <extension
    point="org.eclipse.ui.views">
      <category
            name="%category.name.0"
            id="com.metamatrix.modeler.runtime.ui">
      </category>
      <view
            name="%connectorsView"
            icon="icons/full/obj16/connectorBinding.gif"
            category="com.metamatrix.modeler.ui"
            class="com.metamatrix.modeler.internal.dqp.ui.workspace.TeiidView"
            id="connectorsView">
      </view>
  </extension>
   <!-- Extension to allow plugins to contribute to the Modeler Perspective. -->
   <extension
         id="teiidPerspectiveContributor"
         name="%teiidPerspectiveContributor.name"
         point="org.teiid.designer.ui.modelerPerspectiveContributor">
      <class
        name="com.metamatrix.modeler.internal.dqp.ui.workspace.TeiidPerspectiveContributor">
      </class>
   </extension>
   
<!-- Preferences -->
  <extension
         point="org.teiid.designer.ui.generalPreferenceContributor">
      <category
            id="dqpUiPreferenceCategory"
            name="%dqpUiPreferenceCategory">
      </category>
      <!-- Enable Preview Preference -->
      <preference
            id="enablePreviewPreferenceContributor"
            categoryId="dqpUiPreferenceCategory"
            class="com.metamatrix.modeler.internal.dqp.ui.preferences.EnablePreviewPreferenceContributor">
      </preference>
      <!-- Enable Teiid Preview Cleanup Preference -->
      <preference
            id="enableTeiidPreviewCleanupPreferenceContributor"
            categoryId="dqpUiPreferenceCategory"
            class="com.metamatrix.modeler.internal.dqp.ui.preferences.EnableTeiidPreviewCleanupPreferenceContributor">
      </preference>
      <!-- Enable Auto-create Data Source Preference -->
      <preference
            id="autoCreateDataSourcePreferenceContributor"
            categoryId="dqpUiPreferenceCategory"
            class="com.metamatrix.modeler.internal.dqp.ui.preferences.AutoCreateDataSourcePreferenceContributor">
      </preference>
  </extension>
<!-- Actions contributed to the object/model generation -->
   <extension
        id="GetExecutionPlanContextAction"
        name="%getExecutionPlanContextAction.name"
        point="org.teiid.designer.ui.modelObjectSpecialAction">
      <specialAction
         name="org.teiid.designer.runtime.ui.actions.GetExecutionPlanContextAction"
         label="%getExecutionPlanContextAction.label">
      </specialAction>
   </extension>
   <extension
        id="PreviewTableDataContextAction"
        name="%previewTableDataContextAction.name"
        point="org.teiid.designer.ui.modelObjectSpecialAction">
      <specialAction
         name="org.teiid.designer.runtime.ui.preview.PreviewTableDataContextAction"
         label="%previewTableDataContextAction.label">
      </specialAction>
   </extension>
      <extension
        id="DeployVdbAction"
        name="%deployVdbAction.name"
        point="org.teiid.designer.ui.modelResourceAction">
      <resourceAction
         name="org.teiid.designer.runtime.ui.actions.DeployVdbAction"
         label="%deployVdbAction.label">
      </resourceAction>
   </extension>
     <extension
        id="ExecuteVdbAction"
        name="%executeVdbAction.name"
        point="org.teiid.designer.ui.modelResourceAction">
      <resourceAction
         name="org.teiid.designer.runtime.ui.actions.ExecuteVDBAction"
         label="%executeVdbAction.label">
      </resourceAction>
   </extension>
   <extension
        id="GenerateWarAction"
        name="%generateWarAction.name"
        point="org.teiid.designer.ui.modelResourceAction">
      <resourceAction
         name="org.teiid.designer.runtime.ui.actions.GenerateWarAction"
         label="%generateWarAction.label">
      </resourceAction>
   </extension>
   <extension
        id="GenerateRestWarAction"
        name="%generateRestWarAction.name"
        point="org.teiid.designer.ui.modelResourceAction">
      <resourceAction
         name="org.teiid.designer.runtime.ui.actions.GenerateRestWarAction"
         label="%generateRestWarAction.label">
      </resourceAction>
   </extension>
   <extension
        id="CreateDataSourceAction"
        name="%createDataSourceAction.name"
        point="org.teiid.designer.ui.modelResourceAction">
      <resourceAction
         name="org.teiid.designer.runtime.ui.connection.CreateDataSourceAction"
         label="%createDataSourceAction.label">
      </resourceAction>
   </extension>
   <extension
        id="SetTranslatorNameAction"
        name="%setTranslatorNameAction.name"
        point="org.teiid.designer.ui.modelResourceAction">
      <resourceAction
         name="org.teiid.designer.runtime.ui.connection.SetTranslatorNameAction"
         label="%setTranslatorNameAction.label">
      </resourceAction>
   </extension>
   <extension
         point="org.teiid.designer.vdb.sourceHandler">
      <class
            name="org.teiid.designer.runtime.ui.connection.VdbSourceConnectionHandler">
      </class>
   </extension>

<!-- Decorator -->
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            location="BOTTOM_LEFT"
            adaptable="true"
            label="%decorator.label"
            state="true"
            class="com.metamatrix.modeler.internal.dqp.ui.workspace.TeiidViewTreeProvider"
            id="org.teiid.designer.dqp.ui.decorator">
         <description>
            %decorator.description
         </description>
         <enablement>
            <objectClass
                  name="org.teiid.designer.runtime.Server">
            </objectClass>
         </enablement>
      </decorator>
      <decorator
            lightweight="true"
            location="BOTTOM_RIGHT"
            adaptable="true"
            label="%previewDecoratorr.label"
            state="true"
            class="com.metamatrix.modeler.internal.dqp.ui.workspace.PreviewModelObjectLabelProvider"
            id="org.teiid.designer.dqp.ui.previewDecorator">
         <description>
            %previewDecorator.description
         </description>
         <enablement>
            <objectClass
                  name="org.eclipse.emf.ecore.EObject">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         id="applyRestWarPropertiesAction"
         name="%applyRestWarPropertiesAction.name"
         point="org.teiid.designer.ui.modelObjectSpecialAction">
      <specialAction
         name="org.teiid.designer.runtime.ui.extension.ApplyRestWarPropertiesAction"
         label="%applyRestWarPropertiesAction.label">
      </specialAction>
   </extension>
   <extension
         id="removeRestWarPropertiesAction"
         name="%removeRestWarPropertiesAction.name"
         point="org.teiid.designer.ui.modelObjectSpecialAction">
      <specialAction
         name="org.teiid.designer.runtime.ui.extension.RemoveRestWarPropertiesAction"
         label="%removeRestWarPropertiesAction.label">
      </specialAction>
   </extension>
</plugin>
