<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  JBoss, Home of Professional Open Source.

  See the LEGAL.txt file distributed with this work for information regarding copyright ownership and licensing.

  See the AUTHORS.txt file distributed with this work for a full listing of individual contributors.
-->
<plugin>
   <extension-point id="org.teiid.designer.vdb.sourceHandler" name="%sourceHandler" schema="schema/org.teiid.designer.vdb.sourceHandler.exsd"/>

   <extension
         point="org.teiid.designer.core.refactorModelHandler">
      <refactorHandler
            name="org.teiid.designer.vdb.VdbRefactorHandler">
      </refactorHandler>
   </extension>   
</plugin>

