<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  JBoss, Home of Professional Open Source.

  See the LEGAL.txt file distributed with this work for information regarding copyright ownership and licensing.

  See the AUTHORS.txt file distributed with this work for a full listing of individual contributors.
-->
<plugin>

     <extension-point id="vdbEditorUtil" name="%vdbEditorUtil" schema="schema/vdbEditorUtil.exsd"/>

  <extension
        point="org.eclipse.ui.views">
<!-- SqlResultsView -->
      <view
            name="%SqlResultsView.name"
            icon="icons/full/cview16/XmlResultsView.gif"
            category="SQLExplorerPlugin"
            class="com.metamatrix.modeler.internal.dqp.ui.views.SqlResultsView"
            id="sqlResultsView">
      </view>
<!-- PreviewDataView -->
      <view
            name="%PreviewDataView.name"
            icon="icons/full/cview16/XmlResultsView.gif"
            category="com.metamatrix.modeler.ui"
            class="com.metamatrix.modeler.internal.dqp.ui.views.PreviewDataView"
            id="previewDataView">
      </view>
<!-- User Defined Function (UDF) view -->
      <view
            name="%udfModelView"
            icon="platform:/plugin/org.teiid.designer.ui/icons/full/obj16/FunctionModel.gif"
            category="com.metamatrix.modeler.ui"
            class="com.metamatrix.modeler.internal.dqp.ui.workspace.udf.UdfModelView"
            id="udfModelView">
      </view>
<!-- XmlDocumentSqlResultsView -->
      <view
            name="%xmlDocumentSqlResultsView.name"
            icon="icons/full/cview16/XmlResultsView.gif"
            category="SQLExplorerPlugin"
            class="com.metamatrix.modeler.internal.dqp.ui.views.XmlDocumentSqlResultsView"
            id="xmlDocumentSqlResultsView">
      </view>
  </extension>
<!-- VDB Execution Tab contribution to the VDB Editor -->
  <extension
        id="connectorBindingsEditorpart"
        name="%connectorBindingsVdbEditorPage.name"
        point="org.teiid.designer.vdb.ui.vdbEditorPage">
        <class
            displayName="%connectorBindingsVdbEditorPage.name"
            name="com.metamatrix.modeler.internal.dqp.ui.config.ConnectorBindingsEditorPart">
        </class>
  </extension>
<!-- JDBC Client Perspective -->
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%jdbcClientPerspective.name"
            icon="icons/full/ctool16/run_vdb.gif"
            class="com.metamatrix.modeler.internal.dqp.ui.jdbc.JdbcClientPluginPerspective"
            id="jdbcClientPluginPerspective">
      </perspective>
   </extension>
<!-- jh Added to fix 19314 -->
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="jdbcClientPluginPerspective">
         <perspectiveShortcut id="jdbcClientPluginPerspective"/>
         
      </perspectiveExtension>
   </extension>
   
<!-- XML Document ResultSet Processor -->
  <extension
        id="xmlDocumentResultSetProcessor"
        name="%xmlDocumentResultSetProcessor.name"
        point="net.sourceforge.sqlexplorer.resultSetProcessor">
        <class
            name="com.metamatrix.modeler.internal.dqp.ui.jdbc.XmlDocumentResultSetProcessor">
        </class>
  </extension>
<!-- SQL ResultSet Processor -->
  <extension
        id="sqlResultSetProcessor"
        name="%sqlResultSetProcessor.name"
        point="net.sourceforge.sqlexplorer.resultSetProcessor">
        <class
            name="com.metamatrix.modeler.internal.dqp.ui.jdbc.SqlResultSetProcessor">
        </class>
  </extension>
<!-- Action to open the log file for a given Connection in SQLExplorer -->   
   <extension
        id="staledVDBChecker"
        name="%staledVDBChecker.name"
        point="net.sourceforge.sqlexplorer.sqlExecVetoListener">
        <class
            name="com.metamatrix.modeler.internal.dqp.ui.jdbc.StaledVDBChecker">
        </class>
   </extension>
   <extension
        id="staledExtensionModuleChecker"
        name="%staledExtensionModuleChecker.name"
        point="net.sourceforge.sqlexplorer.sqlExecVetoListener">
        <class
            name="com.metamatrix.modeler.internal.dqp.ui.jdbc.StaledExtensionModuleChecker">
        </class>
   </extension>
   <extension
         id="WebServiceRequestGenerator"
         name="%webServiceRequestDocGenerator.name"
         point="net.sourceforge.sqlexplorer.requestDocGenerator">
      <class name="com.metamatrix.modeler.internal.dqp.ui.connection.WebServiceRequestGenerator"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%category.name.0"
            id="com.metamatrix.modeler.runtime.ui">
      </category>
      <view
            name="%connectorsView"
            icon="icons/full/obj16/connectorBinding.gif"
            category="com.metamatrix.modeler.ui"
            class="com.metamatrix.modeler.internal.dqp.ui.workspace.ConnectorsView"
            id="connectorsView">
      </view>
   </extension>
   <!-- Extension to allow plugins to contribute to the Modeler Perspective. -->
   <extension
         id="connectorsPerspectiveContributor"
         name="%connectorsPerspectiveContributor.name"
         point="org.teiid.designer.ui.modelerPerspectiveContributor">
      <class
        name="com.metamatrix.modeler.internal.dqp.ui.workspace.ConnectorsPerspectiveContributor">
      </class>
   </extension>
   <!-- Extension to allow plugins to contribute to the Modeler Perspective. -->
   <extension
         id="udfModelViewContributor"
         name="%udfModelViewContributor.name"
         point="org.teiid.designer.ui.modelerPerspectiveContributor">
      <class
        name="com.metamatrix.modeler.internal.dqp.ui.workspace.udf.UdfViewPerspectiveContributor">
      </class>
   </extension>
   
   <extension
        id="BindToConnectorAction"
        name="%bindToConnectorAction.name"
        point="org.teiid.designer.ui.modelResourceAction">
      <resourceAction
         name="com.metamatrix.modeler.internal.dqp.ui.workspace.actions.BindToConnectorAction"
         label="%bindToConnectorAction.label">
      </resourceAction>
   </extension>
   <extension
        id="UnbindFromConnectorAction"
        name="%unbindFromConnectorAction.name"
        point="org.teiid.designer.ui.modelResourceAction">
      <resourceAction
         name="com.metamatrix.modeler.internal.dqp.ui.workspace.actions.UnbindFromConnectorAction"
         label="%unbindFromConnectorAction.label">
      </resourceAction>
   </extension>
   
   <extension
         id="connectorBindingContentProvider"
         name="Connector Binding Content Provider"
         point="org.teiid.designer.ui.extendedModelContentProvider">
      <class
            name="com.metamatrix.modeler.internal.dqp.ui.workspace.ConnectorBindingModelContentProvider">
      </class>
   </extension>
   <extension
         id="connectorBindingLabelProvider"
         name="Connector Binding Label Provider"
         point="org.teiid.designer.ui.extendedModelLabelProvider">
      <class
            name="com.metamatrix.modeler.internal.dqp.ui.workspace.ConnectorBindingModelLabelProvider">
      </class>
   </extension>
   
   <extension
         id="udfModelJarsContentProvider"
         name="Udf Jars Content Provider"
         point="org.teiid.designer.ui.extendedModelContentProvider">
      <class
            name="com.metamatrix.modeler.internal.dqp.ui.workspace.udf.UdfJarContentProvider">
      </class>
   </extension>
   <extension
         id="udfModelJarsLabelProvider"
         name="Udf Jars  Label Provider"
         point="org.teiid.designer.ui.extendedModelLabelProvider">
      <class
            name="com.metamatrix.modeler.internal.dqp.ui.workspace.udf.UdfJarLabelProvider">
      </class>
   </extension>
   
<!-- Initializer for preferences -->
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="com.metamatrix.modeler.internal.dqp.ui.preferences.DqpUiPreferenceInitializer"/>
   </extension>
  <extension
         point="org.teiid.designer.ui.generalPreferenceContributor">
      <category
            id="dqpUiPreferenceCategory"
            name="%dqpUiPreferenceCategory">
      </category>
      <!-- Preview Row Count Preference -->
      <preference
            id="previewRowCountPreferenceContributor"
            categoryId="dqpUiPreferenceCategory"
            class="com.metamatrix.modeler.internal.dqp.ui.preferences.PreviewRowCountPreferenceContributor">
      </preference>
      <!-- Preview Max Results Preference -->
      <preference
            id="previewResultsCountPreferenceContributor"
            categoryId="dqpUiPreferenceCategory"
            class="com.metamatrix.modeler.internal.dqp.ui.preferences.PreviewResultsCountPreferenceContributor">
      </preference>
  </extension>
<!-- JDBC Importer Post Processor (Connector Binding) -->
  <extension
        point="org.teiid.designer.jdbc.ui.jdbcImportPostProcessor"
        id="connectorBindingImportPostProcessor"
        name="%connectorBindingImportPostProcessor">
        <class
            name="com.metamatrix.modeler.internal.dqp.ui.jdbc.ConnectorBindingImportPostProcessor">
        </class>
  </extension>
<!-- Actions contributed to the object/model generation -->
   <extension
        id="PreviewTableDataContextAction"
        name="%previewTableDataContextAction.name"
        point="org.teiid.designer.ui.modelObjectSpecialAction">
      <specialAction
         name="com.metamatrix.modeler.internal.dqp.ui.actions.PreviewTableDataContextAction"
         label="%previewTableDataContextAction.label">
      </specialAction>
   </extension>

<!-- Eclipse Import Wizards -->
    <extension
        point="org.eclipse.ui.importWizards">

        <!-- UDF Model Import Wizard -->
        <wizard
            name="%importUdfModelWizard.name"
            icon="icons/full/ctool16/importUDFModel.gif"
            category="com.metamatrix.modeler.ui"
            class="com.metamatrix.modeler.internal.dqp.ui.workspace.udf.UdfModelImportWizard"
            id="udfModelImportWizard">
            <description>
                %importUdfModelWizard.description
            </description>
        </wizard>
    </extension>
   
<!-- Eclipse Export Wizards -->
    <extension
        point="org.eclipse.ui.exportWizards">
        
        <!-- UDF Model Export Wizard -->
        <wizard
            name="%exportUdfModelWizard.name"
            icon="icons/full/ctool16/exportUDFModel.gif"
            category="com.metamatrix.modeler.ui"
            class="com.metamatrix.modeler.internal.dqp.ui.workspace.udf.UdfModelExportWizard"
            id="udfModelExportWizard">
            <description>
                %exportUdfModelWizard.description
            </description>
        </wizard>
    </extension>
</plugin>
