<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
 
<!-- =============================================================================== 
 # JBoss, Home of Professional Open Source. 
 # 
 # Copyright (c) 2000, 2009 MetaMatrix, Inc. and Red Hat, Inc. 
 # 
 # Some portions of this file may be copyrighted by other 
 # contributors and licensed to Red Hat, Inc. under one or more 
 # contributor license agreements. See the copyright.txt file in the 
 # distribution for a full listing of individual contributors. 
 # 
 # This program and the accompanying materials 
 # are made available under the terms of the Eclipse Public License v1.0 
 # which accompanies this distribution, and is available at 
 # http://www.eclipse.org/legal/epl-v10.html 
 # ================================================================================== --> 

<plugin>

     <extension
         id="uml2"
         name="%metamodelName"
         point="com.metamatrix.modeler.core.metamodel">
      <uri>
         http://www.eclipse.org/uml2/2.1.0/UML
      </uri>
      <alternateUri>
         http:///org/eclipse/uml2.ecore
      </alternateUri>
      <alternateUri>
         mtkplugin:///com.metamatrix.metamodels.Uml2
      </alternateUri>
      <properties
            createAsNewModel="true"
            createAsPhysical="true"
            requiresProxies="false"
            participatoryOnly="false"
            createAsVirtual="false"
            supportsDiagrams="true"
            supportsExtension="false">
      </properties>
      <allowableModelType>
      	LOGICAL
      </allowableModelType>
      <packageClass
            name="org.eclipse.uml2.UML2Package">
      </packageClass>
      <adapterClass
            name="org.eclipse.uml2.uml.edit.providers.UMLItemProviderAdapterFactory">
      </adapterClass>
      <rootEntityClass
            name="org.eclipse.uml2.Model">
      </rootEntityClass>
      <rootEntityClass
            name="org.eclipse.uml2.Package">
      </rootEntityClass>
   </extension>
   
<!-- InvocationFactoryHelper extension -->
   <extension
         id="umlInvocationFactoryHelper"
         name="UmlInvocationFactoryHelper"
         point="com.metamatrix.modeler.core.invocationFactoryHelper">
      <class
            name="com.metamatrix.metamodels.uml2.proxy.UmlInvocationFactoryHelper">
      </class>
   </extension>
   
<!-- MetamodelAspect extensions -->
   <extension
         id="uml2UmlAspect"
         point="com.metamatrix.modeler.core.umlDiagramAspect">
      <metamodelExtensionID>
         uml2
      </metamodelExtensionID>
      <factoryClass
            name="com.metamatrix.metamodels.uml2.aspects.uml.Uml2UmlAspectFactoryImpl">
      </factoryClass>
   </extension>
   <extension
         id="uml2ValidationAspect"
         point="com.metamatrix.modeler.core.validationAspect">
      <metamodelExtensionID>
         uml2
      </metamodelExtensionID>
      <factoryClass
            name="com.metamatrix.metamodels.uml2.aspects.validation.Uml2ValidationAspectFactoryImpl">
      </factoryClass>
   </extension>
<!-- EObject Matcher extensions -->
   <extension
         id="uml2MatcherFactory"
         point="com.metamatrix.modeler.core.eobjectMatcherFactory">
      <class
            name="com.metamatrix.metamodels.uml2.compare.UmlObjectMatcherFactory">
      </class>
   </extension>
<!-- Assocation extensions -->
   <extension
         id="generalizationAssociationProvider"
         point="com.metamatrix.modeler.core.associationProvider">
      <providerClass
            name="com.metamatrix.metamodels.uml2.provider.Uml2GeneralizationProvider">
      </providerClass>
   </extension>
   <extension
         id="associationAssociationProvider"
         point="com.metamatrix.modeler.core.associationProvider">
      <providerClass
            name="com.metamatrix.metamodels.uml2.provider.Uml2AssociationProvider">
      </providerClass>
   </extension>
   <extension
         id="dependencyAssociationProvider"
         point="com.metamatrix.modeler.core.associationProvider">
      <providerClass
            name="com.metamatrix.metamodels.uml2.provider.Uml2DependencyProvider">
      </providerClass>
   </extension>
   
<!-- ExternalResource extension -->
   <extension
         id="builtInPrimitiveTypesResource"
         name="%builtInPrimitiveTypesResourceName"
         point="com.metamatrix.modeler.core.externalResource">
      <resourceName>
         primitiveTypes.xmi
      </resourceName>
      <resourceUrl>
         primitiveTypes.zip
      </resourceUrl>
      <internalUri>
         http://www.metamatrix.com/metamodels/UmlPrimitiveTypes-instance
      </internalUri>
   </extension>
   <extension
         id="uml2ResourceLoadOptions"
         name="%uml2ResourceLoadOptionsName"
         point="com.metamatrix.modeler.core.resourceLoadOptions">
      <class
            name="com.metamatrix.metamodels.uml2.util.Uml2ResourceLoadOptionContributor">
      </class>
   </extension>

</plugin>
