<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
 
<!-- =============================================================================== 
 # JBoss, Home of Professional Open Source. 
 # 
 # Copyright (c) 2000, 2009 MetaMatrix, Inc. and Red Hat, Inc. 
 # 
 # Some portions of this file may be copyrighted by other 
 # contributors and licensed to Red Hat, Inc. under one or more 
 # contributor license agreements. See the copyright.txt file in the 
 # distribution for a full listing of individual contributors. 
 # 
 # This program and the accompanying materials 
 # are made available under the terms of the Eclipse Public License v1.0 
 # which accompanies this distribution, and is available at 
 # http://www.eclipse.org/legal/epl-v10.html 
 # ================================================================================== --> 

<plugin>

     <extension
         id="generateVirtualModelContributor"
         name="%generateVirtualModelContributor"
         point="com.metamatrix.modeler.ui.newModelWizardContributor">
      <class
            name="com.metamatrix.modeler.modelgenerator.ui.wizards.GenerateVirtualModelContributor"
            icon="icons/full/ctool16/newmodel_wiz.gif">
      </class>
      <metamodelDescriptorType
            name="http://www.metamatrix.com/metamodels/Relational"
            isPhysical="true"
            isVirtual="true">
      </metamodelDescriptorType>
   </extension>
   <extension
         id="com.metamatrix.modeler.ui.modelgenerator.uml2relational.pastespecial"
         name="%relationalFromUml.name"
         point="com.metamatrix.modeler.ui.metadataPasteSpecial">
      <class
            label="%relationalFromUml.label"
            description="%relationalFromUml.description"
            classname="com.metamatrix.modeler.modelgenerator.ui.paste.Uml2RelationalPasteContributor">
      </class>
   </extension>
   <extension
         id="com.metamatrix.modeler.ui.modelgenerator.uml2relational.refresh"
         name="%refreshRelationalFromUml.name"
         point="com.metamatrix.modeler.ui.metadataRefresh">
      <class
            label="%refreshRelationalFromUml.label"
            description="%refreshRelationalFromUml.description"
            classname="com.metamatrix.modeler.modelgenerator.ui.refresh.RefreshVirtualModelContributor">
      </class>
   </extension>

</plugin>
