target
.settings
bin
tmp

# OS X (Mac)
.DS_Store

# Eclipse
.metadata

# Designer indexing
COLUMNS.INDEX
TABLES.INDEX
tests/org.teiid.designer.core.test/testdata/larger_test.index

plugins/org.teiid.designer.legacy/System.vdb
plugins/teiid_embedded_query/System.vdb
plugins/org.teiid.designer.ui/launch

plugins/*/lib/*.jar
