<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
 
<!-- =============================================================================== 
 # JBoss, Home of Professional Open Source. 
 # 
 # Copyright (c) 2000, 2009 MetaMatrix, Inc. and Red Hat, Inc. 
 # 
 # Some portions of this file may be copyrighted by other 
 # contributors and licensed to Red Hat, Inc. under one or more 
 # contributor license agreements. See the copyright.txt file in the 
 # distribution for a full listing of individual contributors. 
 # 
 # This program and the accompanying materials 
 # are made available under the terms of the Eclipse Public License v1.0 
 # which accompanies this distribution, and is available at 
 # http://www.eclipse.org/legal/epl-v10.html 
 # ================================================================================== --> 

<plugin>

    
<!-- DatatypeManager extension -->
   <extension
         id="defaultDatatypeManager"
         name="%datatypeManagerName"
         point="com.metamatrix.modeler.core.datatypeManager">
      <class
            name="com.metamatrix.modeler.internal.sdt.types.WorkspaceDatatypeManager">
      </class>
   </extension>
<!-- ExternalResource extension -->
   <extension
         id="builtInDatatypesResource"
         name="%builtInDatatypesResourceName"
         point="com.metamatrix.modeler.core.externalResource">
      <resourceName>
         builtInDataTypes.xsd
      </resourceName>
      <resourceUrl>
         builtInDatatypes.zip
      </resourceUrl>
      <internalUri>
         http://www.metamatrix.com/metamodels/SimpleDatatypes-instance
      </internalUri>
      <priority> 10 </priority>
   </extension>
<!-- ExternalResourceSet extension -->
   <extension
         id="xsdResourceSet"
         name="%xsdResourceSetName"
         point="com.metamatrix.modeler.core.externalResourceSet">
      <class
            name="com.metamatrix.modeler.internal.sdt.types.XsdExternalResourceSet">
      </class>
   </extension>

</plugin>
