*.jj
Teiid*ParserTreeConstants.java
JJTTeiid*ParserState.java
engine/org/teiid/query/parser/v*/JavaCharStream.java
engine/org/teiid/query/parser/v*/ParseException.java
engine/org/teiid/query/parser/v*/Teiid*Parser.java
engine/org/teiid/query/parser/v*/Teiid*ParserConstants.java
engine/org/teiid/query/parser/v*/Teiid*ParserTokenManager.java
engine/org/teiid/query/parser/v*/Token*.java

lib/*
libsrc/*
