<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  JBoss, Home of Professional Open Source.

  See the LEGAL.txt file distributed with this work for information regarding copyright ownership and licensing.

  See the AUTHORS.txt file distributed with this work for a full listing of individual contributors.
-->
<plugin>

    
<!-- Adding the Relationship Diagram Type extension-->
   <extension
         id="relationshipDiagramType"
         name="%relationshipDiagramType"
         point="org.teiid.designer.diagram.ui.diagramType">
      <diagram
            class="com.metamatrix.modeler.relationship.ui.diagram.RelationshipDiagramType"
            deprecated="true"
            simpleDiagram="false">
      </diagram>
   </extension>
<!-- Relationship Diagram Type Permanent Model Object Action Contributor -->
   <extension
         id="relationshipDiagramModelObjectActionContributor"
         point="org.teiid.designer.ui.modelObjectActionContributor">
      <class
            name="com.metamatrix.modeler.relationship.ui.actions.RelationshipDiagramPermanentActionContributor">
      </class>
   </extension>
<!--
   <extension
         id="generateRelationshipsActionContributor"
         point="org.teiid.designer.ui.modelObjectActionContributor">
      <class
            name="com.metamatrix.modeler.relationship.ui.actions.GenerateRelationshipsActionContributor">
      </class>
   </extension>
   -->
<!-- Relationship Diagram Type Content And Label Providers -->
   <extension
         id="relationshipDiagramContentProvider"
         name="Relationship Diagram Content Provider"
         point="org.teiid.designer.ui.diagramContentProvider">
      <class
            name="com.metamatrix.modeler.relationship.ui.diagram.RelationshipDiagramContentProvider">
      </class>
      <diagramType
            name="relationshipDiagramType">
      </diagramType>
   </extension>
   <extension
         id="relationshipDiagramLabelProvider"
         name="Relationship Diagram LabelProvider"
         point="org.teiid.designer.ui.diagramLabelProvider">
      <class
            name="com.metamatrix.modeler.relationship.ui.diagram.RelationshipDiagramLabelProvider">
      </class>
      <diagramType
            name="relationshipDiagramType">
      </diagramType>
   </extension>
<!-- Modeler view category
   <extension
         point="org.eclipse.ui.views">
      <view
            name="%relationshipNavigationView"
            icon="icons/full/cview16/navigator_view.gif"
            category="com.metamatrix.modeler.ui"
            class="com.metamatrix.modeler.relationship.ui.navigation.NavigationView"
            id="relationship.ui.navigation.navigationView">
      </view>
   </extension>
 -->
<!-- Adding the Relationship Custom Diagram Type extension
   <extension
         id="customRelationshipDiagramType"
         name="%customRelationshipDiagramType"
         point="org.teiid.designer.diagram.ui.diagramType">
      <diagram
            class="com.metamatrix.modeler.relationship.ui.custom.CustomDiagramType"
            simpleDiagram="true">
      </diagram>
   </extension>
-->
<!-- Relationship Custom Diagram Type Permanent Model Object Action Contributor 
   <extension
         id="customRelationishipModelObjectActionContributor"
         point="org.teiid.designer.ui.modelObjectActionContributor">
      <class
            name="com.metamatrix.modeler.relationship.ui.custom.actions.CustomDiagramPermanentActionContributor">
      </class>
   </extension>
-->
<!-- Custom Diagram Content Provider 
   <extension
         id="customRelationshipDiagramContentProvider"
         name="%customRelationshipDiagramContentProvider"
         point="org.teiid.designer.ui.diagramContentProvider">
      <class
            name="com.metamatrix.modeler.relationship.ui.custom.CustomDiagramContentProvider">
      </class>
      <diagramType
            name="customDiagramType">
      </diagramType>
   </extension>
-->
<!-- Custom Diagram Label Provider
   <extension
         id="customRelationshipDiagramLabelProvider"
         name="%customRelationshipDiagramLabelProvider"
         point="org.teiid.designer.ui.diagramLabelProvider">
      <class
            name="com.metamatrix.modeler.relationship.ui.custom.CustomDiagramLabelProvider">
      </class>
      <diagramType
            name="customRelationshipDiagramType">
      </diagramType>
   </extension>
 -->
<!-- Relationship Object Editor Page
   <extension
         id="relationshipObjectEditorPage"
         name="%relationshipEditorName"
         point="org.teiid.designer.ui.modelObjectEditorPage">
      <class
            name="com.metamatrix.modeler.relationship.ui.editor.RelationshipObjectEditorPage">
      </class>
   </extension>
 -->
<!-- Relationship Type Editor Object Editor Page
   <extension
         id="relationshipObjectEditorPage"
         name="%relationshipEditorName"
         point="org.teiid.designer.ui.modelObjectEditorPage">
      <class
            name="com.metamatrix.modeler.relationship.ui.editor.RelationshipTypeObjectEditorPage">
      </class>
   </extension>
 -->
<!--
	Add the Navigation Action Set to the Modeler Perspective MetaData menu. In order to do
	this we must make sure the MetaData Action Set has also been activated. Also add the search action set.

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="modelerPerspective">
         <actionSet
               id="metadataActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
-->
<!-- New Object Wizard for Relationship 
   <extension
         id="NewRelationshipContributor"
         name="%relationshipWizardName"
         point="org.teiid.designer.ui.newModelObjectWizard">
      <class
            name="com.metamatrix.modeler.relationship.ui.editor.NewRelationshipWizard">
      </class>
      <descriptorType
            name="com.metamatrix.metamodels.relationship.Relationship">
      </descriptorType>
   </extension>
-->
<!-- New Association Wizard for Relationship
   <extension
         id="NewRelationshipAssociationContributor"
         name="%relationshipWizardName"
         point="org.teiid.designer.ui.newAssociationWizard">
      <class
            name="com.metamatrix.modeler.relationship.ui.editor.NewRelationshipWizard">
      </class>
      <descriptorType
            name="RelationshipAssociationDescriptor">
      </descriptorType>
   </extension>
 -->
<!-- New Object Wizard for Relationship Type
   <extension
         id="NewRelationshipTypeContributor"
         name="%relationshipTypeWizardName"
         point="org.teiid.designer.ui.newModelObjectWizard">
      <class
            name="com.metamatrix.modeler.relationship.ui.editor.NewRelationshipTypeWizard">
      </class>
      <descriptorType
            name="com.metamatrix.metamodels.relationship.RelationshipType">
      </descriptorType>
   </extension>
 -->
<!-- Relationship Search Page
   <extension
         point="org.eclipse.search.searchPages">
      <page
            showScopeSection="true"
            tabPosition="1"
            label="%relationshipSearchPage.name"
            icon="icons/full/obj16/relationshipSearchPage.gif"
            extensions="xmi:1"
            class="com.metamatrix.modeler.internal.relationship.ui.search.RelationshipSearchPage"
            id="relationshipSearchPage">
      </page>
   </extension>
 -->

<!-- Handlers, Commands, Menus extensions to add to Teiid Designer submenu in Search Menu -->
<!--
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="com.metamatrix.modeler.internal.relationship.ui.search.OpenRelationshipSearchPageHandler"
            commandId="com.metamatrix.modeler.relationship.ui.search.openRelationshipSearchPageCommand">
		</handler>
   </extension>
-->
<!--
   <extension
         point="org.eclipse.ui.commands">
	  <command
			categoryId="com.metamatrix.modeler.ui.category.modeler"
			id="com.metamatrix.modeler.relationship.ui.search.openRelationshipSearchPageCommand"
			name="%openRelationshipSearchAction.label">
	  </command>
   </extension>
-->

			<!-- Note: The Search menu (re-) definition has to be here due to bug: -->
			<!-- see http://bugs.eclipse.org/bugs/show_bug.cgi?id=15684    -->
<!--
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=navigate">
			<menu
				label="%searchMenu.label"
				id="org.eclipse.search.menu">
				<separator name="internalDialogGroup" visible="false" />
           		<separator name="dialogGroup" visible="false" />
           		<separator name="fileSearchContextMenuActionsGroup" visible="true" />
           		<separator name="teiidDesignerSearchMenuActionsGroup" visible="true" />
           		<separator name="contextMenuActionsGroup" visible="true" />
           		<separator name="occurencesActionsGroup" visible="true" />
           		<separator name="extraSearchGroup" visible="true" />
			</menu>
		</menuContribution>
		<menuContribution locationURI="menu:org.eclipse.search.menu?after=teiidDesignerSearchMenuActionsGroup">
			<menu id="designerSearchSubMenu" label="%designerSearchSubMenu.label">
				<command commandId="com.metamatrix.modeler.relationship.ui.search.openRelationshipSearchPageCommand"
					label="%openRelationshipSearchAction.label"
                 	icon="icons/full/obj16/relationshipSearchPage.gif"
                 	tooltip="%openRelationshipSearchAction.tip">
        		</command>
			</menu>
		</menuContribution>
	</extension>
-->
<!--
   <extension
         id="RelationshipPropertyEditorFactory"
         name="%relationshipPropertyEditorFactory"
         point="org.teiid.designer.ui.propertyEditorFactory">
      <class
            name="com.metamatrix.modeler.relationship.ui.properties.RelationshipPropertyEditorFactory">
      </class>
   </extension>
-->
   <!-- Helper method to allow external edit for diagrams. i.e. Delete, Copy, etc.. -->
 <!-- 
      <extension
         id="customDiagramHelper"
         name="%customDiagramHelper"
         point="org.teiid.designer.ui.diagramHelper">
      <class
         name="com.metamatrix.modeler.relationship.ui.custom.CustomDiagramHelper"
         diagramType="customRelationshipDiagramType">
      </class>
   </extension>
-->
   <!-- Extension to allow plugins to contribute to the Modeler Perspective. -->
<!--
   <extension
         id="relationshipPerspectiveContributor"
         name="%relationshipPerspectiveContributor"
         point="org.teiid.designer.ui.modelerPerspectiveContributor">
      <class
        name="com.metamatrix.modeler.relationship.ui.RelationshipPerspectiveContributor">
      </class>
   </extension>
-->
       <!-- Text Importer Contribution -->
<!--
      <extension
         id="relationshipsUiTextImporter"
         name="%relationshipsUiTextImporter"
         point="org.teiid.designer.tools.textimport.ui.textImportContributor">
      <class
        name="com.metamatrix.modeler.internal.relationship.ui.wizards.ImportRelationshipsMainPage">
      </class>
   </extension>
-->
<!--
    <extension
		id="GenerateSqlRelationshipsAction"
		name="%generateSqlRelationshipsAction.name"
        point="org.teiid.designer.ui.modelObjectSpecialAction">
      <specialAction
         name="com.metamatrix.modeler.relationship.ui.actions.GenerateSqlRelationshipsAction"
         label="%generateSqlRelationshipsAction.label">
      </specialAction>
   </extension>
-->
</plugin>
