<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  JBoss, Home of Professional Open Source.

  See the LEGAL.txt file distributed with this work for information regarding copyright ownership and licensing.

  See the AUTHORS.txt file distributed with this work for a full listing of individual contributors.
-->
<plugin>

    
<!-- Define the extension point for model processors -->
   <extension-point id="modelProcessor" name="%extension-point.name.0" schema="schema/modelProcessor.exsd"/>

<!-- Define the model processors for the standard Oracle drivers -->
   <extension
         id="oracleModelProcessor"
         name="Oracle Model Processor"
         point="org.teiid.designer.jdbc.relational.modelProcessor">
      <driverClass
            name="oracle.jdbc.OracleDriver">
      </driverClass>
      <driverClass
            name="oracle.jdbc.driver.OracleDriver">
      </driverClass>
      <processorClass
            name="com.metamatrix.modeler.jdbc.relational.impl.custom.OracleModelProcessor">
      </processorClass>
   </extension>
<!-- Define the model processors for the MetaMatrix Oracle drivers -->
   <extension
         id="oracleMetaMatrixModelProcessor"
         name="Oracle Model Processor (MetaMatrix Driver)"
         point="org.teiid.designer.jdbc.relational.modelProcessor">
      <driverClass
            name="com.metamatrix.jdbc.oracle.OracleDriver">
      </driverClass>
      <driverClass
            name="com.metamatrix.jdbcx.oracle.OracleDataSource">
      </driverClass>
      <processorClass
            name="com.metamatrix.modeler.jdbc.relational.impl.custom.OracleModelProcessor">
      </processorClass>
   </extension>
<!-- Define the model processors for the MetaMatrix SQL Server drivers -->
   <extension
         id="sqlserverMetaMatrixModelProcessor"
         name="SQL Server Model Processor (MetaMatrix Driver)"
         point="org.teiid.designer.jdbc.relational.modelProcessor">
      <driverClass
            name="com.metamatrix.jdbc.sqlserver.SQLServerDriver">
      </driverClass>
      <driverClass
            name="com.metamatrix.jdbcx.sqlserver.SQLServerDataSource">
      </driverClass>
      <processorClass
            name="com.metamatrix.modeler.jdbc.relational.impl.custom.SqlServerModelProcessor">
      </processorClass>
   </extension>
<!-- Define the model processors for the MetaMatrix Sybase Server drivers -->
   <extension
         id="sybaseMetaMatrixModelProcessor"
         name="Sybase Model Processor (MetaMatrix Driver)"
         point="org.teiid.designer.jdbc.relational.modelProcessor">
      <driverClass
            name="com.metamatrix.jdbc.sybase.SybaseDriver">
      </driverClass>
      <driverClass
            name="com.metamatrix.jdbcx.sybase.SybaseDataSource">
      </driverClass>
      <processorClass
            name="com.metamatrix.modeler.jdbc.relational.impl.custom.SybaseModelProcessor">
      </processorClass>
   </extension>
<!-- Define the model processors for the MetaMatrix Sybase Server drivers -->
   <extension
         id="db2MetaMatrixModelProcessor"
         name="DB2 Model Processor (MetaMatrix Driver)"
         point="org.teiid.designer.jdbc.relational.modelProcessor">
      <driverClass
            name="com.metamatrix.jdbc.db2.DB2Driver">
      </driverClass>
      <driverClass
            name="com.metamatrix.jdbcx.db2.DB2DataSource">
      </driverClass>
      <processorClass
            name="com.metamatrix.modeler.jdbc.relational.impl.custom.Db2ModelProcessor">
      </processorClass>
   </extension>
<!-- Define the model processors for the standard Postgres drivers -->
   <extension
         id="postgresModelProcessor"
         name="Postgres Model Processor"
         point="org.teiid.designer.jdbc.relational.modelProcessor">
      <driverClass
            name="org.postgresql.Driver">
      </driverClass>
      <driverClass
            name="postgresql.Driver">
      </driverClass>
      <processorClass
            name="com.metamatrix.modeler.jdbc.relational.impl.custom.PostgresModelProcessor">
      </processorClass>
   </extension>
<!-- Define the model processors for the standard ODBC drivers -->
   <extension
         id="odbcModelProcessor"
         name="ODBC Model Processor"
         point="org.teiid.designer.jdbc.relational.modelProcessor">
      <driverClass
            name="sun.jdbc.odbc.JdbcOdbcDriver">
      </driverClass>
      <processorClass
            name="com.metamatrix.modeler.jdbc.relational.impl.custom.ExcelModelProcessor">
      </processorClass>
   </extension>
<!-- Define the model processor for the ModeShape driver -->
   <extension
         id="modeShapeModelProcessor"
         name="%modeShapeModelProcessor"
         point="org.teiid.designer.jdbc.relational.modelProcessor">
      <driverClass
            name="org.modeshape.jdbc.JcrDriver">
      </driverClass>
      <processorClass
            name="com.metamatrix.modeler.jdbc.relational.impl.custom.ModeShapeModelProcessor">
      </processorClass>
   </extension>
<!-- EObject Matcher extensions -->
   <extension
         id="jdbcMatcherFactory"
         point="org.teiid.designer.core.eobjectMatcherFactory">
      <class
            name="com.metamatrix.modeler.jdbc.relational.compare.JdbcMatcherFactory">
      </class>
   </extension>
<!-- MetamodelAspect extensions -->
   <extension
         id="jdbcRelationalSqlAspect"
         point="org.teiid.designer.core.sqlAspect">
      <metamodelExtensionID>
         jdbcMetamodel
      </metamodelExtensionID>
      <factoryClass
            name="com.metamatrix.modeler.jdbc.relational.aspects.sql.JdbcSqlAspectFactoryImpl">
      </factoryClass>
   </extension>

</plugin>
