<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.jboss.ide.eclipse.as.storage.configurationStorage">
      <storageUnit
            class="org.teiid.designer.runtime.storage.unit.DqpStorageUnit">
      </storageUnit>
   </extension>
</plugin>
