<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.jboss.ide.eclipse.as.storage.configurationStorage">
      <storageUnit
            class="org.teiid.designer.runtime.storage.unit.DqpStorageUnit">
      </storageUnit>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="org.teiid.designer.dqp.storage.category"
            name="Configured Teiid Instances"
            parentCategory="org.jboss.ide.eclipse.as.storage.ui.category">
      </category>
   </extension>
</plugin>
