<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  JBoss, Home of Professional Open Source.

  See the LEGAL.txt file distributed with this work for information regarding copyright ownership and licensing.

  See the AUTHORS.txt file distributed with this work for a full listing of individual contributors.
-->
<plugin>
   <extension-point id="advisorStatusProvider" name="%advisorStatusProvider.extension-point.name" schema="schema/advisorStatusProvider.exsd"/>
   <extension-point id="advisorSupplier" name="%advisorSupplier.extension-point.name" schema="schema/advisorSupplier.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.metamatrix.modeler.ui"
            class="org.teiid.designer.advisor.ui.views.DSPAdvisorView"
            icon="icons/full/ctool16/advisor-view.png"
            id="org.teiid.designer.advisor.ui.views.DSPAdvisorView"
            name="%dspadvisorview.name">
      </view>
   </extension>
    <!-- Extension to allow plugins to contribute to the Modeler Perspective. -->
   <extension
         id="advisorPerspectiveContributor"
         name="%advisorPerspectiveContributor.name"
         point="org.teiid.designer.ui.modelerPerspectiveContributor">
      <class
        name="org.teiid.designer.advisor.ui.views.AdvisorPerspectiveContributor">
      </class>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.metamatrix.modeler.ui"
            class="org.teiid.designer.advisor.ui.views.ProjectStatusView"
            icon="icons/full/ctool16/status-view.png"
            id="org.teiid.designer.advisor.ui.views.ProjectStatusViewID"
            name="Status">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.teiid.designer.ui.category"
            name="Designer">
      </category>
      <cheatsheet
            category="org.teiid.designer.ui.category"
            composite="false"
            contentFile="$nl$/cheatsheets/New Model From JDBC Import.xml"
            id="org.teiid.designer.ui.cheatsheet_advisor_01"
            name="Model From JDBC Source">
         <description>
            Create Relational Model from JDBC Import
         </description>
      </cheatsheet>
      <cheatsheet
            category="org.teiid.designer.ui.category"
            composite="false"
            contentFile="$nl$/cheatsheets/subsheets/import-from-flat-file.xml"
            id="org.teiid.designer.ui.cheatsheet_advisor_02"
            name="Model Flat File Source">
         <description>
            Model and join two data sources
         </description>
      </cheatsheet>
      <cheatsheet
            category="org.teiid.designer.ui.category"
            composite="false"
            contentFile="$nl$/cheatsheets/Consume SOAP Web Service.xml"
            id="org.teiid.designer.ui.cheatsheet_advisor_03"
            name="Consume a SOAP Web Service">
         <description>
            Consume a SOAP Web Service by creating source and view models based on target WSDL file definition
         </description>
      </cheatsheet>
      <cheatsheet
            category="org.teiid.designer.ui.category"
            composite="false"
            contentFile="$nl$/cheatsheets/subsheets/import-from-xml-file.xml"
            id="org.teiid.designer.ui.cheatsheet_advisor_04"
            name="Model Local XML File Source">
         <description>
            Model data from your XML local or remote URL file source
         </description>
      </cheatsheet>
      <cheatsheet
            category="org.teiid.designer.ui.category"
            composite="true"
            contentFile="$nl$/cheatsheets/Multi-source VDB.xml"
            id="org.teiid.designer.ui.cheatsheet_advisor_05"
            name="Multi-source VDB">
         <description>
            Create and test a VDB joining two data sources
         </description>
      </cheatsheet>
      <cheatsheet
            category="org.teiid.designer.ui.category"
            composite="false"
            contentFile="$nl$/cheatsheets/subsheets/create-and-test-vdb.xml"
            id="org.teiid.designer.ui.cheatsheet_advisor_06"
            name="Create and test a VDB">
         <description>
            Create and test a VDB
         </description>
      </cheatsheet>

   </extension>
<!-- CHEAT SHEET ACTION COMMANDS -->
<!-- 
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.file"
            defaultHandler="org.teiid.designer.advisor.ui.commands.NewXmlViewModelWizardHandler"
            description="%command.description"
            id="org.teiid.designer.advisor.ui.commands.NewXmlViewModelCommandHandler"
            name="%command.name">
      </command>
   </extension>
 -->
   <extension
        id="RelationalModelingSupplier"
        name="%relationalModelingSupplier.extension.name"
        point="org.teiid.designer.advisor.ui.advisorStatusProvider">
      <advisorStatusProvider
         name="org.teiid.designer.advisor.ui.suppliers.relational.RelationalModelingSupplier"
         label="%relationalModelingSupplier.extension.label">
      </advisorStatusProvider>
   </extension>
   <extension
   		 id="XmlModelingSupplier"
   		 name="%xmlModelingSupplier.extension.name"
         point="org.teiid.designer.advisor.ui.advisorStatusProvider">
      <advisorStatusProvider
            label="%xmlModelingSupplier.extension.label"
            name="org.teiid.designer.advisor.ui.suppliers.xml.XmlModelingSupplier">
      </advisorStatusProvider>
   </extension>
</plugin>