<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  JBoss, Home of Professional Open Source.

  See the LEGAL.txt file distributed with this work for information regarding copyright ownership and licensing.

  See the AUTHORS.txt file distributed with this work for a full listing of individual contributors.
-->
<plugin>

    
<!-- DatatypeManager extension -->
   <extension
         id="defaultDatatypeManager"
         name="%datatypeManagerName"
         point="org.teiid.designer.core.datatypeManager">
      <class
            name="com.metamatrix.modeler.internal.sdt.types.WorkspaceDatatypeManager">
      </class>
   </extension>
<!-- ExternalResource extension -->
   <extension
         id="builtInDatatypesResource"
         name="%builtInDatatypesResourceName"
         point="org.teiid.designer.core.externalResource">
      <resourceName>
         builtInDataTypes.xsd
      </resourceName>
      <resourceUrl>
         builtInDatatypes.zip
      </resourceUrl>
      <internalUri>
         http://www.metamatrix.com/metamodels/SimpleDatatypes-instance
      </internalUri>
      <priority> 10 </priority>
   </extension>
<!-- ExternalResourceSet extension -->
   <extension
         id="xsdResourceSet"
         name="%xsdResourceSetName"
         point="org.teiid.designer.core.externalResourceSet">
      <class
            name="com.metamatrix.modeler.internal.sdt.types.XsdExternalResourceSet">
      </class>
   </extension>

</plugin>
