<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  JBoss, Home of Professional Open Source.

  See the LEGAL.txt file distributed with this work for information regarding copyright ownership and licensing.

  See the AUTHORS.txt file distributed with this work for a full listing of individual contributors.
-->
<plugin>

     <extension
         id="uml2"
         name="%metamodelName"
         point="org.teiid.designer.core.metamodel">
      <uri>
         http://www.eclipse.org/uml2/2.1.0/UML
      </uri>
      <alternateUri>
         http:///org/eclipse/uml2.ecore
      </alternateUri>
      <alternateUri>
         mtkplugin:///com.metamatrix.metamodels.Uml2
      </alternateUri>
      <properties
            createAsNewModel="true"
            createAsPhysical="true"
            requiresProxies="false"
            participatoryOnly="false"
            createAsVirtual="false"
            supportsDiagrams="true"
            supportsExtension="false">
      </properties>
      <allowableModelType>
      	LOGICAL
      </allowableModelType>
      <packageClass
            name="org.eclipse.uml2.UML2Package">
      </packageClass>
      <adapterClass
            name="org.eclipse.uml2.uml.edit.providers.UMLItemProviderAdapterFactory">
      </adapterClass>
      <rootEntityClass
            name="org.eclipse.uml2.Model">
      </rootEntityClass>
      <rootEntityClass
            name="org.eclipse.uml2.Package">
      </rootEntityClass>
   </extension>
   
<!-- InvocationFactoryHelper extension -->
   <extension
         id="umlInvocationFactoryHelper"
         name="UmlInvocationFactoryHelper"
         point="org.teiid.designer.core.invocationFactoryHelper">
      <class
            name="com.metamatrix.metamodels.uml2.proxy.UmlInvocationFactoryHelper">
      </class>
   </extension>
   
<!-- MetamodelAspect extensions -->
   <extension
         id="uml2UmlAspect"
         point="org.teiid.designer.core.umlDiagramAspect">
      <metamodelExtensionID>
         uml2
      </metamodelExtensionID>
      <factoryClass
            name="com.metamatrix.metamodels.uml2.aspects.uml.Uml2UmlAspectFactoryImpl">
      </factoryClass>
   </extension>
   <extension
         id="uml2ValidationAspect"
         point="org.teiid.designer.core.validationAspect">
      <metamodelExtensionID>
         uml2
      </metamodelExtensionID>
      <factoryClass
            name="com.metamatrix.metamodels.uml2.aspects.validation.Uml2ValidationAspectFactoryImpl">
      </factoryClass>
   </extension>
<!-- EObject Matcher extensions -->
   <extension
         id="uml2MatcherFactory"
         point="org.teiid.designer.core.eobjectMatcherFactory">
      <class
            name="com.metamatrix.metamodels.uml2.compare.UmlObjectMatcherFactory">
      </class>
   </extension>
<!-- Assocation extensions -->
   <extension
         id="generalizationAssociationProvider"
         point="org.teiid.designer.core.associationProvider">
      <providerClass
            name="com.metamatrix.metamodels.uml2.provider.Uml2GeneralizationProvider">
      </providerClass>
   </extension>
   <extension
         id="associationAssociationProvider"
         point="org.teiid.designer.core.associationProvider">
      <providerClass
            name="com.metamatrix.metamodels.uml2.provider.Uml2AssociationProvider">
      </providerClass>
   </extension>
   <extension
         id="dependencyAssociationProvider"
         point="org.teiid.designer.core.associationProvider">
      <providerClass
            name="com.metamatrix.metamodels.uml2.provider.Uml2DependencyProvider">
      </providerClass>
   </extension>
   
<!-- ExternalResource extension -->
   <extension
         id="builtInPrimitiveTypesResource"
         name="%builtInPrimitiveTypesResourceName"
         point="org.teiid.designer.core.externalResource">
      <resourceName>
         primitiveTypes.xmi
      </resourceName>
      <resourceUrl>
         primitiveTypes.zip
      </resourceUrl>
      <internalUri>
         http://www.metamatrix.com/metamodels/UmlPrimitiveTypes-instance
      </internalUri>
   </extension>
   <extension
         id="uml2ResourceLoadOptions"
         name="%uml2ResourceLoadOptionsName"
         point="org.teiid.designer.core.resourceLoadOptions">
      <class
            name="com.metamatrix.metamodels.uml2.util.Uml2ResourceLoadOptionContributor">
      </class>
   </extension>

</plugin>
