<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  JBoss, Home of Professional Open Source.

  See the LEGAL.txt file distributed with this work for information regarding copyright ownership and licensing.

  See the AUTHORS.txt file distributed with this work for a full listing of individual contributors.
-->
<plugin>

   <extension-point id="diagramContentProvider" 		name="%diagramContentProvider" 			schema="schema/diagramContentProvider.exsd"/>
   <extension-point id="diagramLabelProvider" 			name="%diagramLabelProvider" 			schema="schema/diagramLabelProvider.exsd"/>
   <extension-point id="extendedModelContentProvider" 	name="%extendedModelContentProvider" 	schema="schema/extendedModelContentProvider.exsd"/>
   <extension-point id="extendedModelLabelProvider" 	name="%extendedModelLabelProvider" 		schema="schema/extendedModelLabelProvider.exsd"/>
   <extension-point id="modelEditorPage" 				name="%modelEditorPage" 				schema="schema/modelEditorPage.exsd"/>
   <extension-point id="modelObjectActionContributor" 	name="%modelObjectActionContributor" 	schema="schema/modelObjectActionContributor.exsd"/>
   <extension-point id="modelObjectEditorPage" 			name="%modelObjectEditorPage" 			schema="schema/modelObjectEditorPage.exsd"/>
   <extension-point id="newAssociationWizard" 			name="%newAssociationWizard" 			schema="schema/newAssociationWizard.exsd"/>
   <extension-point id="newModelObjectWizard" 			name="%newModelObjectWizard" 			schema="schema/newModelObjectWizard.exsd"/>
   <extension-point id="newModelWizardContributor" 		name="%newModelWizardContributor" 		schema="schema/newModelWizardContributor.exsd"/>
   <extension-point id="newChildAction" 				name="%newChildAction" 					schema="schema/newChildAction.exsd"/>
   <extension-point id="newSiblingAction" 				name="%newSiblingAction" 				schema="schema/newSiblingAction.exsd"/>
   <extension-point id="metadataPasteSpecial" 			name="%metadataPasteSpecial" 			schema="schema/metadataPasteSpecial.exsd"/>
   <extension-point id="metadataRefresh" 				name="%metadataRefresh" 				schema="schema/metadataRefresh.exsd"/>
   <extension-point id="propertyEditorFactory" 			name="%propertyEditorFactory" 			schema="schema/propertyEditorFactory.exsd"/>
   <extension-point id="diagramHelper" 					name="%diagramHelper"/>
   <extension-point id="modelObjectEditHelper" 			name="%modelObjectEditHelper"/>
   <extension-point id="modelerPerspectiveContributor" 	name="%modelerPerspectiveContributor"/>
   <extension-point id="modelResourceAction" 			name="%modelResourceAction" 			schema="schema/modelResourceAction.exsd"/>
   <extension-point id="modelObjectSpecialAction" 		name="%modelObjectSpecialAction" 		schema="schema/modelObjectSpecialAction.exsd"/>
   <extension-point id="generalPreferenceContributor" 	name="%generalPreferenceContributor" 	schema="schema/generalPreferenceContributor.exsd"/>

<!-- Model Project Nature -->
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/full/ovr16/model_ovr.gif"
            natureId="org.teiid.designer.core.modelNature"
            id="org.eclipse.ui.javaProjectNatureImage">
      </image>
   </extension>
<!-- Table Editor -->
   <extension
         id="tableEditorPage"
         name="%modelTableEditor"
         point="org.teiid.designer.ui.modelEditorPage">
      <class
            tabName="%modelTableEditor"
            order="2"
            name="com.metamatrix.modeler.internal.ui.table.ModelTableEditor">
      </class>
   </extension>
   <extension
         id="structuralCopyWizard"
         name="%structuralCopyWizard"
         point="org.teiid.designer.ui.newModelWizardContributor">
      <class
            name="com.metamatrix.modeler.internal.ui.wizards.StructuralCopyContributor"
            icon="icons/full/ctool16/newmodel_wiz.gif">
      </class>
      <metamodelDescriptorType
            name="all"
            isPhysical="true"
            isVirtual="true">
      </metamodelDescriptorType>
   </extension>
<!-- Metadata Search Page -->
   <extension
         point="org.eclipse.search.searchPages">
      <page
            showScopeSection="true"
            tabPosition="1"
            label="%metadataSearchPage.name"
            icon="icons/full/ctool16/metadata_search.gif"
            extensions="xmi:1"
            class="com.metamatrix.modeler.ui.search.MetadataSearchPage"
            id="metadataSearchPage">
      </page>
   </extension>
   <extension id="MetadataSearchPage"
      point="org.eclipse.search.searchResultViewPages">
      <viewPage 
      	 id="MetadataSearchResultPage"
         searchResultClass="com.metamatrix.modeler.ui.search.MetadataSearchResult"
         class="com.metamatrix.modeler.ui.search.MetadataSearchResultPage">
     </viewPage>
   </extension>

<!-- Property Testers, Handlers, Commands, Menus extensions to get Teiid Designer submenu in Search Menu -->

	<extension point="org.eclipse.core.expressions.propertyTesters">
		<propertyTester
			id="org.teiid.designer.ui.propertyTester"
			type="java.lang.Object"
			namespace="org.teiid.designer.ui"
			properties="CLONE_ALLOWED,EDITABLE_OBJECT,MODEL_PROJECT_OBJECT,PASTE_SPECIAL_ALLOWED,READONLY_MODEL_OBJECT,RENAME_ALLOWED"
			class="com.metamatrix.modeler.internal.ui.actions.DesignerUiPropertyTester">
		</propertyTester>
	</extension>

	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="com.metamatrix.modeler.internal.ui.search.OpenMetadataSearchPageHandler"
            commandId="com.metamatrix.modeler.ui.search.openMetadataSearchPageCommand">
		</handler>
		<handler
			class="com.metamatrix.modeler.internal.ui.actions.FindModelObjectHandler"
            commandId="com.metamatrix.modeler.ui.actions.findModelObjectCommand">
		</handler>
		<handler
			class="com.metamatrix.modeler.internal.ui.actions.CloneHandler"
            commandId="com.metamatrix.modeler.ui.actions.cloneCommand">
			<enabledWhen>
				<test property="org.teiid.designer.ui.CLONE_ALLOWED" value="true"/>
			</enabledWhen>
		</handler>
		<handler
			class="com.metamatrix.modeler.internal.ui.actions.PasteSpecialHandler"
            commandId="com.metamatrix.modeler.ui.actions.pasteSpecialCommand">
			<enabledWhen>
				<and>
					<count value="1"/>
					<iterate ifEmpty="false">
						<or>
							<instanceof value="org.eclipse.emf.ecore.EObject"/>
							<instanceof value="org.eclipse.core.resources.IFile"/>
						</or>
						<test property="org.teiid.designer.ui.PASTE_SPECIAL_ALLOWED" value="true"/>
					</iterate>
				</and>
			</enabledWhen>
		</handler>
		<handler
			class="com.metamatrix.modeler.internal.ui.actions.OpenHandler"
            commandId="com.metamatrix.modeler.ui.actions.openCommand">
			<enabledWhen>
				<and>
					<count value="1"/>
					<not>
						<with variable="activePartId">
          					<equals value="views.datatypeHierarchyView"/>
       					</with>					
       				</not>
					<iterate ifEmpty="false">
						<instanceof value="org.eclipse.emf.ecore.EObject"/>
					</iterate>
				</and>
			</enabledWhen>
		</handler>
		<handler
			class="com.metamatrix.modeler.internal.ui.actions.EditHandler"
            commandId="com.metamatrix.modeler.ui.actions.editCommand">
			<enabledWhen>
				<and>
					<count value="1"/>
					<iterate ifEmpty="false">
						<instanceof value="org.eclipse.emf.ecore.EObject"/>
						<test property="org.teiid.designer.ui.EDITABLE_OBJECT" value="true"/>
					</iterate>
				</and>
			</enabledWhen>
		</handler>
		<handler
			class="com.metamatrix.modeler.internal.ui.actions.RenameHandler"
            commandId="com.metamatrix.modeler.ui.actions.renameCommand">
			<enabledWhen>
				<and>
					<count value="1"/>
					<iterate ifEmpty="false">
						<instanceof value="org.eclipse.emf.ecore.EObject"/>
						<test property="org.teiid.designer.ui.RENAME_ALLOWED" value="true"/>
					</iterate>
				</and>
			</enabledWhen>
		</handler>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="%category.modeler.name"
            description="%category.modeler.description"
            id="com.metamatrix.modeler.ui.category.modeler">
      </category>
	  <command
			categoryId="com.metamatrix.modeler.ui.category.modeler"
			id="com.metamatrix.modeler.ui.search.openMetadataSearchPageCommand"
			name="%openMetadataSearchAction.text">
	  </command>
	  <command
			categoryId="com.metamatrix.modeler.ui.category.modeler"
			id="com.metamatrix.modeler.ui.actions.findModelObjectCommand"
			name="%findModelObject.name">
	  </command>
	  <command
			categoryId="com.metamatrix.modeler.ui.category.modeler"
			id="com.metamatrix.modeler.ui.actions.cloneCommand"
			name="%cloneAction.name">
	  </command>
	  <command
			categoryId="com.metamatrix.modeler.ui.category.modeler"
			id="com.metamatrix.modeler.ui.actions.pasteSpecialCommand"
			name="%pasteSpecialAction.name">
	  </command>
	  <command
			categoryId="com.metamatrix.modeler.ui.category.modeler"
			id="com.metamatrix.modeler.ui.actions.openCommand"
			name="%openAction.name">
	  </command>
	  <command
			categoryId="com.metamatrix.modeler.ui.category.modeler"
			id="com.metamatrix.modeler.ui.actions.editCommand"
			name="%editAction.name">
	  </command>
	  <command
			categoryId="com.metamatrix.modeler.ui.category.modeler"
			id="com.metamatrix.modeler.ui.actions.renameCommand"
			name="%renameCommand.name"
			description="%renameCommand.description"> 
	  </command>
   </extension>

	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=navigate">
			<!-- Note: The Search menu (re-) definition has to be here due to bug: -->
			<!-- see http://bugs.eclipse.org/bugs/show_bug.cgi?id=15684    -->
			<menu
				label="%searchMenu.label"
				id="org.eclipse.search.menu">
				<separator name="internalDialogGroup" visible="false" />
           		<separator name="dialogGroup" visible="false" />
           		<separator name="fileSearchContextMenuActionsGroup" visible="true" />
           		<separator name="teiidDesignerSearchMenuActionsGroup" visible="true" />
           		<separator name="contextMenuActionsGroup" visible="true" />
           		<separator name="occurencesActionsGroup" visible="true" />
           		<separator name="extraSearchGroup" visible="true" />
			</menu>
		</menuContribution>
		<menuContribution locationURI="menu:org.eclipse.search.menu?after=teiidDesignerSearchMenuActionsGroup">
			<menu id="designerSearchSubMenu" label="%designerSearchSubMenu.label">
				<command commandId="com.metamatrix.modeler.ui.search.openMetadataSearchPageCommand"
					label="%openMetadataSearchAction.text"
                 	icon="icons/full/ctool16/metadata_search.gif"
                 	tooltip="%openMetadataSearchAction.tip">
        		</command>
				<command commandId="com.metamatrix.modeler.ui.actions.findModelObjectCommand"
					label="%findModelObject.name"
                 	icon="icons/full/ctool16/opentype.gif"
                 	tooltip="%findModelObject.tooltip">
        		</command>
			</menu>
		</menuContribution>
		<menuContribution locationURI="menu:edit?after=paste">
			<command commandId="com.metamatrix.modeler.ui.actions.pasteSpecialCommand"
				label="%pasteSpecialAction.name"
             	tooltip="%pasteSpecialAction.description">
            	<visibleWhen
                   checkEnabled="false">
					<iterate ifEmpty="false">
						<test property="org.teiid.designer.ui.MODEL_PROJECT_OBJECT" value="true" />
					</iterate>
            	</visibleWhen>
    		</command>
			<command commandId="com.metamatrix.modeler.ui.actions.cloneCommand"
				label="%cloneAction.name"
             	tooltip="%cloneAction.description">
            	<visibleWhen
                   checkEnabled="false">
					<iterate ifEmpty="false">
						<test property="org.teiid.designer.ui.MODEL_PROJECT_OBJECT" value="true" />
					</iterate>
            	</visibleWhen>
    		</command>
		</menuContribution>
		<menuContribution locationURI="menu:edit?before=find.ext">
			<command commandId="com.metamatrix.modeler.ui.actions.openCommand"
				label="%openAction.name"
             	tooltip="%openAction.description">
            	<visibleWhen
                   checkEnabled="false">
					<iterate ifEmpty="false">
						<test property="org.teiid.designer.ui.MODEL_PROJECT_OBJECT" value="true" />
					</iterate>
            	</visibleWhen>
    		</command>
			<command commandId="com.metamatrix.modeler.ui.actions.editCommand"
				label="%editAction.name"
             	tooltip="%editAction.description">
            	<visibleWhen
                   checkEnabled="false">
					<iterate ifEmpty="false">
						<test property="org.teiid.designer.ui.MODEL_PROJECT_OBJECT" value="true" />
					</iterate>
            	</visibleWhen>
    		</command>
		</menuContribution>
		<menuContribution locationURI="menu:edit?before=editStart">
			<menu id="org.teiid.designer.ui.newChildMenu"
                label="%newChildMenu.label">
            	<dynamic class="com.metamatrix.modeler.internal.ui.actions.NewChildMenu"
                    id="com.metamatrix.modeler.ui.actions.newChildMenu">
            	</dynamic>
            	<visibleWhen
                   checkEnabled="false">
					<iterate ifEmpty="false">
						<test property="org.teiid.designer.ui.MODEL_PROJECT_OBJECT" value="true" />
					</iterate>
            	</visibleWhen>
        	</menu>
			<menu id="org.teiid.designer.ui.newSiblingMenu"
                label="%newSiblingMenu.label">
            	<dynamic class="com.metamatrix.modeler.internal.ui.actions.NewSiblingMenu"
                    id="com.metamatrix.modeler.ui.actions.newSiblingMenu">
            	</dynamic>
            	<visibleWhen
                   checkEnabled="false">
					<iterate ifEmpty="false">
						<test property="org.teiid.designer.ui.MODEL_PROJECT_OBJECT" value="true" />
					</iterate>
            	</visibleWhen>
        	</menu>
			<menu id="org.teiid.designer.ui.newAssociationMenu"
                label="%newAssociationMenu.label">
            	<dynamic class="com.metamatrix.modeler.internal.ui.actions.NewAssociationMenu"
                    id="com.metamatrix.modeler.ui.actions.newAssociationMenu">
            	</dynamic>
            	<visibleWhen
                   checkEnabled="false">
					<iterate ifEmpty="false">
						<test property="org.teiid.designer.ui.MODEL_PROJECT_OBJECT" value="true" />
					</iterate>
            	</visibleWhen>
        	</menu>
			<menu id="org.teiid.designer.ui.modelingActionsMenu"
                label="%modelingActionsMenu.label">
            	<dynamic class="com.metamatrix.modeler.internal.ui.actions.ModelingActionsMenu"
                    id="com.metamatrix.modeler.ui.actions.modelingActionsMenu">
            	</dynamic>
            	<visibleWhen
                   checkEnabled="false">
					<iterate ifEmpty="false">
						<test property="org.teiid.designer.ui.MODEL_PROJECT_OBJECT" value="true" />
					</iterate>
            	</visibleWhen>
        	</menu>
 		    <separator name="internalDialogGroup" visible="true" />
		</menuContribution>
		<menuContribution locationURI="menu:edit?after=delete">
			<command commandId="com.metamatrix.modeler.ui.actions.renameCommand"
				label="%renameCommand.name"
             	tooltip="%renameCommand.description">
            	<visibleWhen
                   checkEnabled="false">
					<iterate ifEmpty="false">
						<instanceof value="org.eclipse.emf.ecore.EObject"/>
						<test property="org.teiid.designer.ui.MODEL_PROJECT_OBJECT" value="true" />
					</iterate>
            	</visibleWhen>
    		</command>
		</menuContribution>
	</extension>

<!--
	Add Metadata action set. Set visibility to false so that it is not automatically added
	to each perspective.
-->
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%metadataActionSet.label"
            visible="false"
            id="metadataActionSet">
         <menu
               label="%metadata.menu"
               path="additions"
               id="metadataMenu">
            <separator
                  name="slot1">
            </separator>
            <separator
                  name="slot2">
            </separator>
            <separator
                  name="slot3">
            </separator>
            <separator
                  name="slot4">
            </separator>
            <groupMarker
                  name="com.metamatrix.modeler.ui.groupMarker1">
            </groupMarker>
         </menu>
         <action
               label="%refreshModelAction.label"
               icon="platform:/plugin/org.teiid.designer.jdbc.ui/icons/full/ctool16/jdbc_import.gif"
               helpContextId="refreshAction.helpContext"
               tooltip="%refreshModelAction.tooltip"
               class="com.metamatrix.modeler.internal.ui.actions.RefreshAction"
               menubarPath="metadataMenu/slot1"
               enablesFor="1"
               id="refreshAction">
         </action>
         <action
               label="%showDatatypeHierarchyAction.label"
               icon="icons/full/cview16/typeHierarchy.gif"
               helpContextId="showDatatypeHierarchyAction.helpContext"
               tooltip="%showDatatypeHierarchyAction.tooltip"
               class="com.metamatrix.modeler.internal.ui.actions.ShowDatatypeHierarchyAction"
               menubarPath="metadataMenu/slot2"
               id="showDatatypeHierarchyAction">
         </action>
         <action
               label="%showSystemCatalogAction.label"
               icon="icons/full/cview16/system_model.gif"
               helpContextId="showSystemCatalogAction.helpContext"
               tooltip="%showSystemCatalogAction.tooltip"
               class="com.metamatrix.modeler.internal.ui.actions.ShowSystemCatalogAction"
               menubarPath="metadataMenu/slot2"
               id="showSystemCatalogAction">
         </action>
         <action
               label="%buildImportsAction.label"
               icon="icons/full/obj16/Imports.gif"
               helpContextId="buildImportsAction.helpContext"
               tooltip="%buildImportsAction.tooltip"
               class="com.metamatrix.modeler.internal.ui.actions.BuildImportsAction"
               menubarPath="metadataMenu/slot3"
               enablesFor="*"
               id="buildImportsAction">
         </action>
         <action
               label="%buildImportsAllAction.label"
               icon="icons/full/obj16/Imports.gif"
               helpContextId="buildImportsAllAction.helpContext"
               tooltip="%buildImportsAllAction.tooltip"
               class="com.metamatrix.modeler.internal.ui.actions.BuildImportsAllAction"
               menubarPath="project/additions"
               enablesFor="*"
               id="buildImportsAllAction">
         </action>
         <action
               label="%buildImportsProjectAction.label"
               icon="icons/full/obj16/Imports.gif"
               helpContextId="buildImportsProjectAction.helpContext"
               tooltip="%buildImportsProjectAction.tooltip"
               class="com.metamatrix.modeler.internal.ui.actions.BuildImportsProjectAction"
               menubarPath="project/additions"
               enablesFor="*"
               id="buildImportsProjectAction">
         </action>
         <action
               label="%modelStatisticsAction.label"
               icon="icons/full/cview16/statistics.gif"
               helpContextId="modelStatisticsAction.helpContext"
               tooltip="%modelStatisticsAction.tooltip"
               class="com.metamatrix.modeler.internal.ui.actions.ModelStatisticsAction"
               menubarPath="metadataMenu/slot3"
               enablesFor="1"
               id="modelStatisticsAction">
         </action>  
         <action
               label="%convertToEnterpriseTypesAction.label"
               tooltip="%convertToEnterpriseTypesAction.tooltip"
               class="com.metamatrix.modeler.internal.ui.actions.ConvertToEnterpriseDatatypesAction"
               menubarPath="metadataMenu/slot3"
               enablesFor="1"
               id="convertToEnterpriseTypesAction">
         </action> 
         <!-- Defect 23006 - Close Model Action really doesn't do much anymore. Commenting out the contribution     
         <action
               label="%closeModelAction.label"
               helpContextId="com.metamatrix.modeler.internal.ui.actions.CloseModelAction.helpContext"
               tooltip="%closeModelAction.tooltip"
               class="com.metamatrix.modeler.internal.ui.actions.CloseModelAction"
               menubarPath="metadataMenu/slot3"
               enablesFor="+"
               id="com.metamatrix.modeler.ui.actions.closeModelAction">
         </action>
         -->
         <action
               label="%cloneProjectAction.label"
               tooltip="%cloneProjectAction.tooltip"
               icon="icons/full/cview16/clone_project.png"
               class="com.metamatrix.modeler.internal.ui.actions.CloneProjectAction"
               menubarPath="project/additions"
               enablesFor="1"
               id="cloneProjectAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%RefactorActionSet.label"
            description="%RefactorActionSet.description"
            visible="false"
            id="RefactorActionSet">
<!-- =========================================================================== -->
<!-- Refactoring Menu                                                            -->
<!-- =========================================================================== -->
         <menu
               label="%Refactoring.menu.label"
               path="edit"
               id="org.teiid.designer.ui.refactoring.menu">
            <separator
                  name="undoRedoGroup">
            </separator>
            <separator
                  name="reorgGroup">
            </separator>
            <separator
                  name="additions">
            </separator>
         </menu>
<!-- undo/redo group  -->
         <action
               label="%refactoring.redoAction.label"
               class="com.metamatrix.modeler.internal.ui.refactor.actions.RedoRefactoringAction"
               menubarPath="org.teiid.designer.ui.refactoring.menu/undoRedoGroup"
               id="RedoAction">
         </action>
<!--definitionId="org.eclipse.jdt.ui.edit.text.java.refactor.redo"-->
         <action
               label="%refactoring.undoAction.label"
               class="com.metamatrix.modeler.internal.ui.refactor.actions.UndoRefactoringAction"
               menubarPath="org.teiid.designer.ui.refactoring.menu/undoRedoGroup"
               id="UndoAction">
         </action>
<!--definitionId="org.eclipse.jdt.ui.edit.text.java.refactor.undo"-->
<!-- reorg group  -->
         <action
               label="%refactoring.moveAction.label"
               class="com.metamatrix.modeler.internal.ui.refactor.actions.MoveRefactorAction"
               menubarPath="org.teiid.designer.ui.refactoring.menu/reorgGroup"
               id="Move">
         </action>
<!--
			definitionId="com.metamatrix.modeler.ui.edit.text.java.move.element"
			retarget="true" /> -->
         <action
               label="%refactoring.renameAction.label"
               class="com.metamatrix.modeler.internal.ui.refactor.actions.RenameRefactorAction"
               menubarPath="org.teiid.designer.ui.refactoring.menu/reorgGroup"
               id="Rename">
         </action>
      </actionSet>
   </extension>
<!--
	Add Metadata action set to this perspective to make it's menu visible.
-->
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="modelerPerspective">
         <actionSet
               id="metadataActionSet">
         </actionSet>
         <actionSet
               id="RefactorActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
<!-- Model Explorer decorator -->
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            location="BOTTOM_LEFT"
            adaptable="true"
            label="%modelResourceProblemDecorator"
            state="true"
            class="com.metamatrix.modeler.internal.ui.explorer.ModelExplorerLabelProvider"
            id="modelExplorerLabelProvider">
         <description>
            %problemDecorator.desc
         </description>
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IResource">
            </objectClass>
         </enablement>
      </decorator>
      <decorator
            lightweight="true"
            location="BOTTOM_LEFT"
            adaptable="true"
            label="%modelObjectProblemDecorator"
            state="true"
            class="com.metamatrix.modeler.internal.ui.viewsupport.ModelObjectLabelProvider"
            id="modelObjectLabelProvider">
         <description>
            %problemDecorator.desc
         </description>
         <enablement>
            <objectClass
                  name="org.eclipse.emf.ecore.EObject">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
<!-- Model Editor -->
      <editor
            name="%modelEditor"
            default="true"
            icon="icons/full/obj16/GeneralModel.gif"
            extensions="xmi"
            contributorClass="com.metamatrix.modeler.internal.ui.editors.ModelEditorActionContributor"
            class="com.metamatrix.modeler.internal.ui.editors.ModelEditor"
            id="modelEditor">
      </editor>
<!-- Schema Editor -->
      <editor
            name="%modelEditor"
            icon="icons/full/obj16/XSDSchema.gif"
            extensions="xsd"
            contributorClass="com.metamatrix.modeler.internal.ui.editors.ModelEditorActionContributor"
            class="com.metamatrix.modeler.internal.ui.editors.ModelEditor"
            id="schemaEditor">
      </editor>
   </extension>
<!-- Eclipse Import Wizards -->
   <extension
         point="org.eclipse.ui.importWizards">
         <category name="%modelCategory" id="com.metamatrix.modeler.ui" />
   </extension>

<!-- Eclipse Export Wizards -->
   <extension
         point="org.eclipse.ui.exportWizards">
         <category name="%modelCategory" id="com.metamatrix.modeler.ui" />
<!-- DDL Export Wizard -->
      <wizard
            name="%exportDdlWizard.name"
            icon="icons/full/ctool16/exportddl_wiz.gif"
            category="com.metamatrix.modeler.ui"
            class="com.metamatrix.modeler.internal.ui.wizards.ExportDdlWizard"
            id="exportDdlWizard">
         <description>
            %exportDdlWizard.description
         </description>
      </wizard>
<!-- Modeler Project Set Export Wizard -->
      <wizard
            name="%exportModelerProjectSetWizard.name"
            icon="icons/full/cview16/export_projectset.gif"
            category="com.metamatrix.modeler.ui"
            class="com.metamatrix.modeler.internal.ui.wizards.ExportModelerProjectSetWizard"
            id="exportModelerProjectSetWizard">
         <description>
            %exportModelerProjectSetWizard.description
         </description>
      </wizard>
   </extension>

<!-- New wizards -->
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%modelCategory"
            id="com.metamatrix.modeler.ui">
      </category>
<!-- New model project wizard -->
      <wizard
            category="com.metamatrix.modeler.ui"
            class="com.metamatrix.modeler.ui.wizards.NewModelProjectWizard"
            finalPerspective="modelerPerspective"
            icon="icons/full/ctool16/newproject_wiz.gif"
            id="newModelProject"
            name="%newModelProjectWizard"
            preferredPerspectives="modelerPerspective"
            project="true">
         <description>
            %newModelProjectWizardDescription
         </description>
      </wizard>
<!-- New model wizard -->
      <wizard
            name="%newModelWizard"
            icon="icons/full/ctool16/newmodel_wiz.gif"
            category="com.metamatrix.modeler.ui"
            class="com.metamatrix.modeler.internal.ui.wizards.NewModelWizard"
            id="newModel">
         <description>
            %newModelWizardDescription
         </description>
      </wizard>
   </extension>
<!-- ModelerPerspective -->
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspectiveName"
            icon="icons/full/cview16/perspective.gif"
            class="com.metamatrix.modeler.internal.ui.ModelerPerspectiveFactory"
            id="modelerPerspective">
      </perspective>
   </extension>
<!-- Modeler preferences -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%modelerPreferences"
            class="com.metamatrix.modeler.internal.ui.preferences.GeneralPreferencePage"
            id="modelerPreferencePage">
      </page>
      <page
            name="%modelerValidationPreferences"
            category="modelerPreferencePage"
            class="com.metamatrix.modeler.internal.ui.preferences.ValidationPreferencePage"
            id="validationPreferencePage">
      </page>
   </extension>
    
<!-- Preferences exports -->
    <extension
        point="org.eclipse.ui.preferenceTransfer">
        <transfer
            icon="icons/full/cview16/modelerPerspective.gif"
            id="preferenceTransfer"
            name="%preferenceTransfer.name">
            <mapping scope="instance">
                <entry node="org.teiid.designer.core"/>
                <entry node="org.teiid.designer.diagram.ui"/>
                <entry node="org.teiid.designer.dqp"/>
                <entry node="org.teiid.designer.query.ui"/>
                <entry node="org.teiid.designer.ui"/>
                <entry node="org.teiid.designer.ui.common"/>
                <entry node="org.teiid.designer.vdb.ui"/>
            </mapping>
            <description>%preferenceTransfer.description</description>
        </transfer>
    </extension>

<!-- Filters
	  Add filters in alphabetical order.
	  These filters are added above the *.class and .* patterns which already existed.
-->
   <extension
         point="org.eclipse.ui.ide.resourceFilters">
      <filter
            selected="true"
            pattern=".project">
      </filter>
      <filter
            selected="true"
            pattern="XMLExtensionsProject">
      </filter>
   </extension>
<!-- Modeler view category -->
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%modelerViewCategory"
            id="com.metamatrix.modeler.ui">
      </category>
<!-- Model Explorer view -->
      <view
            name="%modelNavigator"
            icon="icons/full/cview16/projects.gif"
            category="com.metamatrix.modeler.ui"
            class="com.metamatrix.modeler.internal.ui.explorer.ModelExplorerResourceNavigator"
            id="explorer.view">
      </view>
<!-- Description view -->
      <view
            name="%descriptionView"
            icon="icons/full/cview16/descriptionView.gif"
            category="com.metamatrix.modeler.ui"
            class="com.metamatrix.modeler.internal.ui.views.DescriptionView"
            id="views.descriptionView">
      </view>
<!-- Datatype Hierarchy view -->
      <view
            name="%datatypeHierarchyView.name"
            icon="icons/full/cview16/typeHierarchy.gif"
            category="com.metamatrix.modeler.ui"
            class="com.metamatrix.modeler.internal.ui.views.DatatypeHierarchyView"
            id="views.datatypeHierarchyView">
      </view>
<!-- Metamodel Tree view -->
      <view
            name="%metamodelsView.name"
            icon="icons/full/cview16/metamodels.gif"
            category="com.metamatrix.modeler.ui"
            class="com.metamatrix.modeler.internal.ui.views.MetamodelsView"
            id="views.metamodelsView">
      </view>
<!-- Tags view -->
      <view
            name="%tagsView.name"
            icon="icons/full/cview16/tags.gif"
            category="com.metamatrix.modeler.ui"
            class="com.metamatrix.modeler.internal.ui.views.TagsView"
            id="views.tagsView">
      </view>
<!-- Favorites view -->
      <view
            name="%favoritesView.name"
            icon="icons/full/cview16/metadata_favorites.gif"
            category="com.metamatrix.modeler.ui"
            class="com.metamatrix.modeler.internal.ui.favorites.FavoritesView"
            id="views.favoritesView">
      </view>
<!-- System Models view -->
      <view
            name="%systemModelView.name"
            icon="icons/full/cview16/system_model.gif"
            category="com.metamatrix.modeler.ui"
            class="com.metamatrix.modeler.internal.ui.views.SystemModelView"
            id="views.systemModelView">
      </view>
   </extension>
   <extension
         id="%modelImportContributions.id"
         name="ModelImportContributions"
         point="org.eclipse.ui.popupMenus">
<!-- Action to Refresh Import List in the Outline view -->
      <objectContribution
            objectClass="com.metamatrix.modeler.internal.ui.viewsupport.ImportContainer"
            id="updateImports">
         <action
               label="%organizeImportsAction.label"
               class="com.metamatrix.modeler.internal.ui.actions.OrganizeImportsAction"
               id="organizeImportsAction">
         </action>
      </objectContribution>
   </extension>
   <!-- Action to open add objects to Metadata Favorites View in context menus -->
   <extension
         id="designerModelObjectActionContributor"
         point="org.teiid.designer.ui.modelObjectActionContributor">
      <class
            name="com.metamatrix.modeler.internal.ui.actions.DesignerPermanentActionContributor">
      </class>
   </extension>
   <extension
         id="jdbcRefresh"
         name="%refreshModelContribution.name"
         point="org.teiid.designer.ui.metadataRefresh">
      <class
            label="%refreshModelContribution.label"
            description="%refreshModelContribution.description"
            classname="com.metamatrix.modeler.internal.ui.actions.RefreshModelAction">
      </class>
   </extension>
   <extension
         point="org.teiid.designer.ui.common.editorPreferences">
         <editorPreferenceComponent
         	class="com.metamatrix.modeler.internal.ui.preferences.TableEditorPreferencesComponent"/>
   </extension>
<!-- Custom properties factory/editor for the Core metamodel Namespace URI feature -->   
   <extension
         id="coreModelPropertyEditorFactory"
         name="%coreModelPropertyEditorFactory"
         point="org.teiid.designer.ui.propertyEditorFactory">
      <class
            name="com.metamatrix.modeler.internal.ui.properties.CoreModelPropertyEditorFactory">
      </class>
   </extension>

<!-- Context Help -->
	<extension point="org.eclipse.help.contexts">
		<contexts file="helpContexts.xml"  />
	</extension>
<!-- Actions contributed to the Model Resources -->
   <extension
		id="ShowModelStatisticsAction"
		name="%showModelStatisticsAction.name"
        point="org.teiid.designer.ui.modelResourceAction">
      <resourceAction
         name="com.metamatrix.modeler.internal.ui.actions.ShowModelStatisticsAction"
         label="%showModelStatisticsAction.label">
      </resourceAction>
   </extension>
   <extension
		id="BuildModelImportsAction"
		name="%buildModelImportsAction.name"
        point="org.teiid.designer.ui.modelResourceAction">
      <resourceAction
         name="com.metamatrix.modeler.internal.ui.actions.BuildModelImportsAction"
         label="%buildModelImportsAction.label">
      </resourceAction>
   </extension>
   <extension
		id="ConvertToEnterpriseTypesAction"
		name="%convertToEnterpriseTypesAction.name"
        point="org.teiid.designer.ui.modelResourceAction">
      <resourceAction
         name="com.metamatrix.modeler.internal.ui.actions.ConvertToEnterpriseTypesAction"
         label="%convertToEnterpriseTypesAction.label">
      </resourceAction>
   </extension>
<!-- Actions contributed to the object/model generation -->
   <extension
		id="GenerateXsdSchemaAction2"
		name="%generateXsdSchemaAction.name"
        point="org.teiid.designer.ui.modelObjectSpecialAction">
      <specialAction
         name="com.metamatrix.modeler.internal.ui.actions.GenerateXsdSchemaAction2"
         label="%generateXsdSchemaAction.label">
      </specialAction>
   </extension>
   <extension
		id="SetDatatypeModelingAction"
		name="%setDatatypeModelingAction.name"
        point="org.teiid.designer.ui.modelObjectSpecialAction">
      <specialAction
         name="com.metamatrix.modeler.internal.ui.actions.SetDatatypeModelingAction"
         label="%setDatatypeModelingAction.label">
      </specialAction>
   </extension>

<!-- Adding Model Explorer action to show/hide non-model files -->
	<extension
		point = "org.eclipse.ui.viewActions">
		<viewContribution 
			id="modelerexplorer" 
			targetID="explorer.view">        
			<action id="showNonModelsAction" 
				label="%showNonModelsAction.label"
				style="toggle"
				menubarPath="menuStart"
				tooltip="%showNonModelsAction.tooltip" 
				class="com.metamatrix.modeler.internal.ui.actions.ShowNonModelsAction" 
				enablesFor="*"> 
			</action>
		</viewContribution>
	</extension>
<!-- The Auto Open Editor General Preference -->
   <extension
         point="org.teiid.designer.ui.generalPreferenceContributor">
      <category
            id="modeler.ui.modelCategory"
            name="%modelCategory">
      </category>
<!-- Auto Open Editor General Preference -->
      <preference
            id="autoOpenEditorPreferenceContributor"
            categoryId="modeler.ui.modelCategory"
            class="com.metamatrix.modeler.internal.ui.preferences.AutoOpenEditorPreferenceContributor">
      </preference>
            <preference
            id="autoUpdateImportsPreferenceContributor"
            categoryId="modeler.ui.modelCategory"
            class="com.metamatrix.modeler.internal.ui.preferences.AutoUpdateImportsPreferenceContributor">
      </preference>
      <preference
            id="logicalAsRelationalPreferenceContributor"
            categoryId="modeler.ui.modelCategory"
            class="com.metamatrix.modeler.internal.ui.preferences.LogicalAsRelationalPreferenceContributor">
      </preference>      
      <preference
            id="autoOpenPerspectiveContributor"
            categoryId="modeler.ui.modelCategory"
            class="com.metamatrix.modeler.internal.ui.preferences.AutoOpenPerspectivePreferenceContributor">
      </preference>      
	</extension>

</plugin>
