<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  JBoss, Home of Professional Open Source.

  See the LEGAL.txt file distributed with this work for information regarding copyright ownership and licensing.

  See the AUTHORS.txt file distributed with this work for a full listing of individual contributors.
-->
<plugin>
    
<!-- Modeler Relational from WSDL Import Wizard -->
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            icon="icons/full/ctool16/import_wsdl.gif"
            category="com.metamatrix.modeler.ui"
            class="com.metamatrix.modeler.modelgenerator.wsdl.ui.internal.wizards.RelationalFromWSDLImportWizard"
            name="%relationalFromWSDLImportWizard.name"
            id="com.metamatrix.modeler.modelgenerator.wsdl.ui.internal.wizards.RelationalFromWSDLImportWizard">
         <description>
            %relationalFromWSDLImportWizard.description
         </description>
      </wizard>
   </extension>
</plugin>
