<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  JBoss, Home of Professional Open Source.

  See the LEGAL.txt file distributed with this work for information regarding copyright ownership and licensing.

  See the AUTHORS.txt file distributed with this work for a full listing of individual contributors.
-->
<plugin>

    
<!-- MetamodelAspect extensions -->
   <extension
         id="xmlSqlAspect"
         point="org.teiid.designer.core.sqlAspect">
      <metamodelExtensionID>
         xmldoc
      </metamodelExtensionID>
      <factoryClass
            name="com.metamatrix.modeler.internal.xml.aspects.sql.XmlSqlAspectFactory">
      </factoryClass>
   </extension>
<!-- Extension for Tree-Based Model To Relational Model Mapper (com.metamatrix.modeler.mapping.ui.ITreeToRelationalMapper) -->
   <extension
         id="xmlModelMapper"
         name="%xmlMapperName"
         point="org.teiid.designer.mapping.modelMapper">
      <class
            name="com.metamatrix.modeler.internal.xml.factory.XmlFragmentMapper"
            metamodelUri="http://www.metamatrix.com/metamodels/XmlDocument">
      </class>
   </extension>
<!-- Extension for Choice Object Handler -->
   <extension
         id="xmlChoiceObjectHandler"
         name="%xmlChoiceObjectHandlerName"
         point="org.teiid.designer.mapping.choiceObjectHandler">
      <class
            factoryClass="com.metamatrix.modeler.internal.xml.choice.XmlChoiceFactory">
      </class>
   </extension>

</plugin>
