<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
   <newWizard
         class="org.teiid.datatools.connectivity.ui.ConnectionProfileWizard"
         description="Create a Teiid connection profile."
         icon="icons/new_db_element.gif"
         id="org.teiid.datatools.connectivity.ui.ConnectionProfileWizard"
         name="Teiid"
         profile="org.teiid.datatools.connectivity.connectionProfile"/>
   </extension>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.teiid.datatools.connectivity.ui.TeiidPropertyPage"
            id="org.teiid.datatools.connectivity.ui.profileProperties"
            name="Driver Properties"
            objectClass="org.eclipse.datatools.connectivity.IConnectionProfile">
         <filter
               name="org.eclipse.datatools.profile.property.id"
               value="org.teiid.datatools.connectivity.connectionProfile"/>
      </page>
   </extension>
   
   <extension point="org.eclipse.datatools.connectivity.ui.driverUIContributor">
      <driverUIContributor
            class="org.teiid.datatools.connectivity.ui.TeiidDriverUIContributor"
            driverTemplateID="org.teiid.datatools.connectivity.driver.serverDriverTemplate"
            id="org.teiid.datatools.connectivity.ui.TeiidServerUIContributor">
      </driverUIContributor>
   </extension>
   
   <extension point="org.eclipse.datatools.connectivity.ui.driverPropertyEditor">
      <propertyEditor
            customPropertyDescriptor="org.eclipse.datatools.connectivity.ui.PasswordTextPropertyDescriptor"
            driverPropertyID="org.eclipse.datatools.connectivity.db.password"
            driverTemplateID="org.teiid.datatools.connectivity.driver.serverDriverTemplate"
            id="org.eclipse.datatools.connectivity.teiid.ui.propertyEditor.password">
      </propertyEditor>
   </extension>
   
   <extension
         point="org.eclipse.datatools.sqltools.plan.planService">
      <planService
            databaseVendorDefinitionId="Teiid_7.0"
            serviceClass="org.teiid.datatools.connectivity.ui.plan.TeiidPlanService">
      </planService>
   </extension>
   
   <extension
         point="org.eclipse.datatools.sqltools.editor.core.ui.dbUIConfigurations">
      <dbUIConfiguration
            configurationClass="org.teiid.datatools.connectivity.ui.TeiidDBUIConfiguration"
            default="false"
            product="Teiid"
            version="7.0">
      </dbUIConfiguration>
   </extension>
   <extension
         point="org.eclipse.datatools.sqltools.editor.core.dbConfigurations">
      <dbConfiguration
            configurationClass="org.teiid.datatools.connectivity.ui.TeiidDBConfiguration"
            default="false"
            product="Teiid"
            supportsDebugging="false"
            version="7.0">
      </dbConfiguration>
   </extension>
</plugin>
