<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  JBoss, Home of Professional Open Source.

  See the LEGAL.txt file distributed with this work for information regarding copyright ownership and licensing.

  See the AUTHORS.txt file distributed with this work for a full listing of individual contributors.
-->
<plugin>

    
<!-- Adding the Transformation Diagram Type extension-->
   <extension
         id="transformationDiagramType"
         name="%transformDiagramType"
         point="org.teiid.designer.diagram.ui.diagramType">
      <diagram
            class="org.teiid.designer.transformation.ui.diagram.TransformationDiagramType"
            simpleDiagram="true">
      </diagram>
   </extension>
<!-- Adding the Dependency Type extension-->
   <extension
         id="dependencyDiagramType"
         name="%dependencyDiagramType"
         point="org.teiid.designer.diagram.ui.diagramType">
      <diagram
            class="org.teiid.designer.transformation.ui.diagram.DependencyDiagramType"
            simpleDiagram="true">
      </diagram>
   </extension>
   <extension
         id="transformationDiagramContentProvider"
         name="Transformation Diagram Content Provider"
         point="org.teiid.designer.ui.diagramContentProvider">
      <class
            name="org.teiid.designer.transformation.ui.diagram.TransformationDiagramContentProvider">
      </class>
      <diagramType
            name="transformationDiagramType">
      </diagramType>
   </extension>
   <extension
         id="transformationDiagramLabelProvider"
         name="Transformation Diagram LabelProvider"
         point="org.teiid.designer.ui.diagramLabelProvider">
      <class
            name="org.teiid.designer.transformation.ui.diagram.TransformationDiagramLabelProvider">
      </class>
      <diagramType
            name="transformationDiagramType">
      </diagramType>
   </extension>
   <extension
         id="TransformationObjectEditorPage"
         name="Transformation Object Editor"
         point="org.teiid.designer.ui.modelObjectEditorPage">
      <class
            name="org.teiid.designer.transformation.ui.editors.TransformationObjectEditorPage">
      </class>
   </extension>
<!-- Transformation Diagram Type Permanent Model Object Action Contributor -->
   <extension
         id="transformationDiagramModelObjectActionContributor"
         point="org.teiid.designer.ui.modelObjectActionContributor">
      <class
            name="org.teiid.designer.transformation.ui.actions.TransformationDiagramPermanentActionContributor">
      </class>
   </extension>
   <extension
         id="transformationLinkContributor"
         name="%transformationLinkContributor"
         point="org.teiid.designer.ui.newModelWizardContributor">
      <class
            name="org.teiid.designer.transformation.ui.wizards.TransformationLinkContributor"
            icon="icons/full/ctool16/newmodel_wiz.gif">
      </class>
      <metamodelDescriptorType
            name="http://www.metamatrix.com/metamodels/Relational"
            isPhysical="false"
            isVirtual="true">
      </metamodelDescriptorType>
      <metamodelDescriptorType
            name="http://www.metamatrix.com/metamodels/DataAccess"
            isPhysical="false"
            isVirtual="true">
      </metamodelDescriptorType>
   </extension>
   <!-- Helper method to allow external edit for objects. i.e. Delete, Copy, etc.. -->
   <extension
         id="transformationObjectEditHelper"
         name="%transformationObjectEditHelper"
         point="org.teiid.designer.ui.modelObjectEditHelper">
      <class
        name="org.teiid.designer.transformation.ui.actions.TransformationObjectEditHelper">
      </class>
   </extension>

<!-- Action in the Metadata menu to revalidate model transformations -->
<!-- Property Testers, Handlers, Commands, Menus extensions to add to Teiid Designer submenu in Search Menu -->

	<extension point="org.eclipse.core.expressions.propertyTesters">
		<propertyTester
			id="org.teiid.designer.transformation.ui.propertyTester"
			type="org.eclipse.core.resources.IFile"
			namespace="org.teiid.designer.transformation.ui"
			properties="VIRTUAL_MODEL"
			class="org.teiid.designer.transformation.ui.actions.TransformationUiPropertyTester">
		</propertyTester>
	</extension>

	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="org.teiid.designer.transformation.ui.actions.ValidateModelTransformationsHandler"
            commandId="org.teiid.designer.transformation.ui.actions.validateModelTransformationsCommand">
			<enabledWhen>
				<and>
					<count value="1"/>
					<iterate ifEmpty="false">
						<test property="org.teiid.designer.transformation.ui.VIRTUAL_MODEL" value="true" />
					</iterate>
				</and>
			</enabledWhen>
		</handler>
		<handler
			class="org.teiid.designer.transformation.ui.search.OpenTransformationSearchPageHandler"
            commandId="org.teiid.designer.transformation.ui.search.openTransformationSearchPageCommand">
		</handler>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
	  <command
			categoryId="org.teiid.designer.ui.category.modeler"
			id="org.teiid.designer.transformation.ui.actions.validateModelTransformationsCommand"
			name="%revalidateModelAction.label">
	  </command>
	  <command
			categoryId="org.teiid.designer.ui.category.modeler"
			id="org.teiid.designer.transformation.ui.search.openTransformationSearchPageCommand"
			name="%openTransformationSearchAction.label">
	  </command>
   </extension>

	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="menu:project?after=additions">
			<command commandId="org.teiid.designer.transformation.ui.actions.validateModelTransformationsCommand"
				label="%revalidateModelAction.label"
             	icon="icons/full/cview16/validate.gif"
             	tooltip="%revalidateModelAction.tooltip">
             	<visibleWhen
                    checkEnabled="false">
					<with variable="activeWorkbenchWindow.activePerspective">
                 		<equals value="modelerPerspective"/>
              		</with>
             	</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=navigate">
			<!-- Note: The Search menu (re-) definition has to be here due to bug: -->
			<!-- see http://bugs.eclipse.org/bugs/show_bug.cgi?id=15684    -->
			<menu
				label="%searchMenu.label"
				id="org.eclipse.search.menu">
				<separator name="internalDialogGroup" visible="false" />
           		<separator name="dialogGroup" visible="false" />
           		<separator name="fileSearchContextMenuActionsGroup" visible="true" />
           		<separator name="teiidDesignerSearchMenuActionsGroup" visible="true" />
           		<separator name="contextMenuActionsGroup" visible="true" />
           		<separator name="occurencesActionsGroup" visible="true" />
           		<separator name="extraSearchGroup" visible="true" />
			</menu>
		</menuContribution>
		<menuContribution locationURI="menu:org.eclipse.search.menu?after=teiidDesignerSearchMenuActionsGroup">
			<menu id="designerSearchSubMenu" label="%designerSearchSubMenu.label">
				<command commandId="org.teiid.designer.transformation.ui.search.openTransformationSearchPageCommand"
					label="%openTransformationSearchAction.label"
                 	icon="icons/full/cview16/search_transformation.gif"
                 	tooltip="%openTransformationSearchAction.tip">
        		</command>
			</menu>
		</menuContribution>
	</extension>

<!--
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%metadataActionSet.label"
            visible="true"
            id="transformationMetadataActionSet">
         <action
               label="%revalidateModelAction.label"
               tooltip="%revalidateModelAction.tooltip"
               icon="icons/full/cview16/validate.gif"
               class="org.teiid.designer.transformation.ui.actions.RevalidateModelAction"
               menubarPath="project/additions"
               enablesFor="1"
               id="revalidateModelAction">
         </action>
      </actionSet>
   </extension>
-->
 <!-- Helper method to allow external edit for objects. i.e. Delete, Copy, etc.. -->
   <extension
         id="transformationUiNewModelObjectHelper"
         name="%transformationUiNewModelObjectHelper"
         point="org.teiid.designer.core.newModelObjectHelper">
      <class
        name="org.teiid.designer.transformation.ui.util.TransformationUiNewModelObjectHelper">
      </class>
   </extension>
       <!-- Text Importer Contribution -->
   <extension
         id="transformationUiTextImporter"
         name="%transformationUiTextImporter"
         point="org.teiid.designer.tools.textimport.ui.textImportContributor">
      <class
        name="org.teiid.designer.transformation.ui.wizards.ImportVirtualTablesMainPage">
      </class>
   </extension>
   <extension
		id="RevalidateModelTransformationsAction"
		name="%revalidateModelTransformationsAction.name"
        point="org.teiid.designer.ui.modelResourceAction">
      <resourceAction
         name="org.teiid.designer.transformation.ui.actions.RevalidateModelTransformationsAction"
         label="%revalidateModelTransformationsAction.label">
      </resourceAction>
   </extension>
       <extension
		id="ImportTransformationSqlFromTextAction"
		name="%importTransformationSqlFromTextAction.name"
        point="org.teiid.designer.ui.modelObjectSpecialAction">
      <specialAction
         name="org.teiid.designer.transformation.ui.actions.ImportTransformationSqlFromTextAction"
         label="%importTransformationSqlFromTextAction.label">
      </specialAction>
   </extension>
       <extension
		id="ExportTransformationSqlToTextAction"
		name="%exportTransformationSqlToTextAction.name"
        point="org.teiid.designer.ui.modelObjectSpecialAction">
      <specialAction
         name="org.teiid.designer.transformation.ui.actions.ExportTransformationSqlToTextAction"
         label="%exportTransformationSqlToTextAction.label">
      </specialAction>
   </extension>
   <extension
		id="EditTransformationAction"
		name="%editTransformationAction.name"
        point="org.teiid.designer.ui.modelResourceAction">
      <resourceAction
         name="org.teiid.designer.transformation.ui.actions.EditTransformationAction"
         label="%editTransformationAction.label">
      </resourceAction>
   </extension>
      <extension
		id="ConvertFunctionsAction"
		name="%convertFunctionsAction.name"
        point="org.teiid.designer.ui.modelResourceAction">
      <resourceAction
         name="org.teiid.designer.transformation.ui.actions.ConvertFunctionsToVirtualProceduresAction"
         label="%convertFunctionsAction.label">
      </resourceAction>
   </extension>

   <!-- Action contributed to generate materialized views -->
   <extension
		id="CreateMaterializedViewsAction"
		name="%createMaterializedViewsAction.name"
        point="org.teiid.designer.ui.modelObjectSpecialAction">
      <specialAction
         name="org.teiid.designer.transformation.ui.actions.CreateMaterializedViewsAction"
         label="%createMaterializedViewsAction.label">
      </specialAction>
   </extension>
   <extension
         point="org.teiid.designer.ui.common.editorPreferences">
         <editorPreferenceComponent
         	class="org.teiid.designer.transformation.ui.preferences.TransformationEditorPreferencesComponent"/>
   </extension>  
<!-- Eclipse Import Wizards -->
   <extension
         point="org.eclipse.ui.importWizards">
<!-- Teiid Metadata Import Wizard -->
      <wizard
            name="%teiidMetadataImportWizard.name"
            icon="icons/full/cview16/import_teiid_metadata.png"
            category="org.teiid.designer.ui"
            class="org.teiid.designer.transformation.ui.wizards.file.TeiidMetadataImportWizard"
            id="teiidMetadataImportWizard">
         <description>
            %teiidMetadataImportWizard.description
         </description>
      </wizard>
  </extension>
   <extension
         point="org.eclipse.ui.importWizards">
<!-- Teiid Metadata Import Wizard -->
      <wizard
            name="%teiidXmlImportWizard.name"
            icon="icons/full/cview16/import_teiid_metadata.png"
            category="org.teiid.designer.ui"
            class="org.teiid.designer.transformation.ui.wizards.xmlfile.TeiidXmlImportWizard"
            id="teiidXmlImportWizard">
         <description>
            %teiidXmlImportWizard.description
         </description>
      </wizard>
  </extension>
  
    <extension
         point="org.eclipse.ui.importWizards">
<!-- Teiid REST Metadata Import Wizard -->
      <wizard
            name="%teiidRestImportWizard.name"
            icon="icons/full/ctool16/import_wsdl.gif"
            category="org.teiid.designer.ui"
            class="org.teiid.designer.transformation.ui.wizards.rest.TeiidRestImportWizard"
            id="teiidRestImportWizard">
         <description>
            %teiidRestImportWizard.description
         </description>
      </wizard>
  </extension>
  
   <extension
         id="newChildViewTableAction"
         name="%newChildViewTableAction"
         point="org.teiid.designer.ui.newChildAction">
      <class
            name="org.teiid.designer.transformation.ui.actions.CreateViewTableAction">
      </class>
   </extension>

   <extension
         id="newSiblingViewTableAction"
         name="%newSiblingViewTableAction"
         point="org.teiid.designer.ui.newSiblingAction">
      <class
            name="org.teiid.designer.transformation.ui.actions.CreateViewTableAction">
      </class>
   </extension>
   
   <extension
         id="newChildViewProcedureAction"
         name="%newChildViewProcedureAction"
         point="org.teiid.designer.ui.newChildAction">
      <class
            name="org.teiid.designer.transformation.ui.actions.CreateViewProcedureAction">
      </class>
   </extension>

   <extension
         id="newSiblingViewProcedureAction"
         name="%newSiblingViewProcedureAction"
         point="org.teiid.designer.ui.newSiblingAction">
      <class
            name="org.teiid.designer.transformation.ui.actions.CreateViewProcedureAction">
      </class>
   </extension>
   
      <extension
         id="newChildViewIndexAction"
         name="%newChildViewIndexAction"
         point="org.teiid.designer.ui.newChildAction">
      <class
            name="org.teiid.designer.transformation.ui.actions.CreateViewIndexAction">
      </class>
   </extension>

   <extension
         id="newSiblingViewIndexAction"
         name="%newSiblingViewIndexAction"
         point="org.teiid.designer.ui.newSiblingAction">
      <class
            name="org.teiid.designer.transformation.ui.actions.CreateViewIndexAction">
      </class>
   </extension>
   <extension point="org.eclipse.ui.ide.markerResolution"> 
	   <markerResolutionGenerator
	          class="org.teiid.designer.transformation.ui.wizards.rest.RestExtensionPropertiesResolutionGenerator"
	          markerType="org.teiid.designer.extension.ui.medMarker">
	       <attribute
	             name="hasOldRestPrefix"
	             value="true">
	       </attribute>
	    </markerResolutionGenerator>
   </extension>
   <extension 
   	     point="org.eclipse.ui.exportWizards">
      <wizard
            name="%exportTeiidDdlWizard.name"
            icon="icons/full/ctool16/exportddl_wiz.gif"
            category="org.teiid.designer.ui"
            class="org.teiid.designer.transformation.ui.teiidddl.ExportTeiidDdlWizard"
            id="exportTeiidDdlWizard">
         <description>
            %exportTeiidDdlWizard.description
         </description>
         <selection
               name="*.xmi"
               class="org.eclipse.core.resources.IFile">
         </selection>
      </wizard>
   </extension>
</plugin>
