<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  JBoss, Home of Professional Open Source.

  See the LEGAL.txt file distributed with this work for information regarding copyright ownership and licensing.

  See the AUTHORS.txt file distributed with this work for a full listing of individual contributors.
-->
<plugin>

   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.wst.server.core.IServer"
            class="org.teiid.designer.runtime.adapter.TeiidServerAdapterFactory">
         <adapter
               type="org.teiid.designer.runtime.spi.ITeiidServer">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.teiid.designer.spi.teiidServerManager">
      <serverManager
            class="org.teiid.designer.runtime.TeiidServerManager">
      </serverManager>
   </extension>

</plugin>
