<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  JBoss, Home of Professional Open Source.

  See the LEGAL.txt file distributed with this work for information regarding copyright ownership and licensing.

  See the AUTHORS.txt file distributed with this work for a full listing of individual contributors.
-->
<plugin>

   <extension-point id="diagramContentProvider" 		name="%diagramContentProvider" 			schema="schema/diagramContentProvider.exsd"/>
   <extension-point id="diagramLabelProvider" 			name="%diagramLabelProvider" 			schema="schema/diagramLabelProvider.exsd"/>
   <extension-point id="extendedModelContentProvider" 	name="%extendedModelContentProvider" 	schema="schema/extendedModelContentProvider.exsd"/>
   <extension-point id="extendedModelLabelProvider" 	name="%extendedModelLabelProvider" 		schema="schema/extendedModelLabelProvider.exsd"/>
   <extension-point id="modelEditorPage" 				name="%modelEditorPage" 				schema="schema/modelEditorPage.exsd"/>
   <extension-point id="modelObjectActionContributor" 	name="%modelObjectActionContributor" 	schema="schema/modelObjectActionContributor.exsd"/>
   <extension-point id="modelObjectEditorPage" 			name="%modelObjectEditorPage" 			schema="schema/modelObjectEditorPage.exsd"/>
   <extension-point id="newAssociationWizard" 			name="%newAssociationWizard" 			schema="schema/newAssociationWizard.exsd"/>
   <extension-point id="newModelObjectWizard" 			name="%newModelObjectWizard" 			schema="schema/newModelObjectWizard.exsd"/>
   <extension-point id="newModelWizardContributor" 		name="%newModelWizardContributor" 		schema="schema/newModelWizardContributor.exsd"/>
   <extension-point id="newChildAction" 				name="%newChildAction" 					schema="schema/newChildAction.exsd"/>
   <extension-point id="newSiblingAction" 				name="%newSiblingAction" 				schema="schema/newSiblingAction.exsd"/>
   <extension-point id="metadataPasteSpecial" 			name="%metadataPasteSpecial" 			schema="schema/metadataPasteSpecial.exsd"/>
   <extension-point id="metadataRefresh" 				name="%metadataRefresh" 				schema="schema/metadataRefresh.exsd"/>
   <extension-point id="propertyEditorFactory" 			name="%propertyEditorFactory" 			schema="schema/propertyEditorFactory.exsd"/>
   <extension-point id="diagramHelper" 					name="%diagramHelper"/>
   <extension-point id="modelObjectEditHelper" 			name="%modelObjectEditHelper"/>
   <extension-point id="modelerPerspectiveContributor" 	name="%modelerPerspectiveContributor"/>
   <extension-point id="modelResourceAction" 			name="%modelResourceAction" 			schema="schema/modelResourceAction.exsd"/>
   <extension-point id="modelObjectSpecialAction" 		name="%modelObjectSpecialAction" 		schema="schema/modelObjectSpecialAction.exsd"/>
   <extension-point id="generalPreferenceContributor" 	name="%generalPreferenceContributor" 	schema="schema/generalPreferenceContributor.exsd"/>
   <extension-point id="vetoableShutdownListener" 		name="%vetoableShutdownListener" 		schema="schema/vetoableShutdownListener.exsd"/>

<!-- Model Project Nature -->
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/full/ovr16/model_ovr.gif"
            natureId="org.teiid.designer.core.modelNature"
            id="org.eclipse.ui.javaProjectNatureImage">
      </image>
   </extension>
<!-- Table Editor -->
   <extension
         id="tableEditorPage"
         name="%modelTableEditor"
         point="org.teiid.designer.ui.modelEditorPage">
      <class
            tabName="%modelTableEditor"
            order="2"
            name="com.metamatrix.modeler.internal.ui.table.ModelTableEditor">
      </class>
   </extension>
   <extension
         id="structuralCopyWizard"
         name="%structuralCopyWizard"
         point="org.teiid.designer.ui.newModelWizardContributor">
      <class
            name="com.metamatrix.modeler.internal.ui.wizards.StructuralCopyContributor"
            icon="icons/full/ctool16/newmodel_wiz.gif">
      </class>
      <metamodelDescriptorType
            name="all"
            isPhysical="true"
            isVirtual="true">
      </metamodelDescriptorType>
   </extension>
<!-- Metadata Search Page -->
   <extension
         point="org.eclipse.search.searchPages">
      <page
            showScopeSection="true"
            tabPosition="1"
            label="%metadataSearchPage.name"
            icon="icons/full/ctool16/metadata_search.gif"
            extensions="xmi:1"
            class="com.metamatrix.modeler.ui.search.MetadataSearchPage"
            id="metadataSearchPage">
      </page>
   </extension>
   <extension id="MetadataSearchPage"
      point="org.eclipse.search.searchResultViewPages">
      <viewPage 
      	 id="MetadataSearchResultPage"
         searchResultClass="com.metamatrix.modeler.ui.search.MetadataSearchResult"
         class="com.metamatrix.modeler.ui.search.MetadataSearchResultPage">
     </viewPage>
   </extension>

<!-- Action set to get Metadata Search Action in Search Menu -->

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="%category.modeler.name"
            description="%category.modeler.description"
            id="com.metamatrix.modeler.ui.category.modeler">
      </category>
   </extension>      
      
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%metadataSearchActionSet.name"
            visible="true"
            id="metadataSearchActionSet">
		 <menu
			   id="org.eclipse.search.menu"
			   label="%searchMenu.label"
			   path="navigate">
			   <groupMarker name="internalDialogGroup"/>   <!-- not to be used by clients  -->
			   <groupMarker name="dialogGroup"/>           <!-- to be used by clients      -->
			   <groupMarker name="quickPage"/>           <!-- to be used by clients      -->
			   <separator name="contextMenuActionsGroup"/>
		 </menu>            
         <action
               label="%openMetadataSearchAction.text"
               icon="icons/full/ctool16/metadata_search.gif"
               tooltip="%openMetadataSearchAction.tip"
               class="com.metamatrix.modeler.internal.ui.search.OpenMetadataSearchPageAction"
               toolbarPath="org.eclipse.search.searchActionSet/Normal/Search"
               menubarPath="org.eclipse.search.menu/quickPage"
               id="openMetadataSearchPageAction">
         </action>              
      </actionSet>
   </extension>   

<!--
	Add Metadata action set. Set visibility to false so that it is not automatically added
	to each perspective.
-->
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%metadataActionSet.label"
            visible="false"
            id="metadataActionSet">
         <menu
               label="%metadata.menu"
               path="additions"
               id="metadataMenu">
            <separator
                  name="slot1">
            </separator>
            <separator
                  name="slot2">
            </separator>
            <separator
                  name="slot3">
            </separator>
            <separator
                  name="slot4">
            </separator>
            <groupMarker
                  name="com.metamatrix.modeler.ui.groupMarker1">
            </groupMarker>
         </menu>
         <action
               label="%refreshModelAction.label"
               icon="platform:/plugin/org.teiid.designer.jdbc.ui/icons/full/ctool16/jdbc_import.gif"
               helpContextId="refreshAction.helpContext"
               tooltip="%refreshModelAction.tooltip"
               class="com.metamatrix.modeler.internal.ui.actions.RefreshAction"
               menubarPath="metadataMenu/slot1"
               enablesFor="1"
               id="refreshAction">
         </action>
         <action
               label="%showDatatypeHierarchyAction.label"
               icon="icons/full/cview16/typeHierarchy.gif"
               helpContextId="showDatatypeHierarchyAction.helpContext"
               tooltip="%showDatatypeHierarchyAction.tooltip"
               class="com.metamatrix.modeler.internal.ui.actions.ShowDatatypeHierarchyAction"
               menubarPath="metadataMenu/slot2"
               id="showDatatypeHierarchyAction">
         </action>
         <action
               label="%showSystemCatalogAction.label"
               icon="icons/full/cview16/system_model.gif"
               helpContextId="showSystemCatalogAction.helpContext"
               tooltip="%showSystemCatalogAction.tooltip"
               class="com.metamatrix.modeler.internal.ui.actions.ShowSystemCatalogAction"
               menubarPath="metadataMenu/slot2"
               id="showSystemCatalogAction">
         </action>
         <action
               label="%buildImportsAction.label"
               icon="icons/full/obj16/Imports.gif"
               helpContextId="buildImportsAction.helpContext"
               tooltip="%buildImportsAction.tooltip"
               class="com.metamatrix.modeler.internal.ui.actions.BuildImportsAction"
               menubarPath="metadataMenu/slot3"
               enablesFor="*"
               id="buildImportsAction">
         </action>
         <action
               label="%buildImportsAllAction.label"
               icon="icons/full/obj16/Imports.gif"
               helpContextId="buildImportsAllAction.helpContext"
               tooltip="%buildImportsAllAction.tooltip"
               class="com.metamatrix.modeler.internal.ui.actions.BuildImportsAllAction"
               menubarPath="project/additions"
               enablesFor="*"
               id="buildImportsAllAction">
         </action>
         <action
               label="%buildImportsProjectAction.label"
               icon="icons/full/obj16/Imports.gif"
               helpContextId="buildImportsProjectAction.helpContext"
               tooltip="%buildImportsProjectAction.tooltip"
               class="com.metamatrix.modeler.internal.ui.actions.BuildImportsProjectAction"
               menubarPath="project/additions"
               enablesFor="*"
               id="buildImportsProjectAction">
         </action>
         <action
               label="%modelStatisticsAction.label"
               icon="icons/full/cview16/statistics.gif"
               helpContextId="modelStatisticsAction.helpContext"
               tooltip="%modelStatisticsAction.tooltip"
               class="com.metamatrix.modeler.internal.ui.actions.ModelStatisticsAction"
               menubarPath="metadataMenu/slot3"
               enablesFor="1"
               id="modelStatisticsAction">
         </action>  
         <action
               label="%convertToEnterpriseTypesAction.label"
               tooltip="%convertToEnterpriseTypesAction.tooltip"
               class="com.metamatrix.modeler.internal.ui.actions.ConvertToEnterpriseDatatypesAction"
               menubarPath="metadataMenu/slot3"
               enablesFor="1"
               id="convertToEnterpriseTypesAction">
         </action> 
         <!-- Defect 23006 - Close Model Action really doesn't do much anymore. Commenting out the contribution     
         <action
               label="%closeModelAction.label"
               helpContextId="com.metamatrix.modeler.internal.ui.actions.CloseModelAction.helpContext"
               tooltip="%closeModelAction.tooltip"
               class="com.metamatrix.modeler.internal.ui.actions.CloseModelAction"
               menubarPath="metadataMenu/slot3"
               enablesFor="+"
               id="com.metamatrix.modeler.ui.actions.closeModelAction">
         </action>
         -->
         <action
               label="%cloneProjectAction.label"
               tooltip="%cloneProjectAction.tooltip"
               icon="icons/full/cview16/clone_project.png"
               class="com.metamatrix.modeler.internal.ui.actions.CloneProjectAction"
               menubarPath="project/additions"
               enablesFor="1"
               id="cloneProjectAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%RefactorActionSet.label"
            description="%RefactorActionSet.description"
            visible="false"
            id="RefactorActionSet">
<!-- =========================================================================== -->
<!-- Refactoring Menu                                                            -->
<!-- =========================================================================== -->
         <menu
               label="%Refactoring.menu.label"
               path="edit"
               id="org.teiid.designer.ui.refactoring.menu">
            <separator
                  name="undoRedoGroup">
            </separator>
            <separator
                  name="reorgGroup">
            </separator>
            <separator
                  name="additions">
            </separator>
         </menu>
<!-- undo/redo group  -->
         <action
               label="%refactoring.redoAction.label"
               class="com.metamatrix.modeler.internal.ui.refactor.actions.RedoRefactoringAction"
               menubarPath="org.teiid.designer.ui.refactoring.menu/undoRedoGroup"
               id="RedoAction">
         </action>
<!--definitionId="org.eclipse.jdt.ui.edit.text.java.refactor.redo"-->
         <action
               label="%refactoring.undoAction.label"
               class="com.metamatrix.modeler.internal.ui.refactor.actions.UndoRefactoringAction"
               menubarPath="org.teiid.designer.ui.refactoring.menu/undoRedoGroup"
               id="UndoAction">
         </action>
<!--definitionId="org.eclipse.jdt.ui.edit.text.java.refactor.undo"-->
<!-- reorg group  -->
         <action
               label="%refactoring.moveAction.label"
               class="com.metamatrix.modeler.internal.ui.refactor.actions.MoveRefactorAction"
               menubarPath="org.teiid.designer.ui.refactoring.menu/reorgGroup"
               id="Move">
         </action>
<!--
			definitionId="com.metamatrix.modeler.ui.edit.text.java.move.element"
			retarget="true" /> -->
         <action
               label="%refactoring.renameAction.label"
               class="com.metamatrix.modeler.internal.ui.refactor.actions.RenameRefactorAction"
               menubarPath="org.teiid.designer.ui.refactoring.menu/reorgGroup"
               id="Rename">
         </action>
      </actionSet>
   </extension>
<!--
	Add Metadata action set to this perspective to make it's menu visible.
-->
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="modelerPerspective">
         <actionSet
               id="metadataActionSet">
         </actionSet>
         <actionSet
               id="RefactorActionSet">
         </actionSet>
         <actionSet
               id="metadataSearchActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
<!-- Model Explorer decorator -->
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            location="BOTTOM_LEFT"
            adaptable="true"
            label="%modelResourceProblemDecorator"
            state="true"
            class="com.metamatrix.modeler.internal.ui.explorer.ModelExplorerLabelProvider"
            id="modelExplorerLabelProvider">
         <description>
            %problemDecorator.desc
         </description>
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IResource">
            </objectClass>
         </enablement>
      </decorator>
      <decorator
            lightweight="true"
            location="BOTTOM_LEFT"
            adaptable="true"
            label="%modelObjectProblemDecorator"
            state="true"
            class="com.metamatrix.modeler.internal.ui.viewsupport.ModelObjectLabelProvider"
            id="modelObjectLabelProvider">
         <description>
            %problemDecorator.desc
         </description>
         <enablement>
            <objectClass
                  name="org.eclipse.emf.ecore.EObject">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
<!-- Model Editor -->
      <editor
            name="%modelEditor"
            default="true"
            icon="icons/full/obj16/GeneralModel.gif"
            extensions="xmi"
            contributorClass="com.metamatrix.modeler.internal.ui.editors.ModelEditorActionContributor"
            class="com.metamatrix.modeler.internal.ui.editors.ModelEditor"
            id="modelEditor">
      </editor>
<!-- Schema Editor -->
      <editor
            name="%modelEditor"
            icon="icons/full/obj16/XSDSchema.gif"
            extensions="xsd"
            contributorClass="com.metamatrix.modeler.internal.ui.editors.ModelEditorActionContributor"
            class="com.metamatrix.modeler.internal.ui.editors.ModelEditor"
            id="schemaEditor">
      </editor>
   </extension>
<!-- Eclipse Import Wizards -->
   <extension
         point="org.eclipse.ui.importWizards">
         <category name="%modelCategory" id="com.metamatrix.modeler.ui" />
   </extension>

<!-- Eclipse Export Wizards -->
   <extension
         point="org.eclipse.ui.exportWizards">
         <category name="%modelCategory" id="com.metamatrix.modeler.ui" />
<!-- DDL Export Wizard -->
      <wizard
            name="%exportDdlWizard.name"
            icon="icons/full/ctool16/exportddl_wiz.gif"
            category="com.metamatrix.modeler.ui"
            class="com.metamatrix.modeler.internal.ui.wizards.ExportDdlWizard"
            id="exportDdlWizard">
         <description>
            %exportDdlWizard.description
         </description>
      </wizard>
<!-- Modeler Project Set Export Wizard -->
      <wizard
            name="%exportModelerProjectSetWizard.name"
            icon="icons/full/cview16/export_projectset.gif"
            category="com.metamatrix.modeler.ui"
            class="com.metamatrix.modeler.internal.ui.wizards.ExportModelerProjectSetWizard"
            id="exportModelerProjectSetWizard">
         <description>
            %exportModelerProjectSetWizard.description
         </description>
      </wizard>
   </extension>

<!-- New wizards -->
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%modelCategory"
            id="com.metamatrix.modeler.ui">
      </category>
<!-- New model project wizard -->
      <wizard
            name="%newModelProjectWizard"
            icon="icons/full/ctool16/newproject_wiz.gif"
            category="com.metamatrix.modeler.ui"
            class="com.metamatrix.modeler.ui.wizards.NewModelProjectWizard"
            project="true"
            id="newModelProject">
         <description>
            %newModelProjectWizardDescription
         </description>
      </wizard>
<!-- New model wizard -->
      <wizard
            name="%newModelWizard"
            icon="icons/full/ctool16/newmodel_wiz.gif"
            category="com.metamatrix.modeler.ui"
            class="com.metamatrix.modeler.internal.ui.wizards.NewModelWizard"
            id="newModel">
         <description>
            %newModelWizardDescription
         </description>
      </wizard>
   </extension>
<!-- ModelerPerspective -->
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspectiveName"
            icon="icons/full/cview16/perspective.gif"
            class="com.metamatrix.modeler.internal.ui.ModelerPerspectiveFactory"
            id="modelerPerspective">
      </perspective>
   </extension>
<!-- Modeler preferences -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%modelerPreferences"
            class="com.metamatrix.modeler.internal.ui.preferences.GeneralPreferencePage"
            id="modelerPreferencePage">
      </page>
      <page
            name="%modelerValidationPreferences"
            category="modelerPreferencePage"
            class="com.metamatrix.modeler.internal.ui.preferences.ValidationPreferencePage"
            id="validationPreferencePage">
      </page>
   </extension>
    
<!-- Preferences exports -->
    <extension
        point="org.eclipse.ui.preferenceTransfer">
        <transfer
            icon="icons/full/cview16/modelerPerspective.gif"
            id="preferenceTransfer"
            name="%preferenceTransfer.name">
            <mapping scope="instance">
                <entry node="com.metamatrix.modeler.core"/>
                <entry node="com.metamatrix.modeler.diagram.ui"/>
                <entry node="com.metamatrix.modeler.ui"/>
                <entry node="com.metamatrix.ui"/>
            </mapping>
            <description>%preferenceTransfer.description</description>
        </transfer>
    </extension>

<!-- Filters
	  Add filters in alphabetical order.
	  These filters are added above the *.class and .* patterns which already existed.
-->
   <extension
         point="org.eclipse.ui.ide.resourceFilters">
      <filter
            selected="true"
            pattern=".project">
      </filter>
      <filter
            selected="true"
            pattern="XMLExtensionsProject">
      </filter>
   </extension>
<!-- Modeler view category -->
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%modelerViewCategory"
            id="com.metamatrix.modeler.ui">
      </category>
<!-- Model Explorer view -->
      <view
            name="%modelNavigator"
            icon="icons/full/cview16/projects.gif"
            category="com.metamatrix.modeler.ui"
            class="com.metamatrix.modeler.internal.ui.explorer.ModelExplorerResourceNavigator"
            id="explorer.view">
      </view>
<!-- Description view -->
      <view
            name="%descriptionView"
            icon="icons/full/cview16/descriptionView.gif"
            category="com.metamatrix.modeler.ui"
            class="com.metamatrix.modeler.internal.ui.views.DescriptionView"
            id="views.descriptionView">
      </view>
<!-- Datatype Hierarchy view -->
      <view
            name="%datatypeHierarchyView.name"
            icon="icons/full/cview16/typeHierarchy.gif"
            category="com.metamatrix.modeler.ui"
            class="com.metamatrix.modeler.internal.ui.views.DatatypeHierarchyView"
            id="views.datatypeHierarchyView">
      </view>
<!-- Metamodel Tree view -->
      <view
            name="%metamodelsView.name"
            icon="icons/full/cview16/metamodels.gif"
            category="com.metamatrix.modeler.ui"
            class="com.metamatrix.modeler.internal.ui.views.MetamodelsView"
            id="views.metamodelsView">
      </view>
<!-- Error Log view -->
      <view
            name="%errorLog.name"
            icon="icons/full/cview16/error_log.gif"
            category="com.metamatrix.modeler.ui"
            class="com.metamatrix.ui.internal.logview.LogView"
            id="views.logView">
      </view>
<!-- Tags view -->
      <view
            name="%tagsView.name"
            icon="icons/full/cview16/tags.gif"
            category="com.metamatrix.modeler.ui"
            class="com.metamatrix.modeler.internal.ui.views.TagsView"
            id="views.tagsView">
      </view>
<!-- Favorites view -->
      <view
            name="%favoritesView.name"
            icon="icons/full/cview16/metadata_favorites.gif"
            category="com.metamatrix.modeler.ui"
            class="com.metamatrix.modeler.internal.ui.favorites.FavoritesView"
            id="views.favoritesView">
      </view>
<!-- System Models view -->
      <view
            name="%systemModelView.name"
            icon="icons/full/cview16/system_model.gif"
            category="com.metamatrix.modeler.ui"
            class="com.metamatrix.modeler.internal.ui.views.SystemModelView"
            id="views.systemModelView">
      </view>
   </extension>
<!-- Open editors toolbar button/menu -->
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%navigationActionSet.label"
            visible="true"
            id="navigationActionSet">
         <action
               label="%editorList.name"
               icon="icons/full/cview16/editorList.gif"
               tooltip="%editorList.tooltip"
               class="com.metamatrix.modeler.internal.ui.actions.OpenEditorListAction"
               toolbarPath="org.eclipse.ui.workbench.navigate/history.group"
               enablesFor="+"
               style="pulldown"
               id="OpenEditorListAction">
         </action>    
            
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%findModelObjectActionSet.label"
            visible="true"
            id="findModelObjectActionSet">
		 <menu
			   id="org.eclipse.search.menu"
			   label="%searchMenu.label"
			   path="navigate">
			   <groupMarker name="internalDialogGroup"/>   <!-- not to be used by clients  -->
			   <groupMarker name="dialogGroup"/>           <!-- to be used by clients      -->
			   <groupMarker name="quickPage"/>           <!-- to be used by clients      -->
			   <separator name="contextMenuActionsGroup"/>
		 </menu>    
         <action
               label="%findModelObject.name"
               tooltip="%findModelObject.tooltip"
               icon="icons/full/ctool16/opentype.gif"               
               class="com.metamatrix.modeler.internal.ui.actions.FindModelObjectAction"
               toolbarPath="org.eclipse.search.searchActionSet/Normal/Search"
               menubarPath="org.eclipse.search.menu/quickPage"
               enablesFor="-2"
               id="FindModelObjectAction">
         </action>             
      </actionSet>
   </extension>
<!-- Save All toolbar button -->
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%fileActionSet.label"
            visible="true"
            id="fileActionSet">
         <action
               label="%saveAll.name"
               icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/saveall_edit.gif"
               disabledIcon="platform:/plugin/org.eclipse.ui/icons/full/dtool16/saveall_edit.gif"
               tooltip="%saveAll.tooltip"
               class="com.metamatrix.modeler.internal.ui.actions.SaveAllAction"
               toolbarPath="org.eclipse.ui.workbench.file/save.ext"
               enablesFor="-1"
               id="SaveAllAction">
         </action>
         <action
               label="%addModelProjectSet.name"
               icon="platform:/plugin/org.eclipse.ui.ide/icons/full/etool16/newprj_wiz.gif"
               disabledIcon="platform:/plugin/org.eclipse.ui.ide/icons/full/dtool16/newprj_wiz.gif"
               tooltip="%addModelProjectSet.tooltip"
               class="com.metamatrix.modeler.internal.ui.actions.AddModelProjectSetAction"
               menubarPath="file/new.ext"
               enablesFor="-1"
               id="AddModelProjectSetAction">
         </action>
         <action
               label="%addExistingProject.name"
               icon="platform:/plugin/org.eclipse.ui.ide/icons/full/etool16/newprj_wiz.gif"
               disabledIcon="platform:/plugin/org.eclipse.ui.ide/icons/full/dtool16/newprj_wiz.gif"
               tooltip="%addExistingProject.tooltip"
               class="com.metamatrix.modeler.internal.ui.actions.AddExistingProjectAction"
               menubarPath="file/new.ext"
               enablesFor="-1"
               id="AddExistingProjectAction">
         </action>
      </actionSet>
   </extension>
   <extension
         id="%modelImportContributions.id"
         name="ModelImportContributions"
         point="org.eclipse.ui.popupMenus">
<!-- Action to Refresh Import List in the Outline view -->
      <objectContribution
            objectClass="com.metamatrix.modeler.internal.ui.viewsupport.ImportContainer"
            id="updateImports">
         <action
               label="%organizeImportsAction.label"
               class="com.metamatrix.modeler.internal.ui.actions.OrganizeImportsAction"
               id="organizeImportsAction">
         </action>
      </objectContribution>
<!-- Action to open add objects to Metadata Favorites View in context menus -->
      <objectContribution
            objectClass="org.eclipse.emf.ecore.EObject"
            id="addToMetadataFavorites">
         <action
               label="%addToMetadataFavoritesAction.label"
               icon="icons/full/cview16/add_to_favorites.gif"
               class="com.metamatrix.modeler.internal.ui.favorites.actions.AddToMetadataFavoritesAction"
               enablesFor="1"
               id="addToMetadataFavoritesAction">
         </action>
      </objectContribution>

   </extension>
   <extension
         id="jdbcRefresh"
         name="%refreshModelContribution.name"
         point="org.teiid.designer.ui.metadataRefresh">
      <class
            label="%refreshModelContribution.label"
            description="%refreshModelContribution.description"
            classname="com.metamatrix.modeler.internal.ui.actions.RefreshModelAction">
      </class>
   </extension>
   <extension
         point="org.teiid.designer.ui.common.editorPreferences">
         <editorPreferenceComponent
         	class="com.metamatrix.modeler.internal.ui.preferences.TableEditorPreferencesComponent"/>
   </extension>
<!-- Custom properties factory/editor for the Core metamodel Namespace URI feature -->   
   <extension
         id="coreModelPropertyEditorFactory"
         name="%coreModelPropertyEditorFactory"
         point="org.teiid.designer.ui.propertyEditorFactory">
      <class
            name="com.metamatrix.modeler.internal.ui.properties.CoreModelPropertyEditorFactory">
      </class>
   </extension>

<!-- Context Help -->
	<extension point="org.eclipse.help.contexts">
		<contexts file="helpContexts.xml"  />
	</extension>
<!-- Actions contributed to the Model Resources -->
   <extension
		id="ShowModelStatisticsAction"
		name="%showModelStatisticsAction.name"
        point="org.teiid.designer.ui.modelResourceAction">
      <resourceAction
         name="com.metamatrix.modeler.internal.ui.actions.ShowModelStatisticsAction"
         label="%showModelStatisticsAction.label">
      </resourceAction>
   </extension>
   <extension
		id="BuildModelImportsAction"
		name="%buildModelImportsAction.name"
        point="org.teiid.designer.ui.modelResourceAction">
      <resourceAction
         name="com.metamatrix.modeler.internal.ui.actions.BuildModelImportsAction"
         label="%buildModelImportsAction.label">
      </resourceAction>
   </extension>
   <extension
		id="ConvertToEnterpriseTypesAction"
		name="%convertToEnterpriseTypesAction.name"
        point="org.teiid.designer.ui.modelResourceAction">
      <resourceAction
         name="com.metamatrix.modeler.internal.ui.actions.ConvertToEnterpriseTypesAction"
         label="%convertToEnterpriseTypesAction.label">
      </resourceAction>
   </extension>
<!-- Actions contributed to the object/model generation -->
   <extension
		id="GenerateXsdSchemaAction2"
		name="%generateXsdSchemaAction.name"
        point="org.teiid.designer.ui.modelObjectSpecialAction">
      <specialAction
         name="com.metamatrix.modeler.internal.ui.actions.GenerateXsdSchemaAction2"
         label="%generateXsdSchemaAction.label">
      </specialAction>
   </extension>
   <extension
		id="SetDatatypeModelingAction"
		name="%setDatatypeModelingAction.name"
        point="org.teiid.designer.ui.modelObjectSpecialAction">
      <specialAction
         name="com.metamatrix.modeler.internal.ui.actions.SetDatatypeModelingAction"
         label="%setDatatypeModelingAction.label">
      </specialAction>
   </extension>

<!-- Adding Model Explorer action to show/hide non-model files -->
	<extension
		point = "org.eclipse.ui.viewActions">
		<viewContribution 
			id="modelerexplorer" 
			targetID="explorer.view">        
			<action id="showNonModelsAction" 
				label="%showNonModelsAction.label"
				style="toggle"
				menubarPath="menuStart"
				tooltip="%showNonModelsAction.tooltip" 
				class="com.metamatrix.modeler.internal.ui.actions.ShowNonModelsAction" 
				enablesFor="*"> 
			</action>
		</viewContribution>
	</extension>
<!-- The Auto Open Editor General Preference -->
   <extension
         point="org.teiid.designer.ui.generalPreferenceContributor">
      <category
            id="modeler.ui.modelCategory"
            name="%modelCategory">
      </category>
<!-- Auto Open Editor General Preference -->
      <preference
            id="autoOpenEditorPreferenceContributor"
            categoryId="modeler.ui.modelCategory"
            class="com.metamatrix.modeler.internal.ui.preferences.AutoOpenEditorPreferenceContributor">
      </preference>
            <preference
            id="autoUpdateImportsPreferenceContributor"
            categoryId="modeler.ui.modelCategory"
            class="com.metamatrix.modeler.internal.ui.preferences.AutoUpdateImportsPreferenceContributor">
      </preference>
      <preference
            id="logicalAsRelationalPreferenceContributor"
            categoryId="modeler.ui.modelCategory"
            class="com.metamatrix.modeler.internal.ui.preferences.LogicalAsRelationalPreferenceContributor">
      </preference>      
	</extension>

</plugin>
