<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  JBoss, Home of Professional Open Source.

  See the LEGAL.txt file distributed with this work for information regarding copyright ownership and licensing.

  See the AUTHORS.txt file distributed with this work for a full listing of individual contributors.
-->
<plugin>

    
<!--
   	Each extension below represents a single metamodel.  Each metmodel is
   	registered using under the specified <uri> value which must be the same
   	eNS_URI value defined in the EPackage class for that metamodel.
   -->
   <extension
         id="relational"
         name="%metamodelName"
         point="org.teiid.designer.core.metamodel">
      <uri>
         http://www.metamatrix.com/metamodels/Compare
      </uri>
      <alternateUri>
         mtkplugin:///org.teiid.designer.metamodels.Compare
      </alternateUri>
      <rootEntityClass
            name="org.teiid.designer.compare.DifferenceReport">
      </rootEntityClass>
      <properties
            createAsPhysical="true"
            requiresProxies="false"
            participatoryOnly="false"
            createAsVirtual="false"
            supportsDiagrams="false"
            supportsExtension="false">
      </properties>
      <packageClass
            name="org.teiid.designer.compare.ComparePackage">
      </packageClass>
      <adapterClass
            name="org.teiid.designer.compare.provider.CompareItemProviderAdapterFactory">
      </adapterClass>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.metamatrix.com/metamodels/Compare"
            class="org.teiid.designer.compare.ComparePackage">
      </package>
   </extension>

</plugin>
