<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  JBoss, Home of Professional Open Source.

  See the LEGAL.txt file distributed with this work for information regarding copyright ownership and licensing.

  See the AUTHORS.txt file distributed with this work for a full listing of individual contributors.
-->
<plugin>
 
	<extension point="org.eclipse.datatools.connectivity.driverExtension">
		<category parentCategory="org.eclipse.datatools.connectivity.db.driverCategory"
			id="org.teiid.datatools.connectivity.driver.teiidCategory"
			name="Teiid"
			description="Drivers for Teiid Federating Query Engine" />
		
		<driverTemplate
        createDefault="false"
        defaultDefinitionName="Teiid Server Driver"
        description="Driver for the Teiid Federating Query Engine"
        emptyJarListIsOK="false"
        id="org.teiid.datatools.connectivity.driver.serverDriverTemplate"
        jarList="TEIID_HOME/client/teiid-version-client.jar"
        name="Teiid Server JDBC Driver"
        parentCategory="org.teiid.datatools.connectivity.driver.teiidCategory">
			<properties>
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.driverClass" name="Driver Class"
					value="org.teiid.jdbc.TeiidDriver" required="true" visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.vendor" name="Vendor"
					value="Teiid" required="true" visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.version" name="Version"
					value="7.x" required="true" visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.URL" name="Connection URL"
					value="jdbc:teiid:vdb-name@mms://localhost:31000" required="false"
					visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.username" name="User ID"
					value="" required="false" visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.password" name="Password"
					value="" required="false" visible="true" />
			</properties>
		</driverTemplate>

	</extension>
 <extension
       point="org.eclipse.datatools.connectivity.sqm.core.databaseDefinition">
    <definition
          allowsConnections="true"
          description="Definition of the Teiid Database"
          file="src/org/teiid/datatools/connectivity/database/teiidDB.xmi"
          product="Teiid"
          productDisplayString="Teiid"
          version="7.x"
          versionDisplayString="7.x">
    </definition>
 </extension>
 <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
         <category
            id="org.eclipse.datatools.connectivity.db.category"
            name="Database Connections"/>
      <connectionProfile
            category="org.eclipse.datatools.connectivity.db.category"
            icon="icons/jdbc_16.gif"
            id="org.teiid.datatools.connectivity.connectionProfile"
            name="Teiid Virtual Database"
            pingFactory="org.teiid.datatools.connectivity.TeiidJDBCConnectionFactory"
            propertiesPersistenceHook="org.teiid.datatools.connectivity.TeiidPersistanceHook"/>
      <connectionFactory
            class="org.teiid.datatools.connectivity.TeiidJDBCConnectionFactory"
            id="java.sql.Connection"
            name="JDBC Connection"
            profile="org.teiid.datatools.connectivity.connectionProfile"/>
   </extension>
   
   <extension
    	point="org.eclipse.datatools.connectivity.sqm.core.mappings">
       <providerIDtoDriverCategoryID
          driverCategoryID="org.teiid.datatools.connectivity.driver.teiidCategory"
          providerID="org.teiid.datatools.connectivity.connectionProfile">
       </providerIDtoDriverCategoryID>
    </extension>
    
   <extension
         point="org.eclipse.datatools.connectivity.sqm.core.catalog">
      <overrideLoader
            provider="org.teiid.datatools.connectivity.sql.TeiidSchemaLoader"
            eclass="org.eclipse.datatools.modelbase.sql.schema.Schema"
            product="Teiid"
            version="7.x"/>
   </extension>
   
      <extension
         point="org.eclipse.datatools.connectivity.sqm.core.logicalContainment">
      <containment
            class="TeiidSchema"
            package="http:///org/teiid/datatools/connectivity/teiidsqlmodel.ecore"
            provider="org.teiid.datatools.connectivity.sql.TeiidSchemaContainmentProvider">
      </containment>
      <containment
            class="Document"
            package="http:///org/teiid/datatools/connectivity/teiidsqlmodel.ecore"
            provider="org.teiid.datatools.connectivity.sql.TeiidDocumentContainmentProvider">
      </containment>
   </extension>

</plugin>
