<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  JBoss, Home of Professional Open Source.

  See the LEGAL.txt file distributed with this work for information regarding copyright ownership and licensing.

  See the AUTHORS.txt file distributed with this work for a full listing of individual contributors.
-->
<plugin>
 
	<extension point="org.eclipse.datatools.connectivity.driverExtension">
		<category parentCategory="org.eclipse.datatools.connectivity.db.driverCategory"
			id="org.teiid.datatools.connectivity.driver.teiidCategory"
			name="Teiid"
			description="Drivers for Teiid Federating Query Engine" />

  <!-- Used for the adhoc teiid driver by ConnectivityUtil if no other driver can be
         found to satisfy the teiid version.
  -->
  <driverTemplate
        createDefault="false"
        defaultDefinitionName="%AD_HOC_TEIID_DRIVER_DEFAULT_INSTANCE_NAME"
        description="%AD_HOC_TEIID_DRIVER_TEMPLATE_DESCRIPTION"
        emptyJarListIsOK="true"
        id="org.teiid.datatools.connectivity.driver.serverDriverTemplate"
        name="%AD_HOC_TEIID_DRIVER_TEMPLATE_NAME"
        parentCategory="org.teiid.datatools.connectivity.driver.teiidCategory">
  </driverTemplate>
		

	</extension>
 <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
         <category
            id="org.eclipse.datatools.connectivity.db.category"
            name="Database Connections"/>
      <connectionProfile
            category="org.eclipse.datatools.connectivity.db.category"
            icon="icons/jdbc_16.gif"
            id="org.teiid.datatools.connectivity.connectionProfile"
            name="Teiid Virtual Database"
            pingFactory="org.teiid.datatools.connectivity.TeiidJDBCConnectionFactory"
            propertiesPersistenceHook="org.teiid.datatools.connectivity.TeiidPersistanceHook"/>
      <connectionFactory
            class="org.teiid.datatools.connectivity.TeiidJDBCConnectionFactory"
            id="java.sql.Connection"
            name="JDBC Connection"
            profile="org.teiid.datatools.connectivity.connectionProfile"/>
   </extension>
   
   <extension
    	point="org.eclipse.datatools.connectivity.sqm.core.mappings">
       <providerIDtoDriverCategoryID
          driverCategoryID="org.teiid.datatools.connectivity.driver.teiidCategory"
          providerID="org.teiid.datatools.connectivity.connectionProfile">
       </providerIDtoDriverCategoryID>
    </extension>
    
   
      <extension
         point="org.eclipse.datatools.connectivity.sqm.core.logicalContainment">
      <containment
            class="TeiidSchema"
            package="http:///org/teiid/datatools/connectivity/teiidsqlmodel.ecore"
            provider="org.teiid.datatools.connectivity.sql.TeiidSchemaContainmentProvider">
      </containment>
      <containment
            class="Document"
            package="http:///org/teiid/datatools/connectivity/teiidsqlmodel.ecore"
            provider="org.teiid.datatools.connectivity.sql.TeiidDocumentContainmentProvider">
      </containment>
   </extension>

</plugin>
