<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  JBoss, Home of Professional Open Source.

  See the LEGAL.txt file distributed with this work for information regarding copyright ownership and licensing.

  See the AUTHORS.txt file distributed with this work for a full listing of individual contributors.
-->
<plugin>

    
<!--
   	Each extension below represents a single metamodel.  Each metmodel is
   	registered using under the specified <uri> value which must be the same
   	eNS_URI value defined in the EPackage class for that metamodel.
   -->
   <extension
         id="core"
         name="%metamodelName"
         point="org.teiid.designer.core.metamodel">
      <uri>
         http://www.metamatrix.com/metamodels/Core
      </uri>
      <alternateUri>
         mtkplugin:///com.metamatrix.metamodels.Core
      </alternateUri>
      <packageClass
            name="com.metamatrix.metamodels.core.CorePackage">
      </packageClass>
      <adapterClass
            name="com.metamatrix.metamodels.core.provider.CoreItemProviderAdapterFactory">
      </adapterClass>
      <properties
            createAsPhysical="false"
            requiresProxies="false"
            participatoryOnly="true"
            createAsVirtual="false"
            supportsDiagrams="true"
            supportsExtension="true">
      </properties>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.metamatrix.com/metamodels/Core"
            class="com.metamatrix.metamodels.core.CorePackage">
      </package>
   </extension>

   <extension
         id="extension"
         name="%extensionMetamodelName"
         point="org.teiid.designer.core.metamodel">
      <uri>
         http://www.metamatrix.com/metamodels/Extension
      </uri>
      <alternateUri>
         mtkplugin:///com.metamatrix.metamodels.Extension
      </alternateUri>
      <packageClass
            name="com.metamatrix.metamodels.core.extension.ExtensionPackage">
      </packageClass>
      <adapterClass
            name="com.metamatrix.metamodels.core.extension.provider.ExtensionItemProviderAdapterFactory">
      </adapterClass>
      <properties
            createAsPhysical="true"
            requiresProxies="false"
            participatoryOnly="false"
            createAsVirtual="false"
            supportsDiagrams="true"
            supportsExtension="true">
      </properties>
      <allowableModelType>
      	EXTENSION
      </allowableModelType>
      <rootEntityClass
            name="com.metamatrix.metamodels.core.extension.XPackage">
      </rootEntityClass>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.metamatrix.com/metamodels/Extension"
            class="com.metamatrix.metamodels.core.extension.ExtensionPackage">
      </package>
   </extension>

   <extension
         id="ecore"
         name="%ecoremetamodelName"
         point="org.teiid.designer.core.metamodel">
      <uri>
         http://www.eclipse.org/emf/2002/Ecore
      </uri>
      <alternateUri>
         mtkplugin:///www.eclipse.org/emf/2002/Ecore
      </alternateUri>
      <packageClass
            name="org.eclipse.emf.ecore.EcorePackage">
      </packageClass>
      <adapterClass
            name="org.eclipse.emf.ecore.provider.EcoreItemProviderAdapterFactory">
      </adapterClass>
      <rootEntityClass
            name="org.eclipse.emf.ecore.EPackage">
      </rootEntityClass>
      <properties
            createAsPhysical="false"
            requiresProxies="false"
            participatoryOnly="false"
            createAsVirtual="false" 
            supportsExtension="false">
      </properties>
   </extension>

</plugin>
