<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  JBoss, Home of Professional Open Source.

  See the LEGAL.txt file distributed with this work for information regarding copyright ownership and licensing.

  See the AUTHORS.txt file distributed with this work for a full listing of individual contributors.
-->
<plugin>

    
<!-- ============================================== -->
<!-- Define the main book                           -->
<!-- ============================================== -->
   <extension point="org.eclipse.help.toc">
      <toc file="designer_toc.xml" primary="true" /> 
      <toc file="QuerySupportBook.xml" primary="true" />
   </extension>
<!-- =============================================== -->
<!-- Link the sections into the book                 -->
<!-- =============================================== -->
   <extension point="org.eclipse.help.toc">
      <toc file="getting_started.xml"/>
      <toc file="designer_overview.xml"/>
      <toc file="how_tos.xml"/>
      <toc file="QuerySupportRef.xml"/>
   </extension>

    <extension point="org.eclipse.ui.intro.configExtension">
        <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/samplesExtensionContent.xml"/>
    </extension>

</plugin>
