<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  JBoss, Home of Professional Open Source.

  See the LEGAL.txt file distributed with this work for information regarding copyright ownership and licensing.

  See the AUTHORS.txt file distributed with this work for a full listing of individual contributors.
-->
<plugin>

    
<!-- Extension Points -->
   <extension-point id="jdbcImportPostProcessor" name="%jdbcImportPostProcessor.name" schema="schema/jdbcImportPostProcessor.exsd"/>

<!-- Eclipse Import Wizards -->
   <extension
         point="org.eclipse.ui.importWizards">
<!-- JDBC Import Wizard -->
      <wizard
            name="%importDatabaseViaJdbcWizard.name"
            icon="icons/full/ctool16/jdbc_import.gif"
            category="com.metamatrix.modeler.ui"
            class="com.metamatrix.modeler.internal.jdbc.ui.wizards.JdbcImportWizard"
            id="jdbcImportWizard">
         <description>
            %importDatabaseViaJdbcWizard.description
         </description>
      </wizard>
  </extension>
  
   <extension
		id="JdbcCostAnalysisAction"
		name="%jdbcCostAnalysisAction.name"
        point="org.teiid.designer.ui.modelResourceAction">
      <resourceAction
         name="com.metamatrix.modeler.internal.jdbc.ui.actions.JdbcCostAnalysisAction"
         label="%jdbcCostAnalysisAction.label">
      </resourceAction>
   </extension>
   
      <extension
       id="com.metamatrix.modeler.internal.jdbc.ui.wizard.JDBCConnectionInfoProvider"
       name="JDBCConnectionInfoProvider"
       point="org.teiid.designer.datatools.ConnectionInfoProvider">
       <ConnectionInfoHelper
            category="org.eclipse.datatools.connectivity.db.category"
            class="com.metamatrix.modeler.internal.jdbc.ui.wizards.JDBCConnectionInfoProvider"/>
   </extension>
</plugin>
