<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  JBoss, Home of Professional Open Source.

  See the LEGAL.txt file distributed with this work for information regarding copyright ownership and licensing.

  See the AUTHORS.txt file distributed with this work for a full listing of individual contributors.
-->
<plugin>

<!-- Model Editors -->
   <extension
         point="org.eclipse.ui.editors">
<!-- VDB Editor -->
      <editor
            name="%vdbEditor"
            default="true"
            icon="platform:/plugin/org.teiid.designer.ui/icons/full/obj16/VDB.gif"
            extensions="vdb"
            class="org.teiid.designer.vdb.ui.editor.VdbEditor"
            id="vdbEditor">
      </editor>
   </extension>

<!-- New wizards -->
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%modelCategory"
            id="org.teiid.designer.ui">
      </category>
<!-- New VDB wizard -->
      <wizard
            name="%newVdbWizard"
            icon="icons/full/ctool16/newvdb_wiz.gif"
            category="org.teiid.designer.ui"
            class="org.teiid.designer.vdb.ui.wizards.NewVdbWizard"
            id="newVdbWizard">
         <description>
            %newVdbWizardDescription
         </description>
      </wizard>
   </extension> 
<!-- Modeler VDB Import wizard 
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            name="%importVdbWizard.name"
            icon="icons/full/ctool16/importvdb.gif"
            class="org.teiid.designer.vdb.ui.wizards.ImportVdbWizard"
            id="importVdbWizard">
         <description>
            %importVdbWizard.description
         </description>
      </wizard>
   </extension> 
-->

<!-- VDB Editor Preference Page -->
   <extension
        point="org.teiid.designer.ui.common.editorPreferences">
        <editorPreferenceComponent class="org.teiid.designer.vdb.ui.preferences.VdbPreferencePage" />
   </extension>   
   
<!-- VDB Validation - Builder -->
   <extension
         id="vdbBuilder"
         name="%vdbBuilder.name"
         point="org.eclipse.core.resources.builders">
      <builder
         callOnEmptyDelta="false"
         hasNature="true"
         isConfigurable="false"
         supportsConfigurations="false">
         <run
            class="org.teiid.designer.vdb.ui.build.VdbBuilder">
            <parameter name="optimize" value="true"/>
            <parameter name="comment" value="%vdbBuilder.name"/>
         </run>
      </builder>
   </extension>
   <extension
         id="vdbMarker"
         name="%vdbMarker"
         point="org.eclipse.core.resources.markers">
         <super type="org.eclipse.core.resources.problemmarker" />
         <persistent value="true" />
   </extension>
   
<!-- QuickFix extension to reset invalid model path after moving model -->
	<extension point="org.eclipse.ui.ide.markerResolution"> 
	   <markerResolutionGenerator 
	      class="org.teiid.designer.vdb.ui.build.VdbMarkerResolutionGenerator" 
	      markerType="org.teiid.designer.vdb.ui.vdbMarker"> 
          <attribute name="wrongPath" value="true"/>
       </markerResolutionGenerator> 
	</extension>
	<extension point="org.eclipse.ui.ide.markerResolution"> 
	   <markerResolutionGenerator 
	      class="org.teiid.designer.vdb.ui.build.VdbOutOfSyncMarkerResolutionGenerator" 
	      markerType="org.teiid.designer.vdb.ui.vdbMarker"> 
          <attribute name="outOfSync" value="true"/>
       </markerResolutionGenerator> 
	</extension> 
	<extension point="org.eclipse.ui.ide.markerResolution"> 
	   <markerResolutionGenerator 
	      class="org.teiid.designer.vdb.ui.build.VdbMissingUuidMarkerResolutionGenerator" 
	      markerType="org.teiid.designer.vdb.ui.vdbMarker"> 
          <attribute name="missingUuid" value="true"/>
       </markerResolutionGenerator> 
	</extension>
	<extension point="org.eclipse.ui.ide.markerResolution"> 
	   <markerResolutionGenerator 
	      class="org.teiid.designer.vdb.ui.build.VdbModelNotInProjectMarkerResolutionGenerator" 
	      markerType="org.teiid.designer.vdb.ui.vdbMarker"> 
          <attribute name="missingModel" value="true"/>
       </markerResolutionGenerator> 
	</extension>
	<extension point="org.eclipse.ui.ide.markerResolution"> 
	   <markerResolutionGenerator 
	      class="org.teiid.designer.vdb.ui.build.VdbDifferentServerVersionResolutionGenerator" 
	      markerType="org.teiid.designer.vdb.ui.vdbMarker"> 
          <attribute name="differentValidationVersion" value="true"/>
       </markerResolutionGenerator>
    <markerResolutionGenerator
          class="org.teiid.designer.vdb.ui.build.VdbDuplicateNamesMarkerResolutionGenerator"
          markerType="org.teiid.designer.vdb.ui.vdbMarker">
       <attribute
             name="duplicateModelNames"
             value="true">
       </attribute>
    </markerResolutionGenerator>
	</extension>
	  <extension
         point="org.teiid.designer.core.refactorModelHandler">
      <refactorHandler
            name="org.teiid.designer.vdb.ui.util.VdbUiRefactorHandler">
      </refactorHandler>
   </extension> 
</plugin>
