<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  JBoss, Home of Professional Open Source.

  See the LEGAL.txt file distributed with this work for information regarding copyright ownership and licensing.

  See the AUTHORS.txt file distributed with this work for a full listing of individual contributors.
-->
<plugin>

    
<!--
   	Each extension below represents a single metamodel.  Each metmodel is
   	registered using under the specified <uri> value which must be the same
   	eNS_URI value defined in the EPackage class for that metamodel.
   -->
   <extension
         id="webservice"
         name="%metamodelName"
         point="org.teiid.designer.core.metamodel">
      <uri>
         http://www.metamatrix.com/metamodels/WebService
      </uri>
      <alternateUri>
         mtkplugin:///com.metamatrix.metamodels.WebService
      </alternateUri>
      <rootEntityClass
            name="com.metamatrix.metamodels.webservice.Interface">
      </rootEntityClass>
      <properties
            createAsPhysical="false"
            requiresProxies="false"
            participatoryOnly="false"
            createAsVirtual="true"
            supportsDiagrams="true"
            supportsExtension="true">
      </properties>
      <allowableModelType>
      	VIRTUAL
      </allowableModelType>
      <packageClass
            name="com.metamatrix.metamodels.webservice.WebServicePackage">
      </packageClass>
      <adapterClass
            name="com.metamatrix.metamodels.webservice.provider.WebServiceItemProviderAdapterFactory">
      </adapterClass>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.metamatrix.com/metamodels/WebService"
            class="com.metamatrix.metamodels.webservice.WebServicePackage">
      </package>
   </extension>


<!-- MetamodelAspect extensions -->
   <extension
         id="webserviceSqlAspect"
         point="org.teiid.designer.core.sqlAspect">
      <metamodelExtensionID>
         webservice
      </metamodelExtensionID>
      <factoryClass
            name="com.metamatrix.metamodels.webservice.aspects.sql.WebServiceSqlAspectFactoryImpl">
      </factoryClass>
   </extension>
   <extension
         id="webserviceUmlAspect"
         point="org.teiid.designer.core.umlDiagramAspect">
      <metamodelExtensionID>
         webservice
      </metamodelExtensionID>
      <factoryClass
            name="com.metamatrix.metamodels.webservice.aspects.uml.WebServiceUmlAspectFactoryImpl">
      </factoryClass>
   </extension>
   <extension
         id="webserviceValidationAspect"
         point="org.teiid.designer.core.validationAspect">
      <metamodelExtensionID>
         webservice
      </metamodelExtensionID>
      <factoryClass
            name="com.metamatrix.metamodels.webservice.aspects.validation.WebServiceValidationAspectFactoryImpl">
      </factoryClass>
   </extension>

<!-- EObject Matcher extensions -->
   <extension
         id="webserviceMatcherFactory"
         point="org.teiid.designer.core.eobjectMatcherFactory">
      <class
            name="com.metamatrix.metamodels.webservice.compare.WebServiceMatcherFactory">
      </class>
   </extension>
   
<!-- Designates valid extensible metamodel -->
   <extension
         point="org.teiid.designer.extension.extensibleMetamodelProvider">
      <definition 
            metamodelUri="http://www.metamatrix.com/metamodels/WebService">
      </definition>
   </extension>

</plugin>
