<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  JBoss, Home of Professional Open Source.

  See the LEGAL.txt file distributed with this work for information regarding copyright ownership and licensing.

  See the AUTHORS.txt file distributed with this work for a full listing of individual contributors.
-->
<plugin>
   <extension
         id="relationalModelTextImporter"
         name="%relationalModelTextImporter"
         point="org.teiid.designer.tools.textimport.ui.textImportContributor">
      <class
        name="com.metamatrix.modeler.internal.relational.ui.wizards.RelationalModelTextImporterMainPage">
      </class>
   </extension>
     <!-- Text Importer Contribution -->
      <extension
         id="relationalUiTextImporter"
         name="%relationalUiTextImporter"
         point="org.teiid.designer.tools.textimport.ui.textImportContributor">
      <class
        name="com.metamatrix.modeler.internal.relational.ui.wizards.ImportRelationalTablesMainPage">
      </class>
   </extension>
   <extension
         id="flatFileRelationalModelContributor"
         name="%flatFileRelationalModelContributor"
         point="org.teiid.designer.ui.newModelWizardContributor">
      <class
            name="com.metamatrix.modeler.relational.ui.flatfile.FlatFileRelationalModelContributor"
            icon="icons/full/ctool16/newmodel_wiz.gif">
      </class>
      <metamodelDescriptorType
            name="http://www.metamatrix.com/metamodels/Relational"
            isPhysical="true"
            isVirtual="false">
      </metamodelDescriptorType>
   </extension>
   <extension
         id="webServiceRelationalModelContributor"
         name="%webServiceRelationalModelContributor"
         point="org.teiid.designer.ui.newModelWizardContributor">
      <class
            name="com.metamatrix.modeler.relational.ui.webservice.WebServiceRelationalModelContributor"
            icon="icons/full/ctool16/newmodel_wiz.gif">
      </class>
      <metamodelDescriptorType
            name="http://www.metamatrix.com/metamodels/Relational"
            isPhysical="true"
            isVirtual="false">
      </metamodelDescriptorType>
   </extension>
</plugin>
