<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.jdom"
   name="%pluginName"
   version="1.0"
   provider-name="%providerName">

   <runtime>
      <library name="jdom.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.apache.xerces" version="2.9.0"/>
   </requires>

</plugin>
