<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.teiid.designer.spi.teiidRuntimeClient">
      <runtimeFactory
            class="org.teiid82.runtime.ExecutionAdminFactory">
         <version
               major="8"
               minor="x"
               micro="x">
         </version>
      </runtimeFactory>
   </extension>

</plugin>
