<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  JBoss, Home of Professional Open Source.

  See the LEGAL.txt file distributed with this work for information regarding copyright ownership and licensing.

  See the AUTHORS.txt file distributed with this work for a full listing of individual contributors.
-->
<plugin>

    
<!-- ============================================== -->
<!-- Define the main book                           -->
<!-- ============================================== -->
   <extension point="org.eclipse.help.toc">
      <toc file="toc.xml" primary="true"></toc>
   </extension>
<!--    <toc file="designer_toc.xml" primary="false" /> -->
<!-- =============================================== -->
<!-- Link the sections into the book                 -->
<!-- =============================================== -->
<!-- 
   <extension point="org.eclipse.help.toc">
      <toc file="getting_started.xml"/>
      <toc file="designer_overview.xml"/>
      <toc file="how_tos.xml"/>
   </extension>
   -->
<!-- 
  <extension point="org.eclipse.help.index">
    <index file="index.xml"></index>
  </extension>
   -->
</plugin>
