<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  JBoss, Home of Professional Open Source.

  See the LEGAL.txt file distributed with this work for information regarding copyright ownership and licensing.

  See the AUTHORS.txt file distributed with this work for a full listing of individual contributors.
-->
<plugin>

     <extension-point id="style" name="%extension-point.name.0"/>

<!-- 
      The <xsltPath/> for the "com.metamatrix.modeler.ddl.style" extensions can be specified two ways:
      (1) using "platform:/plugin/<plugin_id>/<xslt_path_within_plugin>" should be used
          when the XSLT is not within a jar file but instead simply exists within the plugin
      (2) using simply the package-scoped filename if the XSLT is stored within a jar
          and is accessible with this plugin's class loader.
   -->
   <extension
         id="oracleDdlStyle"
         name="Oracle 8i/9i DDL"
         point="com.metamatrix.modeler.ddl.style">
      <description>
         Generates DDL for Oracle 8i/9i
      </description>
      <xsltPath>
         platform:/plugin/com.metamatrix.modeler.ddl/xslt/DDL_oracle8_1_6.xsl
      </xsltPath>
   </extension>
   <extension
         id="db2DdlStyle"
         name="IBM DB2 7.x DDL"
         point="com.metamatrix.modeler.ddl.style">
      <description>
         Generates DDL for IBM DB2 7.x and above
      </description>
      <xsltPath>
         platform:/plugin/com.metamatrix.modeler.ddl/xslt/DDL_db2_7x.xsl
      </xsltPath>
   </extension>
   <extension
         id="sqlServerDdlStyle"
         name="Microsoft SQL Server DDL"
         point="com.metamatrix.modeler.ddl.style">
      <description>
         Generates DDL for IBM DB2 7.x and above
      </description>
      <xsltPath>
         platform:/plugin/com.metamatrix.modeler.ddl/xslt/DDL_sqlserver_7x.xsl
      </xsltPath>
   </extension>
   <extension
         id="mysqlDdlStyle"
         name="MySQL DDL"
         point="com.metamatrix.modeler.ddl.style">
      <description>
         Generates DDL for MySQL 5.0 and above
      </description>
      <xsltPath>
         platform:/plugin/com.metamatrix.modeler.ddl/xslt/DDL_mysql.xsl
      </xsltPath>
   </extension>   
   <extension
         id="xmlDdlStyle"
         name="Passthrough (intermediate XML form)"
         point="com.metamatrix.modeler.ddl.style">
      <description>
         Generates the intermediate XML format sent to the XSLTs during DDL generation
      </description>
      <xsltPath>
         platform:/plugin/com.metamatrix.modeler.ddl/xslt/DDL_passthrough.xsl
      </xsltPath>
   </extension>

</plugin>
