<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  JBoss, Home of Professional Open Source.

  See the LEGAL.txt file distributed with this work for information regarding copyright ownership and licensing.

  See the AUTHORS.txt file distributed with this work for a full listing of individual contributors.
-->
<plugin>
     <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            name="%importXsdAsRelationalWizard.name"
            icon="icons/full/ctool16/newmodel_wiz.gif"
            category="com.metamatrix.modeler.ui"
            class="com.metamatrix.modeler.modelgenerator.xml.wizards.XsdAsRelationalImportWizard"
            id="XsdAsRelationalImportWizard">
         <description>
            %importXsdAsRelationalWizard.description
         </description>
      </wizard>
   </extension>
   
<!-- Define the model processor for the xml-as-relational drivers -->
   <extension
         id="xmlSchemaAsRelationalModelProcessor"
         name="XML Schema As Relational Model Processor"
         point="org.teiid.designer.jdbc.relational.modelProcessor">
      <driverClass
            name="com.metamatrix.modeler.modelgenerator.xml.wizards.jdbc.XmlImporterJdbcDriver">
      </driverClass>
      <processorClass
            name="com.metamatrix.modeler.modelgenerator.xml.wizards.jdbc.XmlSchemaAsRelationalModelProcessor">
      </processorClass>
   </extension>

<!-- Modeler preferences -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%modelerXmlAsRelationalPreferences"
            category="modelerPreferencePage"
            class="com.metamatrix.modeler.modelgenerator.xml.wizards.PreferencePage"
            id="modelgenerator.xml.wizards.PreferencePage">
      </page>
   </extension>

<extension point="org.eclipse.ui.popupMenus">
      
	  <viewerContribution 
	  		id="com.metamatrix.modeler.modelgenerator.xml.action.CreateScalarToXMLTransformationGraph"
			targetID="org.eclipse.wst.xsd.ui.popup.graph">
		
      	  <menu
         	id="com.metamatrix.modeler.modelgenerator.xml.graph.action"
         	label="Modeling"
         	path="additions">
         	<separator name="group1"/>
      	</menu>
      
         <action
               class="com.metamatrix.modeler.modelgenerator.xml.action.CreateXSDElementCreateProcedure"
               enablesFor="1"
               id="com.metamatrix.modeler.modelgenerator.xml.action.ScalarToXMLGraph"
               label="Create Scalar To XML Transformation"
               menubarPath="com.metamatrix.modeler.modelgenerator.xml.graph.action/group1">
               <enablement>
               <and>
            	<objectClass name="org.eclipse.wst.xsd.ui.internal.adapters.XSDElementDeclarationAdapter"/>
               </and>
               </enablement>
          </action>
                 <action
               class="com.metamatrix.modeler.modelgenerator.xml.action.CreateXSDElementParseProcedure"
               enablesFor="1"
               id="com.metamatrix.modeler.modelgenerator.xml.action.XMLToScalarGraph"
               label="Create XML To Scalar Transformation"
               menubarPath="com.metamatrix.modeler.modelgenerator.xml.graph.action/group1">
               <enablement>
               <and>
            	<objectClass name="org.eclipse.wst.xsd.ui.internal.adapters.XSDElementDeclarationAdapter"/>
               </and>
               </enablement>
               </action>
          
          </viewerContribution>
        <viewerContribution 
	  		id="com.metamatrix.modeler.modelgenerator.xml.action.ParseScalarToXMLTransformationOutline"
			targetID="org.eclipse.wst.xsd.ui.popup.outline">
						<menu
         id="com.metamatrix.modeler.modelgenerator.xml.outline.action"
         label="Modeling"
         path="additions">
      <separator name="group1"/>
      </menu>
        <action
               class="com.metamatrix.modeler.modelgenerator.xml.action.CreateXSDElementCreateProcedure"
               enablesFor="1"
               id="com.metamatrix.modeler.modelgenerator.xml.action.ScalarToXMLOutline"
               label="Create Scalar To XML Transformation"
               menubarPath="com.metamatrix.modeler.modelgenerator.xml.outline.action/group1">
               <enablement>
               <and>
            	<objectClass name="org.eclipse.wst.xsd.ui.internal.adapters.XSDElementDeclarationAdapter"/>
               </and>
               </enablement>
          </action>
         <action
               class="com.metamatrix.modeler.modelgenerator.xml.action.CreateXSDElementParseProcedure"
               enablesFor="1"
               id="com.metamatrix.modeler.modelgenerator.xml.action.XMLToScalarOutline"
               label="Create XML To Scalar Transformation"
               menubarPath="com.metamatrix.modeler.modelgenerator.xml.outline.action/group1">
               <enablement>
               <and>
            	<objectClass name="org.eclipse.wst.xsd.ui.internal.adapters.XSDElementDeclarationAdapter"/>
               </and>
               </enablement>
               </action>
		</viewerContribution>
	</extension>
	<extension
		id="CreateXMLToScalarTransformation"
		name="Create XML To Scalar Transformation"
        point="org.teiid.designer.ui.modelObjectSpecialAction">
      <specialAction
         name="com.metamatrix.modeler.modelgenerator.xml.action.CreateXSDElementParseProcedure"
         label="Create XML To Scalar Transformation">
      </specialAction>
   </extension>
   <extension
		id="CreateScalarToXMLTransformation"
		name="Create Scalar To XML Transformation"
        point="org.teiid.designer.ui.modelObjectSpecialAction">
      <specialAction
         name="com.metamatrix.modeler.modelgenerator.xml.action.CreateXSDElementCreateProcedure"
         label="Create Scalar To XML Transformation">
      </specialAction>
   </extension>
</plugin>
