<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  JBoss, Home of Professional Open Source.

  See the LEGAL.txt file distributed with this work for information regarding copyright ownership and licensing.

  See the AUTHORS.txt file distributed with this work for a full listing of individual contributors.
-->
<plugin>

     <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://schemas.xmlsoap.org/wsdl/"
            class="com.metamatrix.metamodels.wsdl.WsdlPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://schemas.xmlsoap.org/wsdl/soap/"
            class="com.metamatrix.metamodels.wsdl.soap.SoapPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://schemas.xmlsoap.org/wsdl/http/"
            class="com.metamatrix.metamodels.wsdl.http.HttpPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://schemas.xmlsoap.org/wsdl/mime/"
            class="com.metamatrix.metamodels.wsdl.mime.MimePackage">
      </package>
   </extension>

<!-- ResourceFactory extensions -->
   <extension
         id="wsdlResourceFactory"
         point="com.metamatrix.modeler.core.resourceFactory">
      <class
         name="com.metamatrix.metamodels.wsdl.io.WsdlResourceFactoryImpl">
      </class>
      <fileExtension>
         wsdl
      </fileExtension>
   </extension>

</plugin>
