<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>${contextName}</display-name>
  <context-param>
    <param-name>javax.ws.rs.Application</param-name>
    <param-value>org.teiid.rest.services.TeiidRestApplication</param-value>
  </context-param>
  <context-param>
		<param-name>resteasy.resources</param-name>
		<param-value>com.wordnik.swagger.jaxrs.listing.ApiListingResourceJSON</param-value>
	</context-param>

	<context-param>
		<param-name>resteasy.providers</param-name>
		<param-value>
    			com.wordnik.swagger.jaxrs.listing.ApiDeclarationProvider
    			,com.wordnik.swagger.jaxrs.listing.ResourceListingProvider
    	</param-value>
	</context-param>
  <listener>
    <listener-class>
            org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap
    </listener-class>
  </listener>
  <servlet>
    <servlet-name>RestDataservice</servlet-name>
    <servlet-class>
            org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestDataservice</servlet-name>
    ${urlPattern}
    <url-pattern>/api-docs/*</url-pattern>
  </servlet-mapping>
  
   <servlet>
		<servlet-name>DefaultJaxrsConfig</servlet-name>
		<servlet-class>com.wordnik.swagger.jaxrs.config.DefaultJaxrsConfig</servlet-class>
		<init-param>
			<param-name>api.version</param-name>
			<param-value>1.0.0</param-value>
		</init-param>
		<init-param>
			<param-name>swagger.api.basepath</param-name>
			<param-value>http://localhost:8080/${contextName}</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
  
  <!--<security-constraint>
	<web-resource-collection>
		<web-resource-name>${warname}</web-resource-name>
		<description>Protects all resources</description>
		<url-pattern>/*</url-pattern>
	</web-resource-collection>		
	<auth-constraint>
		<role-name>${roleName}</role-name>
	</auth-constraint>
	</security-constraint>

	<security-role>
		<role-name>${roleName}</role-name>
	</security-role>

	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>${realmName}</realm-name>
	</login-config>-->
	
</web-app>