<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
 
<!-- =============================================================================== 
 # JBoss, Home of Professional Open Source. 
 # 
 # Copyright (c) 2000, 2009 MetaMatrix, Inc. and Red Hat, Inc. 
 # 
 # Some portions of this file may be copyrighted by other 
 # contributors and licensed to Red Hat, Inc. under one or more 
 # contributor license agreements. See the copyright.txt file in the 
 # distribution for a full listing of individual contributors. 
 # 
 # This program and the accompanying materials 
 # are made available under the terms of the Eclipse Public License v1.0 
 # which accompanies this distribution, and is available at 
 # http://www.eclipse.org/legal/epl-v10.html 
 # ================================================================================== --> 

<plugin>

    
<!-- Extension Points -->
   <extension-point id="jdbcImportPostProcessor" name="%jdbcImportPostProcessor.name" schema="schema/jdbcImportPostProcessor.exsd"/>

<!-- Eclipse Import Wizards -->
   <extension
         point="org.eclipse.ui.importWizards">
<!-- JDBC Import Wizard -->
      <wizard
            name="%importDatabaseViaJdbcWizard.name"
            icon="icons/full/ctool16/jdbc_import.gif"
            category="com.metamatrix.modeler.ui"
            class="com.metamatrix.modeler.internal.jdbc.ui.wizards.JdbcImportWizard"
            id="com.metamatrix.modeler.internal.jdbc.ui.wizards.jdbcImportWizard">
         <description>
            %importDatabaseViaJdbcWizard.description
         </description>
      </wizard>
  </extension>
  
   <extension
		id="com.metamatrix.modeler.internal.jdbc.ui.actions.JdbcCostAnalysisAction"
		name="%jdbcCostAnalysisAction.name"
        point="com.metamatrix.modeler.ui.modelResourceAction">
      <resourceAction
         name="com.metamatrix.modeler.internal.jdbc.ui.actions.JdbcCostAnalysisAction"
         label="%jdbcCostAnalysisAction.label">
      </resourceAction>
   </extension>
</plugin>
