<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  JBoss, Home of Professional Open Source.

  See the LEGAL.txt file distributed with this work for information regarding copyright ownership and licensing.

  See the AUTHORS.txt file distributed with this work for a full listing of individual contributors.
-->
<plugin>

     <extension-point id="userDefinedFunctionModel" name="%extension-point.name.0" schema="schema/userDefinedFunctionModel.exsd"/>

<!-- MetamodelAspect extensions -->
   <extension
         id="transformationValidationAspect"
         point="com.metamatrix.modeler.core.validationAspect">
      <metamodelExtensionID>
         transformation
      </metamodelExtensionID>
      <factoryClass
            name="com.metamatrix.modeler.transformation.aspects.validation.TransformationValidationAspectFactoryImpl">
      </factoryClass>
   </extension>
   <extension
         id="transformationUmlAspect"
         point="com.metamatrix.modeler.core.umlDiagramAspect">
      <metamodelExtensionID>
         transformation
      </metamodelExtensionID>
      <factoryClass
            name="com.metamatrix.modeler.transformation.aspects.uml.TransformationUmlAspectFactoryImpl">
      </factoryClass>
   </extension>
   <extension
         id="transformationSqlAspect"
         point="com.metamatrix.modeler.core.sqlAspect">
      <metamodelExtensionID>
         transformation
      </metamodelExtensionID>
      <factoryClass
            name="com.metamatrix.modeler.transformation.aspects.sql.TransformationSqlAspectFactoryImpl">
      </factoryClass>
   </extension>
<!-- EObject Matcher extensions -->
   <extension
         id="transformationMatcherFactory"
         point="com.metamatrix.modeler.core.eobjectMatcherFactory">
      <class
            name="com.metamatrix.modeler.transformation.compare.TransformationMatcherFactory">
      </class>
   </extension>
<!-- Other extensions -->
   <extension
         id="userDefinedFunctions"
         name="%userDefinedFunctionModel"
         point="com.metamatrix.modeler.transformation.userDefinedFunctionModel">
      <model
            url="platform:/plugin/com.metamatrix.modeler.transformation/UDFs_Project/FunctionDefinitions.xmi">
      </model>
   </extension>   
   <extension
         id="transformationReferenceUpdator"
         point="com.metamatrix.modeler.core.referenceUpdator">
      <class
            name="com.metamatrix.modeler.internal.transformation.util.TransformationReferenceUpdator">
      </class>
   </extension>
         <!-- Helper method to allow external edit for objects. i.e. Delete, Copy, etc.. -->
   <extension
         id="transformationNewModelObjectHelper"
         name="%transformationNewModelObjectHelper"
         point="com.metamatrix.modeler.core.newModelObjectHelper">
      <class
        name="com.metamatrix.modeler.internal.transformation.util.TransformationNewModelObjectHelper">
      </class>
   </extension>
</plugin>
