<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
 
<!-- =============================================================================== 
 # JBoss, Home of Professional Open Source. 
 # 
 # Copyright (c) 2000, 2009 MetaMatrix, Inc. and Red Hat, Inc. 
 # 
 # Some portions of this file may be copyrighted by other 
 # contributors and licensed to Red Hat, Inc. under one or more 
 # contributor license agreements. See the copyright.txt file in the 
 # distribution for a full listing of individual contributors. 
 # 
 # This program and the accompanying materials 
 # are made available under the terms of the Eclipse Public License v1.0 
 # which accompanies this distribution, and is available at 
 # http://www.eclipse.org/legal/epl-v10.html 
 # ================================================================================== --> 

<plugin>

     <extension
         id="xmlVirtualDocumentBuilder"
         name="%xmlVirtualDocumentBuilder"
         point="com.metamatrix.modeler.ui.newModelWizardContributor">
      <class
            name="com.metamatrix.modeler.internal.xml.ui.wizards.VirtualDocumentWizardContributor"
            icon="icons/full/ctool16/newmodel_wiz.gif">
      </class>
      <metamodelDescriptorType
            name="http://www.metamatrix.com/metamodels/XmlDocument"
            isPhysical="false"
            isVirtual="true">
      </metamodelDescriptorType>
   </extension>
   <extension
         id="XmlChoiceObjectEditorPage"
         name="%xmlChoiceEditorName"
         point="com.metamatrix.modeler.ui.modelObjectEditorPage">
      <class
            name="com.metamatrix.modeler.xml.ui.editor.XmlChoiceObjectEditorPage">
      </class>
   </extension>
   <extension
         id="xmlDocumentWizard"
         name="%xmlDocumentWizardName"
         point="com.metamatrix.modeler.ui.newModelObjectWizard">
      <class
            name="com.metamatrix.modeler.internal.xml.ui.wizards.XMLDocumentWizard">
      </class>
      <descriptorType
            name="com.metamatrix.metamodels.xml.XmlDocument">
      </descriptorType>
   </extension>
   <extension
         id="newChildFromSchema"
         name="%newChildFromSchema"
         point="com.metamatrix.modeler.ui.newChildAction">
      <class
            name="com.metamatrix.modeler.internal.xml.ui.actions.BuildFromSchemaAction">
      </class>
   </extension>
<!-- Actions contributed to the object/model generation -->
   <extension
		id="com.metamatrix.modeler.internal.ui.actions.CreateXmlViewFromXsdAction"
		name="%createXmlViewFromXsdAction.name"
        point="com.metamatrix.modeler.ui.modelObjectSpecialAction">
      <specialAction
         name="com.metamatrix.modeler.internal.xml.ui.actions.CreateXmlViewFromXsdAction"
         label="%createXmlViewFromXsdAction.label">
      </specialAction>
   </extension>
<!-- Actions contributed to the object/model generation -->
   <extension
		id="com.metamatrix.modeler.internal.ui.actions.ViewXmlMessageStructureAction"
		name="%viewXmlMessageStructureAction.name"
        point="com.metamatrix.modeler.ui.modelObjectSpecialAction">
      <specialAction
         name="com.metamatrix.modeler.internal.xml.ui.actions.ViewXmlMessageStructureAction"
         label="%viewXmlMessageStructureAction.label">
      </specialAction>
   </extension>

</plugin>
